<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::#section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <th:block id="css">
    </th:block>

    <th:block id="script">
        <script type="text/javascript" th:src="@{/js/mntmgt/cmpny/report/reportRegister.js}"></script>
    </th:block>
</head>
<body id="section">
<nav th:replace="layout/nav :: nav" class="lnb"></nav>
<div class="main-area">
    <div class="inner">
        <div class="main-container">
            <div class="page-tit__wrap">
                <ul class="breadcrumbs">
                    <li><img src="/images/common/home_ico.svg" alt="홈"></li>
                    <li>점검보고서 등록</li>
                </ul>
                <h2 class="page-tit">점검보고서 등록</h2>
            </div>
            <div class="content-item">
                <div class="tit-area">
                    <h3 class="tit-area__tit">기본 정보 입력</h3>
                    <span class="essential-txt">표시는 필수 입력 사항입니다.</span>
                </div>
                <form th:action id="form">
                    <input th:id="reprtNo" th:name="reprtNo" th:value="*{reprtNo}" hidden>
                    <div class="input-area" th:object="${reportDetailDto}">
                        <div class="input-list">
                            <div class="label essential"><span>보고서 구분</span></div>
                            <div class="input-box">
                                <div class="select-list">
                                    <select th:field="*{year}">
                                        <th:block th:each="yearList : ${yearList}">
                                            <option th:value="${yearList}" th:text="${yearList}"></option>
                                        </th:block>
                                    </select>
                                    <select th:field="*{month}">
                                        <th:block th:each="monthList : ${monthList}">
                                            <option th:value="${monthList}" th:text="${monthList}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="input-list">
                            <div class="label essential"><span>학교명</span></div>
                            <div class="input-box">
                                <select th:field="*{orgNm}">
                                    <option th:value="null">선택</option>
                                    <th:block th:each="orgList : ${orgList}">
                                        <option th:value="${orgList.orgCd}" th:text="${orgList.orgNm}"></option>
                                    </th:block>
                                </select>
                            </div>
                        </div>
                        <div class="input-list">
                            <div class="label essential"><span>기간</span></div>
                            <div class="input-box report">
                                <div>
                                    <div class="date">
                                        <div class="date-box">
                                            <input type="text" th:field="*{startDate}" class="datepicker" placeholder="시작일">
                                        </div>
                                        <div class="date-box">
                                            <input type="text" th:field="*{endDate}" class="datepicker" placeholder="종료일">
                                        </div>
                                    </div>
                                    <button class="btn sky">조회</button>
                                </div>
                                <div class="table-container type1">
                                    <table>
                                        <colgroup>
                                            <col width="80px">
                                            <col width="100px">
                                            <col width="120px">
                                            <col width="100px">
                                            <col width="120px">
                                            <col width="*">
                                        </colgroup>
                                        <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>요청자</th>
                                            <th>접수일</th>
                                            <th>담당자</th>
                                            <th>완료일</th>
                                            <th>제목/처리내용</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <th:block th:if="*{year} != null and *{month} != null and *{orgNm} != null and *{startDate} != null and *{endDate} != null">
                                            <tr th:each="mntmgt : ${result}" th:id="|tr_${mntmgtStat.index}|">
                                                <td data-before="No." class="txt-hidden num" th:text="${result.size() - mntmgtStat.index}"></td>
                                                <td data-before="요청자" class="txt-hidden">
                                                    <input type="hidden" th:id="|registerNm_${mntmgtStat.index}|" th:value="${mntmgt.registerNm}">
                                                    <span th:text="${mntmgt.registerNm}"></span>
                                                </td>
                                                <td data-before="접수일" class="txt-hidden" th:id="|registDt_${mntmgtStat.index}|" th:value="${mntmgt.registDt}">
                                                    <input type="hidden" th:id="|registDt_${mntmgtStat.index}|" th:value="${mntmgt.registDt.toLocalDate()}">
                                                    <span th:text="${mntmgt.registDt.toLocalDate()}"></span>
                                                </td>
                                                <td data-before="담당자" class="txt-hidden" th:id="|chargerId_${mntmgtStat.index}|" th:value="${mntmgt.chargerId}">
                                                    <input type="hidden" th:id="|chargerId_${mntmgtStat.index}|" th:value="${mntmgt.chargerId}">
                                                    <span th:text="${mntmgt.chargerNm}"></span>
                                                </td>
                                                <td data-before="완료일" class="txt-hidden" th:id="|comptDe_${mntmgtStat.index}|" th:value="${mntmgt.comptDe}">
                                                    <input type="hidden" th:id="|comptDe_${mntmgtStat.index}|" th:value="${mntmgt.comptDe.toLocalDate()}">
                                                    <span th:text="${mntmgt.comptDe ne null and mntmgt.comptDe ne '' ? mntmgt.comptDe.toLocalDate() : ''}"></span>
                                                </td>
                                                <td class="main-txt report">
                                                    <input type="hidden" th:id="|sj_${mntmgtStat.index}|" th:value="${mntmgt.sj}">
                                                    <span th:text="${mntmgt.sj ne null and mntmgt.sj ne '' ? mntmgt.sj : '-'}"></span>
                                                    <input type="hidden" th:id="|processCn_${mntmgtStat.index}|" th:value="${mntmgt.processCn}">
                                                    <span class="small gray block" th:text="${mntmgt.processCn ne null and mntmgt.processCn ne '' ? mntmgt.processCn : '-'}"></span>
                                                </td>
                                            </tr>
                                        </th:block>
                                        <th:block th:if="*{year} == null or *{month} == null or *{orgNm} == null or *{startDate} == null or *{endDate} == null">
                                            <div th:replace="mber/cmp/report/layout/reportListLayout :: reportList"></div>
                                        </th:block>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="input-list">
                            <div class="label"><span>기타 지원사항</span></div>
                            <div class="input-box">
                                <textarea th:id="memo" th:name="memo" th:text="*{memo}" placeholder="처리 내용을 입력해 주세요"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="btn-area">
                    <button type="button" class="btn gray" onclick="pageObj.close()">취소</button>
                    <button type="button" class="btn blue" onclick="pageObj.register()">등록</button>
                </div>
            </div>
        </div>
        <footer th:replace="layout/footer :: footer"></footer>
    </div>
</div>
</body>
</html>