<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::#section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <th:block id="css">
    </th:block>

    <th:block id="script">
        <script type="text/javascript" th:src="@{/js/mntmgt/cmpny/cmpnyMntmgt.js}"></script>
    </th:block>
</head>
<body id="section">
<nav th:replace="layout/nav :: nav" class="lnb"></nav>
<!--유지관리 목록(업체)-->
<div class="main-area">
    <div class="inner">
        <div class="main-container">
            <div class="page-tit__wrap">
                <ul class="breadcrumbs">
                    <li><img src="/images/common/home_ico.svg" alt="홈"></li>
                    <li>소모품 목록</li>
                </ul>
                <h2 class="page-tit">소모품 목록</h2>
            </div>
            <div class="content">
                <form>
                    <!-- 조건검색 -->
                    <th:block th:if="${useSe} == 'USESE00002'"><div th:replace="utils/searchBar :: search13"></div></th:block>

                    <th:block th:if="${useSe} == 'USESE00003'"><div th:replace="utils/searchBar :: search14"></div></th:block>

                    <div class="table-container type1 cursor">
                        <div class="total">
                            <div class="total-box">
                                <span>미처리(신청+접수)</span>
                                <b th:text="${count.unprocessed}"></b>
                            </div>
                            <div class="total-box">
                                <span>총</span>
                                <b th:text="${count.alc}"></b>
                            </div>
                        </div>
                        <table>
                            <caption>소모품 목록<span>소모품 목록으로 접수번호, 기관(학교명), 분류, 제목, 신청인, 담당자, 등록일, 완료일, 상태의 정보 제공</span></caption>
                            <colgroup>
                                <col width="5%">
                                <col width="10%">
                                <col width="10%">
                                <col width="5%">
                                <col width="*">
                                <col width="5%">
                                <col width="5%">
                                <col width="10%">
                                <col width="10%">
                                <col width="5%">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>No</th>
                                <th>접수번호</th>
                                <th>기관(학교)명</th>
                                <th>분류</th>
                                <th>제목</th>
                                <th>신청인</th>
                                <th>담당자</th>
                                <th>등록일</th>
                                <th>완료일</th>
                                <th>상태</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="cmpds, listCount : ${result.content}" class="content_tr" th:onclick="pageObj.view.detail([[${cmpds.rceptNo}]])">
                                <!--<td th:id="${mntmgt.rceptNo}" th:text="${result.totalElements - (result.pageable.offset + mntmgtStat.index)}"></td>-->
                                <td data-before="No." class="txt-hidden num" th:text="${result.totalElements - (result.pageable.offset + listCount.index)}" th:id="${cmpds.rceptNo}"></td>
                                <td data-before="접수번호" class="txt-hidden" th:text="${cmpds.rceptNo}"></td>
                                <td data-before="기관(학교)명" class="txt-hidden" th:text="${cmpds.orgNm}"></td>
                                <td data-before="분류" class="txt-hidden dashed-hidden" th:if="${cmpds.cmpdsSe} == 'CMPD100000'" th:text="인쇄용품"></td>
                                <td data-before="분류" class="txt-hidden dashed-hidden" th:if="${cmpds.cmpdsSe} == 'CMPD100001'" th:text="|인쇄용품(토너)|"></td>
                                <td data-before="분류" class="txt-hidden dashed-hidden" th:if="${cmpds.cmpdsSe} == 'CMPD100002'" th:text="|인쇄용품(전산용지)|"></td>
                                <td data-before="분류" class="txt-hidden dashed-hidden" th:if="${cmpds.cmpdsSe} == 'CMPD100003'" th:text="|인쇄용품(기타)|"></td>
                                <td data-before="분류" class="txt-hidden dashed-hidden" th:if="${cmpds.cmpdsSe} == 'CMPD200000'" th:text="컴퓨터용품"></td>
                                <td class="main-txt tit"><span th:text="${cmpds.sj}"></span></td>
                                <td data-before="신청인" class="txt-hidden dashed" th:text="${cmpds.registerNm}"></td>
                                <td data-before="담당자" class="txt-hidden" th:text="${cmpds.chargerNm}"></td>
                                <!--<td th:text="${mntmgt.rceptDe.toLocalDate()} + ' ' + ${mntmgt.rceptDe.toLocalTime()}"></td>-->
                                <td data-before="등록일" class="txt-hidden">
                                    <span th:text="${cmpds.registDt.toLocalDate()}"></span>
                                    <span th:text="${cmpds.registDt.toLocalTime()}"></span>
                                </td>
                                <td data-before="완료일" class="txt-hidden">
                                    <span th:text="${cmpds.comptDe ne null and cmpds.comptDe ne '' ? cmpds.comptDe.toLocalDate() : ''}"></span>
                                    <span th:text="${cmpds.comptDe ne null and cmpds.comptDe ne '' ? cmpds.comptDe.toLocalTime() : '-'}"></span>
                                </td>
                                <!--<td th:text="${mntmgt.comptDe}"></td>-->
                                <td class="abs-r" th:if="${cmpds.sttusSe} == 'STTUS00001'"><span class="tag blue" th:text="신청"></span></td>
                                <td class="abs-r" th:if="${cmpds.sttusSe} == 'STTUS00002'"><span class="tag green" th:text="접수"></span></td>
                                <td class="abs-r" th:if="${cmpds.sttusSe} == 'STTUS00003'"><span class="tag red" th:text="취소"></span></td>
                                <td class="abs-r" th:if="${cmpds.sttusSe} == 'STTUS00004'"><span class="tag yellow" th:text="보류"></span></td>
                                <td class="abs-r" th:if="${cmpds.sttusSe} == 'STTUS00005'"><span class="tag gray" th:text="완료"></span></td>
                            </tr>
                            <tr th:if="${result.content.size() < 1}" class="empty">
                                <td colspan="10">
                                    <img src="/images/common/empty_ico.svg" alt="등록된 데이터가 없습니다.">
                                    <p>등록된 데이터가 없습니다.</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- 페이징 -->
                    <div th:replace="utils/pagination :: pagination(${result})"></div>

                </form>
            </div>
        </div>
        <footer th:replace="layout/footer :: footer"></footer>
    </div>
</div>
</body>
</html>