<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::#section})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <th:block id="css">
    </th:block>

    <th:block id="script">
        <script type="text/javascript" th:src="@{/js/mntmgt/cmpny/cmpnyDashboard.js}"></script>
    </th:block>
</head>
<body id="section">
<nav th:replace="layout/nav :: nav" class="lnb"></nav>
<!--    대시보드(업체)-->
<div class="main-area">
    <div class="inner">
        <div class="main-container">
            <h3 class="cont-tit">장애관리 미처리 현황</h3>
            <div class="current-state">
                <div class="cont">
                    <div class="box color" tabindex="1">
                        <h4>미처리 총 건수</h4>
                        <p th:text="${result.alc ne null ? result.alc : '0'}"></p>
                    </div>
                    <div class="box" tabindex="1">
                        <h4>장애</h4>
                        <p th:text="${result.err ne null ? result.err : '0'}"></p>
                    </div>
                    <div class="box" tabindex="1">
                        <h4>설치</h4>
                        <p th:text="${result.install ne null ? result.install : '0'}"></p>
                    </div>
                    <div class="box" tabindex="1">
                        <h4>점검</h4>
                        <p th:text="${result.inspection ne null ? result.inspection : '0'}"></p>
                    </div>
                    <div class="box" tabindex="1">
                        <h4>기타</h4>
                        <p th:text="${result.etc ne null ? result.etc : '0'}"></p>
                    </div>
                </div>
            </div>
            <h3 class="cont-tit">최근 장애관리 <a class="more-btn" href="javascript:void(0);" onclick="pageObj.view.mntmgtList()" title="더보기"><img src="/images/common/plus_ico.svg" alt="더보기"></a></h3>
            <div class="content-item">
                <ul class="post-list">
                    <li th:each="mntmgt : ${mntgmtlist}" id="mntList">
                        <a href="javascript:void(0);" th:id="${mntmgt.rceptNo}" th:title="${mntmgt.rceptNo}">
                            <div>
                                <p class="tit">
                                    <span th:if="${mntmgt.mntmgtSe} == 'MNTMG00001'" th:text="[장애]"></span>
                                    <span th:if="${mntmgt.mntmgtSe} == 'MNTMG00002'" th:text="[설치]"></span>
                                    <span th:if="${mntmgt.mntmgtSe} == 'MNTMG00003'" th:text="[점검]"></span>
                                    <span th:if="${mntmgt.mntmgtSe} == 'MNTMG00004'" th:text="[기타]"></span>
                                    <span class="tit-txt" th:text="${mntmgt.sj}"></span>
                                </p>
                                <p class="post-info">
                                    <span class="user" th:text="${mntmgt.orgNm}"></span>
                                    <span class="date" th:text="${mntmgt.registDt.toLocalDate()}"></span>
                                </p>
                            </div>
                            <span th:if="${mntmgt.sttusSe} == 'STTUS00001'" class="state blue" th:text="신청"></span>
                            <span th:if="${mntmgt.sttusSe} == 'STTUS00002'" class="state green" th:text="접수"></span>
                            <span th:if="${mntmgt.sttusSe} == 'STTUS00003'" class="state red" th:text="취소"></span>
                            <span th:if="${mntmgt.sttusSe} == 'STTUS00004'" class="state yellow" th:text="보류"></span>
                            <span th:if="${mntmgt.sttusSe} == 'STTUS00005'" class="state gray" th:text="업체완료"></span>
                            <span th:if="${mntmgt.sttusSe} == 'STTUS00006'" class="state purple" th:text="최종완료"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <footer th:replace="layout/footer :: footer"></footer>
    </div>
</div>
</body>
</html>