<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::#section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <th:block id="css">
    </th:block>

    <th:block id="script">
        <script th:src="@{/js/code/main.js}"></script>
        <script th:src="@{/js/code/update.js}"></script>
    </th:block>
</head>
<body id="section">
<nav th:replace="layout/nav :: nav" class="lnb"></nav>
<div class="main-area">
    <div class="inner">
        <div class="main-container">
            <div class="page-tit__wrap">
                <ul class="breadcrumbs">
                    <li><img src="/images/common/home_ico.svg" alt="홈"></li>
                    <li>코드 관리</li>
                    <li>코드 상세</li>
                </ul>
                <h2 class="page-tit">코드 상세</h2>
            </div>
            <div class="code-form">
                <div class="table-top">
                    <div class="btn-area">
                        <button class="btn border" onclick="pageObj.add()"><img src="/images/common/btn_add_ico.svg" alt="추가">추가</button>
                    </div>
                    <div class="total">
                        <div class="total-box">
                            <span>총</span>
                            <b th:text="${result.size()}"></b>
                        </div>
                    </div>
                </div>
                <div class="list-wrap">
                    <ul class="list-head">
                        <li class="col">선택</li>
                        <li class="col">분류</li>
                        <li class="col">분류명</li>
                        <li class="col">코드</li>
                        <li class="col">코드이름</li>
                        <li class="col">코드설명</li>
                        <li class="col">부모코드</li>
                        <li class="col">코드깊이</li>
                        <li class="col">코드순번</li>
                        <li class="col">닉네임</li>
                        <li class="col">사용여부</li>
                    </ul>
                    <ul class="list-body">
                        <li th:each="code : ${result}">
                            <div class="data-group">
                                <div class="col">
                                    <label class="chk-item"><input type="checkbox" class="chk" onclick="pageObj.checkbox(this)"></label>
                                </div>
                                <div class="col">
                                    <span class="mo">분류</span>
                                    <input type="text" id="clCode" name="clCode" th:value="${code.clCode}" title="분류" readonly>
                                </div>
                                <div class="col">
                                    <span class="mo">분류명</span>
                                    <input type="text" id="clNm" name="clNm" th:value="${code.clNm}" title="분류명" readonly>
                                </div>
                                <div class="col">
                                    <span class="mo">코드</span>
                                    <input type="hidden" id="orgCode" name="orgCode" th:value="${code.orgCode}">
                                    <input type="text" id="code" name="code" th:value="${code.code}" title="코드" essential="true" readonly>
                                </div>
                                <div class="col">
                                    <span class="mo">코드이름</span>
                                    <input type="text" id="codeNm" name="codeNm" th:value="${code.codeNm}" title="코드이름" essential="true">
                                </div>
                                <div class="col">
                                    <span class="mo">코드설명</span>
                                    <input type="text" id="codeDc" name="codeDc" th:value="${code.codeDc}" title="코드설명">
                                </div>
                                <div class="col">
                                    <span class="mo">부모코드</span>
                                    <input type="text" id="parntsCode" name="parntsCode" th:value="${code.parntsCode}" title="부모코드" essential="true" readonly>
                                </div>
                                <div class="col">
                                    <span class="mo">코드깊이</span>
                                    <input type="number" id="codeDp" name="codeDp" th:value="${code.codeDp}" title="코드깊이" essential="true">
                                </div>
                                <div class="col">
                                    <span class="mo">코드순번</span>
                                    <input type="number" id="codeSn" name="codeSn" th:value="${code.codeSn}" title="코드순번" essential="true">
                                </div>
                                <div class="col">
                                    <span class="mo">닉네임</span>
                                    <input type="text" id="ncnm" name="ncnm" th:value="${code.ncnm}" title="닉네임">
                                </div>
                                <div class="col">
                                    <span class="mo">사용여부</span>
                                    <select id="delAt" name="delAt" th:value="${code.delAt}">
                                        <option value="N" th:selected="${code.delAt == 'N'}">사용</option>
                                        <option value="Y" th:selected="${code.delAt == 'Y'}">미사용</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="btn-area">
                <button class="btn dark-gray" onclick="pageObj.list()">목록</button>
                <button class="btn blue" onclick="pageObj.update()">저장</button>
            </div>


            <!--                <div class="content">-->
            <!--                    <div class="sub-btn__wrap right">-->
            <!--                        <button class="btn border" onclick="pageObj.add()"><img src="/images/common/btn_add_ico.svg" alt="">추가</button>-->
            <!--                        <button class="btn border" onclick="pageObj.setChild()"><img src="/images/common/btn_add_ico.svg" alt="">자식추가</button>-->
            <!--                        <button class="btn border" onclick="pageObj.copy()"><img src="/images/common/btn_copy_ico.svg" alt="">복사</button>-->
            <!--                    </div>-->
            <!--                    <form>-->
            <!--                        <div class="table-container rel">-->
            <!--                            <div class="total">-->
            <!--                                <p>총 <span class="blue" th:text="${result.size()}"></span> 개</p>-->
            <!--                            </div>-->
            <!--                            <table>-->
            <!--                                <colgroup>-->
            <!--                                    <col width="5%">-->
            <!--                                    <col width="10%">-->
            <!--                                    <col width="10%">-->
            <!--                                    <col width="10%">-->
            <!--                                    <col width="10%">-->
            <!--                                    <col width="10%">-->
            <!--                                    <col width="10%">-->
            <!--                                    <col width="7%">-->
            <!--                                    <col width="7%">-->
            <!--                                    <col width="10%">-->
            <!--                                    <col width="10%">-->
            <!--                                </colgroup>-->
            <!--                                <thead>-->
            <!--                                <tr>-->
            <!--                                    <th>선택</th>-->
            <!--                                    <th>분류</th>-->
            <!--                                    <th>분류명</th>-->
            <!--                                    <th>코드</th>-->
            <!--                                    <th>코드이름</th>-->
            <!--                                    <th>코드설명</th>-->
            <!--                                    <th>부모코드</th>-->
            <!--                                    <th>코드깊이</th>-->
            <!--                                    <th>코드순번</th>-->
            <!--                                    <th>닉네임</th>-->
            <!--                                    <th>사용여부</th>-->
            <!--                                </tr>-->
            <!--                                </thead>-->
            <!--                                <tbody>-->
            <!--                                <tr th:each="code : ${result}">-->
            <!--                                    <td class="abs">-->
            <!--                                        <label class="chk-item"><input type="checkbox" class="chk" onclick="pageObj.checkbox(this)"></label>-->
            <!--                                    <td>-->
            <!--                                        <input type="text" id="clCode" name="clCode" th:value="${code.clCode}" readonly>-->
            <!--                                    </td>-->
            <!--                                    <td>-->
            <!--                                        <input type="text" id="clNm" name="clNm" th:value="${code.clNm}" readonly>-->
            <!--                                    </td>-->
            <!--                                    <td>-->
            <!--                                        <input type="hidden" id="orgCode" name="orgCode" th:value="${code.orgCode}">-->
            <!--                                        <input type="text" id="code" name="code" th:value="${code.code}" title="코드" essential="true" readonly>-->
            <!--                                    </td>-->
            <!--                                    <td>-->
            <!--                                        <input type="text" id="codeNm" name="codeNm" th:value="${code.codeNm}" title="코드이름" essential="true">-->
            <!--                                    </td>-->
            <!--                                    <td>-->
            <!--                                        <input type="text" id="codeDc" name="codeDc" th:value="${code.codeDc}" title="코드설명">-->
            <!--                                    </td>-->
            <!--                                    <td>-->
            <!--                                        <input type="text" id="parntsCode" name="parntsCode" th:value="${code.parntsCode}" title="부모코드" essential="true" readonly>-->
            <!--                                    </td>-->
            <!--                                    <td>-->
            <!--                                        <input type="number" id="codeDp" name="codeDp" th:value="${code.codeDp}" title="코드깊이" essential="true">-->
            <!--                                    </td>-->
            <!--                                    <td>-->
            <!--                                        <input type="number" id="codeSn" name="codeSn" th:value="${code.codeSn}" title="코드순번" essential="true">-->
            <!--                                    </td>-->
            <!--                                    <td>-->
            <!--                                        <input type="text" id="ncnm" name="ncnm" th:value="${code.ncnm}" title="닉네임">-->
            <!--                                    </td>-->
            <!--                                    <td>-->
            <!--                                        <select id="delAt" name="delAt" th:value="${code.delAt}">-->
            <!--                                            <option value="N" th:selected="${code.delAt == 'N'}">사용</option>-->
            <!--                                            <option value="Y" th:selected="${code.delAt == 'Y'}">미사용</option>-->
            <!--                                        </select>-->
            <!--                                    </td>-->
            <!--                                </tr>-->
            <!--                                </tbody>-->
            <!--                            </table>-->
            <!--                        </div>-->
            <!--                    </form>-->
            <!--                    <div class="btn-area">-->
            <!--                        <button class="btn gray" onclick="pageObj.list()">목록</button>-->
            <!--                        <button class="btn blue" onclick="pageObj.update()">저장</button>-->
            <!--                    </div>-->
            <!--                </div>-->
        </div>
        <footer th:replace="layout/footer :: footer"></footer>
    </div>
</div>
</section>
</body>
</html>