<!DOCTYPE html>

<html th:replace="~{/layout/base :: layout(~{::#css}, ~{::#script}, ~{::#section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <th:block id="css">
    </th:block>

    <th:block id="script">
        <script th:src="@{/js/code/main.js}"></script>
    </th:block>
</head>
<body id="section">
<nav th:replace="layout/nav :: nav" class="lnb"></nav>

<div class="main-area">
    <div class="inner">
        <div class="main-container">
            <form>
                <div class="page-tit__wrap">
                    <ul class="breadcrumbs">
                        <li><img src="/images/common/home_ico.svg" alt="홈"></li>
                        <li>코드 관리</li>
                    </ul>
                    <h2 class="page-tit">코드 관리</h2>
                </div>
                <div th:replace="utils/searchBar :: search12"></div>
                <div class="total">
                    <div class="total-box">
                        <span>총</span>
                        <b th:text="${result.totalElements}"></b>
                    </div>
                </div>
                <div class="code-wrap">
                    <ul class="code-list">
                        <li class="code-item" th:each="code : ${result.content}">
                            <a th:href="@{|/adm/sys/code/${code.clCode}|}">
                                <label class="chk-item">
                                    <input type="checkbox" th:id="${code.clCode}" class="chk" onclick="pageObj.checkbox(this)" title="코드관리 체크박스">
                                </label>
                                <span class="num" data-before="No." th:text="${result.totalElements - (result.pageable.offset + codeStat.index)}"></span>
                                <b th:text="${code.clNm}"></b>
                                <p th:text="${code.clCode}"></p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="content-bottom">
                    <div class="mt1" th:replace="utils/pagination :: pagination(${result})"></div>
                    <div class="btn-area">
                        <!--                            <button type="button" class="btn red" onclick="pageObj.delete()">미사용 처리</button>-->
                        <button type="button" class="btn blue" onclick="pageObj.addPage()">생성</button>
                    </div>
                </div>
            </form>
        </div>
        <footer th:replace="layout/footer :: footer"></footer>
    </div>
</div>
</body>
</html>