<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::#section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <th:block id="css">
        <style type="text/css">
            .hide{display:none;}
        </style>
    </th:block>

    <th:block id="script">
        <script th:inline="javascript">
            var boardType = [[${boardType}]];
            var boardMngId = [[${boardMngId}]];
            var categoryId = [[${categoryId}]];
            var defaultPageUrl = [[${defaultPageUrl}]];
        </script>
        <script type="text/javascript" th:src="@{/js/board/board_common.js}"></script>
        <script type="text/javascript" th:src="@{/js/board/video.js}"></script>
    </th:block>
</head>
<body id="section">
<nav th:replace="layout/nav :: nav" class="lnb"></nav>
<!--담당자(직원) 관리(업체)-->
<div class="main-area">
    <div class="inner">
        <div class="main-container">
            <div class="page-tit__wrap">
                <ul class="breadcrumbs">
                    <li><img src="/images/common/home_ico.svg" alt="홈"></li>
                    <li>커뮤니티</li>
                    <li th:text="${boardTitle}"></li>
                    <li>상세</li>
                </ul>
                <h2 class="page-tit" th:text="${boardTitle}"></h2>
            </div>
            <span class="hiddentext">게시물 상세화면입니다.</span>
            <form th:object="${result}">
                <div class="content">
                    <!-- 조건검색 -->

                    <div class="content-item">
                        <div class="board-detail">
                            <div class="board-top">
                                <p class="board-tit">
                                    <span class="hiddentext">제목 설명으로 제목을 입력합니다.</span>
                                    <b th:text="*{title}"></b>
                                </p>
                                <span class="board-date" th:text="*{updtDt}"></span>
                            </div>
                            <div class="board-body">
                                <span class="hiddentext">내용으로 내용을 입력합니다.</span>
                                <div class="video-wrap">
                                    <iframe width="560" height="315" th:src="@{|https://www.youtube.com/embed/*{videoLink}|}"
                                            title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="board-footer">
                                <div class="div_filenames">
                                    <div class="board-detail-kogl">
                                        <img th:src="@{|/images/kogl/img_opentype0*{nuriNum}.jpg|}" th:alt="|공공누리 *{nuriNum}유형|"/>
                                        <span>
                                            <th:block th:if="*{nuriNum == '1'}">
                                                본 공공저작물은 "공공누리" 1유형 : 출처표시 (상업적 이용 및 변경 가능) 조건에 따라 이용할 수있습니다.
                                            </th:block>
                                            <th:block th:if="*{nuriNum == '2'}">
                                                본 공공저작물은 "공공누리" 2유형 : 출처표시 + 상업적이용금지 조건에 따라 이용할 수있습니다.
                                            </th:block>
                                            <th:block th:if="*{nuriNum == '3'}">
                                                본 공공저작물은 "공공누리" 3유형 : 출처표시 + 변경금지 조건에 따라 이용할 수있습니다.
                                            </th:block>
                                            <th:block th:if="*{nuriNum == '4'}">
                                                본 공공저작물은 "공공누리" 4유형 : 출처표시 + 상업적이용금지 + 변경금지 조건에 따라 이용할 수있습니다.
                                            </th:block>
                                            <th:block th:if="*{nuriNum == '5'}">
                                               본 공공저작물은 "공공누리" 자유이용 불가 (저작권법 제24조의2 제1항 제1호~제4호 중 어느 하나에 해당됨) 조건에 따라 이용할 수있습니다.
                                            </th:block>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-area btw">
                                <a class="btn gray" href="javascript:void(0);" onclick="pageObj.communityMainPage()">목록</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <footer th:replace="layout/footer :: footer"></footer>
    </div>
</div>
</body>
</html>