<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::#section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <th:block id="css">
    </th:block>

    <th:block id="script">
        <script th:inline="javascript">
            var boardType = [[${boardType}]];
            var boardMngId = [[${boardMngId}]];
            var categoryId = [[${categoryId}]];
            var defaultPageUrl = [[${defaultPageUrl}]];
        </script>
        <script type="text/javascript" th:src="@{/js/board/video.js}"></script>
        <script type="text/javascript" th:src="@{/js/board/board_common.js}"></script>
    </th:block>
</head>
<body id="section">
<nav th:replace="layout/nav :: nav" class="lnb"></nav>
<!--담당자(직원) 관리(업체)-->
<div class="main-area">
    <div class="inner">
        <div class="main-container">
            <div class="page-tit__wrap">
                <ul class="breadcrumbs">
                    <li><img src="/images/common/home_ico.svg" alt="홈"></li>
                    <li>커뮤니티</li>
                    <li th:text="${boardTitle}"></li>
                </ul>
                <h2 class="page-tit" th:text="${boardTitle}"></h2>
            </div>
            <form th:action>
                <div class="content">
                    <!-- 조건검색 -->
                    <div th:replace="utils/searchBar :: search17"></div>

                    <div class="content-item table-content">
                        <div class="board-tab">
                            <a th:class="${categoryId == 'all'} ? 'active': ''"
                               th:href="@{|${defaultPageUrl}/all|}">전체</a>

                            <th:block th:each="ctgry : ${ctgryList}">
                                <a th:class="${categoryId == ctgry.boardCategoryId.toString()} ? 'active' : ''"
                                   th:href="@{|${defaultPageUrl}/${ctgry.boardCategoryId}|}"
                                   th:text="${ctgry.categoryNm}"></a>
                            </th:block>
                        </div>
                        <div class="table-container type1 cursor">
                            <div class="table-top">
                                <div class="total">
                                    <div class="total-box" tabindex="-1">
                                        <span>총 개수</span>
                                        <b th:text="${result.getTotalElements()}"></b>
                                    </div>
                                </div>
                            </div>
                            <table id="tb_board">
                                <caption>목록<span>게시판 목록으로 번호, 제목, 파일여부의 정보 제공</span></caption>
                                <colgroup>
                                    <col width="8%">
                                    <col width="*">
                                    <col width="15%">
                                    <col width="15%">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>제목</th>
                                    <th>작성자</th>
                                    <th>작성일</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="board : ${result.content}">
                                    <tr id="content_tr" th:value="${board.id}">
                                        <td data-before="No." class="txt-hidden num" th:text="${result.totalElements - (result.pageable.offset + boardStat.index)}"></td>
                                        <td class="tit main-txt"><span th:text="${board.title}"></span></td>
                                        <td data-before="작성자" class="txt-hidden"><span th:text="${board.userNm}"></span></td>
                                        <td data-before="작성일" class="txt-hidden"><span th:text="${board.updtDt}"></span></td>
                                    </tr>
                                </th:block>
                                <tr th:if="${result.content.size() < 1}" class="empty">
                                    <td colspan="4">
                                        <img src="/images/common/empty_ico.svg" alt="등록된 데이터가 없습니다.">
                                        <p>등록된 데이터가 없습니다.</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="content-bottom">
                            <!-- 페이징 -->
                            <div th:replace="utils/pagination :: pagination(${result})"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <footer th:replace="layout/footer :: footer"></footer>
    </div>
</div>
</section>
</body>
</html>