<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::#section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <th:block id="css">
    </th:block>

    <th:block id="script">
        <script th:inline="javascript">
            var boardType = [[${boardType}]];
            var boardMngId = [[${boardMngId}]];
            var categoryId = [[${categoryId}]];
            var defaultPageUrl = [[${defaultPageUrl}]];
        </script>
        <script type="text/javascript" th:src="@{/js/board/faq.js}"></script>
        <script type="text/javascript" th:src="@{/js/board/board_common.js}"></script>
    </th:block>
</head>
<body id="section">
<nav th:replace="layout/nav :: nav" class="lnb"></nav>
<!--담당자(직원) 관리(업체)-->
<div class="main-area">
    <div class="inner">
        <div class="main-container">
            <div class="page-tit__wrap">
                <ul class="breadcrumbs">
                    <li><img src="/images/common/home_ico.svg" alt="홈"></li>
                    <li>커뮤니티</li>
                    <li th:text="${boardTitle}"></li>
                </ul>
                <h2 class="page-tit" th:text="${boardTitle}"></h2>
            </div>
            <form th:action>
                <div class="content">
                    <div class="board-tab">
                        <a th:class="${categoryId == 'all'} ? 'active': ''"
                           th:href="@{|${defaultPageUrl}/all|}">전체</a>

                        <th:block th:each="ctgry : ${ctgryList}">
                            <a th:class="${categoryId == ctgry.boardCategoryId.toString()} ? 'active' : ''"
                               th:href="@{|${defaultPageUrl}/${ctgry.boardCategoryId}|}"
                               th:text="${ctgry.categoryNm}"></a>
                        </th:block>
                    </div>
                    <ul class="accordion">
                        <li th:if="${not #lists.isEmpty(result)}" th:each="board, status : ${result}">
                            <div class="accordion-tit">
                                <p th:text="${board.title}">제목</p>
                            </div>
                            <div class="accordion-cont">
                                <div>
                                    <span th:utext="${board.content}">내용</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="content-item" th:if="${result.isEmpty()}">
                        <ul class="empty">
                            <img src="/images/common/empty_ico.svg" alt="등록된 데이터 없음">
                            <p>등록된 데이터가 없습니다.</p>
                        </ul>
                    </div>
                    <div class="content-bottom">
                        <!-- 페이징 -->
                        <div th:replace="utils/pagination :: pagination(${result})"></div>
                    </div>
                </div>
            </form>
        </div>
        <footer th:replace="layout/footer :: footer"></footer>
    </div>
</div>
</section>
</body>
</html>