<!DOCTYPE html>
<html th:fragment="layout (pageCss, pageScript, content)"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>충청남도 교육청 장애신고접수처리 시스템</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">

    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!--공통css-->

<!--    <link rel="stylesheet" href="/resources/demos/style.css">-->
    <link rel="stylesheet" th:href="@{/lib/summernote/summernote-lite.min.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/lib/toastui-chart/toastui-chart.min.css}">
    <link rel="stylesheet" th:href="@{/lib/fullcalendar/lib/main.min.css}">
    <link rel="stylesheet" th:href="@{/lib/kcase/lib/css/kcase.css}"/>

    <!-- Page Css -->
    <th:block th:replace="${pageCss}"></th:block>

    <!--공통js-->
    <script th:src="@{//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js}"></script>
    <script th:src="@{/lib/moment.js}"></script>

    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/lib/jquery-ui-1.13.2/jquery-ui.js}"></script>

    <script th:src="@{/lib/summernote/summernote-lite.js}"></script>
    <script th:src="@{/lib/summernote/lang/summernote-ko-KR.js}"></script>

    <script th:src="@{/lib/toastui-chart/toastui-chart.min.js}"></script>

    <script th:src="@{/lib/fullcalendar/lib/main.js}"></script>

    <script th:src="@{/js/common.js}"></script>

    <script th:src="@{/lib/kcase/lib/js/kcaseagent.js}"></script>
    <script th:src="@{/lib/kcase/lib/js/nppfs-1.9.0.js}"></script>
    <script th:src="@{/lib/kcase/lib/js/browserCheck.js}"></script>

    <script th:inline="javascript">
        searchParam = [[${searchParam}]];

        var ksign_visibleLoading = true;
        let ksign_init = 'N'
        let serverEnvCert = "";

        function kcaseOpen(){
            if(ksign_init == 'N'){
                $ajax.post({
                    url: "/common/initPKI",
                    data: {},
                    success: function (res){
                        if($.trim(res) != ''){
                            kcaseagt.checkInstallAgent({
                                success: function() {
                                    //installText.eq(0).text("설치됨");
                                    kcaseagt.init({
                                        debug: false,
                                        libRoot: location.protocol + "//" + location.host + "/lib/kcase/lib",
                                        sessId: res.sessionID,
                                        mainTitle: "인증서 로그인(전자서명)",
                                        adminTitle: "인증서 관리",
                                        position: "center",
                                        /* 0 - 만료된 인증서 전부 / 1 - 만료되지 않은 인증서만 */
                                        chkexpiredcert: 0,
                                        ISMOE: 1,
                                        mediaOpt: kcaseagt.enable.all,
                                        invisibleMedia: 0x00,
                                        success: function() {
                                            serverEnvCert = res.serverEnvCert
                                            //kcaseagt.enableNosAdapter();
                                            algorithm = kcaseagt.algorithm.SEED;
                                            kcaseagt.secureChannelLogin({
                                                peerCert: serverEnvCert,
                                                algorithm: algorithm,
                                                success: function(token) {
                                                    $ajax.post({
                                                        url: "/common/getPKIInfo",
                                                        data: {token: token},
                                                        success: function (map){
                                                            if(map.result == 'S'){
                                                                if (map.userSe == 'adm') {
                                                                    let sessionUser = $user.getSessionUser();
                                                                    $("#modalChkId").text(sessionUser.userId);
                                                                    $("#modalOrgNm").text(sessionUser.orgNm);
                                                                    $("#adm_modal").removeClass("fade");
                                                                } else {
                                                                    $("#mber_modal").removeClass("fade");
                                                                }
                                                            } else if(map.result == 'F'){
                                                                alert(map.msg);
                                                            }
                                                        }
                                                    })
                                                }, error: function (c, msg) {
                                                    alert(c + ": " + msg);
                                                }
                                            });
                                            ksign_init = 'Y'
                                        },
                                        serviceError: function() {
                                            alert("Module Load Fail!!");
                                            //location.reload(true);
                                        },
                                        error: function(errCode, errMsg) {
                                            //alert(errCode + ": "+ errMsg);
                                            location.href = location.protocol + "//" + location.host + "/lib/kcase/lib/download/KSignCASE_For_HTML5_Windows_v1.3.28.exe";
                                        },
                                        sessionError: function() {
                                            alert("세션 만료");
                                        },
                                        noUbiKey: function() {
                                            alert("서비스 준비중입니다.");
                                        }
                                    });
                                },
                                error: function(errCode, errMsg) {
                                    //  installText.eq(0).text("설치가 필요합니다 : " + errMsg);
                                    location.href = location.protocol + "//" + location.host + "/lib/kcase/lib/download/KSignCASE_For_HTML5_Windows_v1.3.28.exe";
                                }
                            });
                            /* 인증서 관리 시험 */
                        } else {
                            alert("세션 만료");
                        }
                    }
                })
            } else {
                kcaseagt.secureChannelLogin({
                    peerCert: serverEnvCert,
                    algorithm: algorithm,
                    success: function(token) {
                        $ajax.post({
                            url: "/common/getPKIInfo",
                            data: {token: token},
                            success: function (map){
                                if(map.result == 'S'){
                                    if (map.userSe == 'adm') {
                                        let sessionUser = $user.getSessionUser();
                                        $("#modalChkId").text(sessionUser.userId);
                                        $("#modalOrgNm").text(sessionUser.orgNm);
                                        $("#adm_modal").removeClass("fade");
                                    } else {
                                        $("#mber_modal").removeClass("fade");
                                    }
                                } else if(map.result == 'F'){
                                    alert(map.msg);
                                }
                            }
                        })
                    }, error: function (c, msg) {
                        alert(c + ": " + msg);
                    }
                });
            }
        }
    </script>

    <!-- Page Script -->
    <th:block th:replace="${pageScript}"></th:block>
</head>
<body>
<div class="wrap">
    <header th:replace="layout/header :: header"></header>
    <article th:insert="${content}" class="contents"></article>
</div>
</body>
</html>