<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<nav class="lnb">

    <th:block th:fragment="header" th:if="${!#request.requestURI.contains('login') && !#request.requestURI.contains('join')}">
        <!-- pc 화면 -->
        <th:block th:with="orgType=${#authentication.principal.orgType},useSeNm=${#authentication.principal.useSeNm}
                                ,useSe=${#authentication.principal.useSe},userNm=${#authentication.principal.userNm}, orgNm=${#authentication.principal.orgNm}
                                ,cmpnyNm=${#authentication.principal.cmpnyNm},auth=${#authentication.principal.auth}, usid=${#authentication.principal.userId}">
            <div class="lnb-top">
                <div class="lnb-logo">
                    <a href="/" tabindex="1"><img src="/images/common/lnb_logo.svg" alt="충청남도교육청 장애신고접수처리시스템 로고이며, 클릭 시 메인 대시보드 화면으로 이동"></a>
                </div>
                <th:block th:if="${auth == 'mber'}">
                    <!-- 업체 대표 -->
                    <ul class="lnb-list" th:if="${useSe} == 'USESE00002'">
                        <li><a th:class="${menu == null && boardId == null} ? 'on' : ''" href="/" title="대시보드"><img src="/images/common/lnb_dashboard_ico.svg" alt="대시보드"><span>대시보드</span></a></li>
                        <li><a th:class="${menu == 1} ? 'on' : ''" th:href="@{|/${auth}/${useSeNm}/mntmgt|}" title="장애관리"><img src="/images/common/lnb_siren_ico.svg" alt="장애관리"><span>장애관리</span></a></li>
                        <!--<li><a th:href="@{|/${auth}/${useSeNm}/cmpds|}"><span>소모품</span></a></li>-->
                        <li><a th:class="${menu == 2} ? 'on' : ''" th:href="@{|/${auth}/${useSeNm}/slcList|}" title="기관(학교)현황"><img src="/images/common/lnb_school_ico.svg" alt="기관(학교)현황"><span>기관(학교)현황</span></a></li>
                        <li><a th:class="${menu == 3} ? 'on' : ''" th:href="@{|/${auth}/${useSeNm}/empAgree|}" title="담당자(직원)관리"><img src="/images/common/lnb_authority_ico.svg" alt="담당자(직원)관리"><span>담당자(직원)관리</span></a></li>
                        <li><a th:class="${menu == 4} ? 'on' : ''" th:href="@{|/${auth}/${useSeNm}/report|}" title="점검보고서"><img src="/images/common/lnb_report_ico.svg" alt="점검보고서"><span>점검보고서</span></a></li>
                        <li class="arrow">
                            <a href="javascript:void(0);" title="커뮤니티"><img src="/images/common/lnb_community_ico.svg" alt="커뮤니티"><span>커뮤니티</span></a>
                            <ul id="nav_board" class="depth2" ></ul>
                        </li>
                    </ul>

                    <!-- 업체 직원 -->
                    <ul class="lnb-list" th:if="${useSe} == 'USESE00003'">
                        <li><a th:class="${menu == null && boardId == null} ? 'on' : ''" href="/" title="대시보드"><img src="/images/common/lnb_dashboard_ico.svg" alt="대시보드"><span>대시보드</span></a></li>
                        <li><a th:class="${menu == 1} ? 'on' : ''" th:href="@{|/${auth}/${useSeNm}/mntmgt|}" title="장애관리"><img src="/images/common/lnb_siren_ico.svg" alt="장애관리"><span>장애관리</span></a></li>
                        <!--<li><a th:href="@{|/${auth}/${useSeNm}/cmpds|}"><span>소모품</span></a></li>-->
                        <li class="arrow">
                            <a href="javascript:void(0);" title="커뮤니티"><img src="/images/common/lnb_community_ico.svg" alt="커뮤니티"><span>커뮤니티</span></a>
                            <ul id="nav_board" class="depth2" ></ul>
                        </li>
                    </ul>

                    <ul class="lnb-list" th:if="${useSe == 'USESE00001' || useSe == 'USESE00006' || useSe == 'USESE00007' || useSe == 'USESE00008'}">
                        <li><a th:class="${menu == null && boardId == null} ? 'on' : ''" href="/" title="대시보드" tabindex="2"><img src="/images/common/lnb_dashboard_ico.svg" alt=""><span>대시보드</span></a></li>
                        <li><a th:class="${menu == 1} ? 'on' : ''" th:href="@{|/${auth}/${useSeNm}/mntmgt|}" title="장애관리" tabindex="3"><img src="/images/common/lnb_siren_ico.svg" alt=""><span>장애관리</span></a></li>
                        <!--<li><a th:href="@{|/${auth}/${useSeNm}/cmpds|}"><span>소모품</span></a></li>-->
                        <li class="arrow">
                            <a href="javascript:void(0);" title="커뮤니티" tabindex="8"><img src="/images/common/lnb_community_ico.svg" alt=""><span>커뮤니티</span> <span id="community" class="hiddentext">: 클릭 시 숨겨진 2개 메뉴를 활성화 합니다.</span></a>
                            <ul id="nav_board" class="depth2" ></ul>
                        </li>
                    </ul>
                </th:block>

                <th:block th:if="${auth == 'adm'}">
                    <ul class="lnb-list" th:if="${useSe == 'USESE00006' || useSe == 'USESE00007' || useSe == 'USESE00008'}">
                        <li><a th:class="${menu == null && boardId == null} ? 'on' : ''" href="/" title="대시보드" tabindex="2"><img src="/images/common/lnb_dashboard_ico.svg" alt=""><span>대시보드</span></a></li>
                        <li><a th:class="${menu == 1} ? 'on' : ''" th:href="@{|/${auth}/${useSeNm}/mntmgt|}" title="장애관리" tabindex="3"><img src="/images/common/lnb_siren_ico.svg" alt=""><span>장애관리</span></a></li>
                        <!--<li><a th:href="@{|/${auth}/${useSeNm}/cmpds|}"><span>소모품</span></a></li>-->

                        <li th:if="${useSe == 'USESE00007' || useSe == 'USESE00008'}"><a th:class="${menu == 2} ? 'on' : ''" th:href="@{|/${auth}/${useSeNm}/dep|}" title="기관(학교)관리" tabindex="4"><img src="/images/common/lnb_school_ico.svg" alt=""><span>기관(학교)관리</span></a></li>
                        <li><a th:class="${menu == 3} ? 'on' : ''" th:href="@{|/${auth}/${useSeNm}/${useSeNm}SlcList|}" title="업체관리" tabindex="5"><img src="/images/common/lnb_company_ico.svg" alt=""><span>업체관리</span></a></li>
                        <li><a th:class="${menu == 4} ? 'on' : ''" th:href="@{|/${auth}/${useSeNm}/auth|}" title="권한/파견관리" tabindex="6"><img src="/images/common/lnb_authority_ico.svg" alt=""><span>권한/파견관리</span></a></li>
                        <li><a th:class="${menu == 10} ? 'on' : ''" th:href="@{|/${auth}/${useSeNm}/stats|}" title="통계" tabindex="7"><img src="/images/common/lnb_stats_ico.svg" alt=""><span>통계</span></a></li>
                        <li><a th:class="${menu == 9} ? 'on' : ''" th:href="@{|/${auth}/${useSeNm}/report|}" title="점검보고서" tabindex="8"><img src="/images/common/lnb_report_ico.svg" alt=""><span>점검보고서</span></a></li>

                        <!-- 교육청 주무관만 코드관리, 게시판관리 볼 수 있는 권한이 있음 -->
                        <th:block th:if="${usid == 'edumin1'}">
                            <li><a th:class="${menu == 11} ? 'on' : ''" th:href="@{|/${auth}/${useSeNm}/code|}" tabindex="9"><img src="/images/common/lnb_setting_ico.svg" alt=""><span>코드관리</span></a></li>
                            <li><a th:class="${menu == 12} ? 'on' : ''" th:href="@{|/${auth}/${useSeNm}/ipchk|}" tabindex="11"><img src="/images/common/lnb_ip_ico.svg" alt=""><span>IP 설정</span></a></li>
                        </th:block>

                        <th:block th:if="${usid == 'edumin1' or useSe == 'USESE00008'}">
                            <li><a th:class="${menu == 6} ? 'on' : ''" th:href="@{|/${auth}/${useSeNm}/boardMng|}" tabindex="10"><img src="/images/common/lnb_board_ico.svg" alt=""><span>게시판관리</span></a></li>
                        </th:block>

                        <li class="arrow">
                            <a href="javascript:void(0);" title="커뮤니티" tabindex="12"><img src="/images/common/lnb_community_ico.svg" alt=""><span>커뮤니티</span></a>
                            <ul id="nav_board" class="depth2" ></ul>
                        </li>

                    </ul>

                    <ul class="lnb-list" th:if="${useSe == 'USESE00005'}">
                        <li><a th:class="${menu == null && boardId == null} ? 'on' : ''" href="/" title="대시보드"><img src="/images/common/lnb_dashboard_ico.svg" alt="대시보드"><span>대시보드</span></a></li>
                        <li><a th:class="${menu == 5} ? 'on' : ''"  th:href="@{|/${auth}/${useSeNm}/code|}" title="코드관리"><img src="/images/common/lnb_setting_ico.svg" alt="코드관리"><span>코드관리</span></a></li>
                        <li><a th:class="${menu == 6} ? 'on' : ''" th:href="@{|/${auth}/${useSeNm}/boardMng|}" title="게시판관리"><img src="/images/common/lnb_board_ico.svg" alt="게시판관리"><span>게시판관리</span></a></li>
                        <li class="arrow">
                            <a href="javascript:void(0);" title="커뮤니티"><img src="/images/common/lnb_community_ico.svg" alt="커뮤니티"><span>커뮤니티</span></a>
                            <ul id="nav_board" class="depth2" ></ul>
                        </li>
                    </ul>
                </th:block>

                <!-- 일반유저 or 구데이터 유저 -->
                <ul class="lnb-list" th:if="${useSe} == 'USESE00004' or ${useSe} == 'none'">
                    <li class="arrow">
                        <a href="javascript:void(0);" title="커뮤니티"><img src="/images/common/lnb_community_ico.svg" alt="커뮤니티"><span>커뮤니티</span></a>
                        <ul id="nav_board" class="depth2" ></ul>
                    </li>
                </ul>
            </div>
            <div class="lnb-bottom">
                <a class="btn-hide" href="javascript:void(0);" tabindex="-1"><img src="/images/common/lnb_hide_ico.svg" alt="메뉴 숨기기"></a>
                <div class="user">
                    <div class="ico"><img src="/images/common/user_ico.svg" title="사용자"></div>
                    <div class="user-info">
                        <span th:if="${auth == 'adm'}">관리자</span>

                        <th:block th:if="${(cmpnyNm != null) }">
                            <p tabindex="11" th:text="${cmpnyNm}"></p>
                        </th:block>

                        <th:block th:if="${(orgNm != null) }">
                            <p tabindex="12" th:text="${orgNm}"></p>
                        </th:block>

                        <div class="user-name" tabindex="13"><span class="hiddentext">접속하신 사용자는 </span><span th:text="${userNm}"></span>님 <span class="hiddentext">입니다.</span></div>
                    </div>
                    <a class="btn-logout" href="/logout" title="로그아웃" tabindex="14">로그아웃</a>
                </div>

                <th:block th:if="${useSe != 'none' || useSe != 'USESE00005'}">
                    <div class="btn-area" >
                        <th:block th:if="${auth == 'mber' && (useSe == 'USESE00005' || useSe == 'USESE00006' || useSe == 'USESE00007' || useSe == 'USESE00008')}">
                            <button class="btn btn-adm" onclick="$user.sessionUserChg()" tabindex="15">관리자 전환</button>
                        </th:block>
                        <a class="btn-mypage btn" href="/user/mypage" title="마이페이지" tabindex="16">마이페이지</a>
                    </div>
                </th:block>
            </div>
            <a class="btn-close" href="javascript:void(0);" title="메뉴 닫기" tabindex="-1"><img src="/images/common/mo_menu_close_ico.svg" alt="메뉴 닫기"></a>
        </th:block>
    </th:block>
</nav>
</html>