<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::#section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <th:block id="css">
    </th:block>

    <th:block id="script">
        <script th:src="@{/js/adm/auth/list.js}"></script>
    </th:block>
</head>
<body id="section">
<nav th:replace="layout/nav :: nav" class="lnb"></nav>
<!--권한/파견 관리(교육청)-->
    <div class="main-area">
        <div class="inner">
            <div class="main-container">
                <div class="page-tit__wrap">
                    <ul class="breadcrumbs">
                        <li><img src="/images/common/home_ico.svg" alt="홈"></li>
                        <li>권한/파견 관리</li>
                    </ul>
                    <h2 class="page-tit">권한/파견 관리</h2>
                </div>
                <form>
                    <th:block th:with="useSe=${#authentication.principal.useSe}">
                        <div th:replace="utils/selectOrgCd::orgCdSeletboxDiv"></div>
                    </th:block>
                    <div th:replace="utils/searchBar::search9"></div>
                    <div class="content-item table-content">
                        <div class="table-container type1">
                            <div class="table-top">
                                <div class="total">
                                    <div class="total-box">
                                        <span><span id="serOrgNm"></span>에 등록된 총 인력 수</span>
                                        <b th:text="${result.getTotalElements()}"></b>
                                    </div>
                                </div>
                            </div>
                            <form id="listForm">
                                <table><caption>권한/파견 관리 정보 제공</caption>
                                    <colgroup>
                                        <col width="5%">
                                        <col width="10%">
                                        <col width="10%">
                                        <col width="10%" th:if="${useSe != 'USESE00006'}">
                                        <col width="10%">
                                        <col width="10%">
                                        <col width="10%">
                                        <col width="10%">
                                        <col width="10%">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>이름</th>
                                            <th>아이디</th>
                                            <th th:if="${useSe != 'USESE00006'}">기관(학교)명</th>
                                            <th>내선번호</th>
                                            <th>직위</th>
                                            <th>파견기간</th>
                                            <th>파견관리</th>
                                            <th>권한관리</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:each="list : ${result.content}">
                                        <tr name="row">
                                            <td data-before="No." class="txt-hidden num" th:text="${result.totalElements - (result.pageable.offset + listStat.index)}"></td>
                                            <td class="main-txt" th:text="${list.userNm}"></td>
                                            <td data-before="아이디" class="txt-hidden" th:text="${list.usid}" id="usid"></td>
                                            <td th:if="${useSe != 'USESE00006'}" data-before="기관(학교)명" class="txt-hidden" th:text="${list.orgNm}"></td>
                                            <td data-before="내선번호" class="txt-hidden" th:text="${list.telno}"></td>
                                            <td data-before="직위" class="txt-hidden" th:text="${list.ofcpsNm}"></td>
                                            <th:block th:if="${list.dsptcSe == 'DSPTC00001' || list.dsptcSe == 'DSPTC00002'}">
                                                <td data-before="파견기간" class="txt-hidden wide dashed" th:text="${list.dsptcBgnde != null and list.dsptcEndde != null ? list.dsptcBgnde + ' ~ ' + list.dsptcEndde : '-'}"></td>
                                            </th:block>
                                            <th:block th:if="!${list.dsptcSe == 'DSPTC00001' || list.dsptcSe == 'DSPTC00002'}">
                                                <td data-before="파견기간" class="txt-hidden wide dashed">-</td>
                                            </th:block>
                                            <td data-before="파견관리" class="txt-hidden txt-center">
                                                <th:block th:if="${list.dsptcSe == 'DSPTC00001' || list.dsptcSe == 'DSPTC00002'}">
                                                    <select id="dsptcSe" name="dsptcSe" th:data-default="${list.dsptcSe == '-' ? 'N' : list.dsptcSe}">
                                                        <th:block th:each="key : ${selectKey2List}">
                                                            <option th:value="${key.name}" th:text="${key.description}" th:selected="${key.name} == ${list.dsptcSe}"></option>
                                                        </th:block>
                                                    </select>
                                                </th:block>
                                                <th:block th:if="!${list.dsptcSe == 'DSPTC00001' || list.dsptcSe == 'DSPTC00002'}">
                                                    <select id="dsptcSe" disabled th:data-default="${list.dsptcSe == '-' ? 'N' : list.dsptcSe}">
                                                        <option value="N" th:text="${list.dsptcSe} == 'DSPTC00004' ? '파견중' : ${list.dsptcSe}"></option>
                                                    </select>
                                                </th:block>
                                            </td>
                                            <td data-before="권한관리" class="txt-hidden txt-center">
                                                <select id="useSe" th:disabled="${list.dsptcSe == 'DSPTC00004' || list.dsptcSe == 'DSPTC00001'}" th:data-default="${list.useSe}">
                                                    <option value="">선택</option>
                                                    <th:block th:each="key : ${selectKey1List}">
                                                        <option th:value="${key.name}" th:text="${key.description}" th:selected="${key.name} == ${list.useSe}"></option>
                                                    </th:block>
                                                </select>
                                            </td>
                                        </tr>
                                    </th:block>
                                    <tr th:if="${result.content.size() < 1}" class="empty">
                                        <td th:colspan="${useSe == 'USESE00006'}  ? 7 : 8">
                                            <img src="/images/common/empty_ico.svg" alt="등록된 데이터 없음">
                                            <p>등록된 데이터가 없습니다.</p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="content-bottom">
                                    <div th:replace="utils/pagination::pagination(${result})"></div>
                                    <div class="btn-area">
                                        <a class="btn blue" href="javascript:void(0);" onclick="pageObj.save()" title="저장">저장</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </form>
            </div>
            <footer th:replace="layout/footer :: footer"></footer>
        </div>
    </div>
</body>
</html>