<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::#section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <th:block id="css">
    </th:block>

    <th:block id="script">
        <script th:inline="javascript">
            var boardType = [[${boardType}]];
            var boardMngId = [[${boardMngId}]];
            var categoryId = [[${categoryId}]];
            var defaultPageUrl = [[${defaultPageUrl}]];
        </script>
        <script type="text/javascript" th:src="@{/js/board/thumbnail.js}"></script>
        <script type="text/javascript" th:src="@{/js/board/board_common.js}"></script>
    </th:block>
</head>
<body id="section">
<nav th:replace="layout/nav :: nav" class="lnb"></nav>
<!--담당자(직원) 관리(업체)-->
<div class="main-area">
    <div class="inner">
        <div class="main-container">
            <div class="page-tit__wrap">
                <ul class="breadcrumbs">
                    <li><img src="/images/common/home_ico.svg" alt="홈"></li>
                    <li>커뮤니티</li>
                    <li th:text="${boardTitle}"></li>
                </ul>
                <h2 class="page-tit" th:text="${boardTitle}"></h2>
            </div>
            <form th:action>
                <div class="content">
                    <!-- 조건검색 -->
                    <div th:replace="utils/searchBar :: search17"></div>

                    <div class="content-item table-content">
                        <div class="board-tab">
                            <a th:class="${categoryId == 'all'} ? 'active': ''"
                               th:href="@{|${defaultPageUrl}/all|}">전체</a>

                            <th:block th:each="ctgry : ${ctgryList}">
                                <a th:class="${categoryId == ctgry.boardCategoryId.toString()} ? 'active' : ''"
                                   th:href="@{|${defaultPageUrl}/${ctgry.boardCategoryId}|}"
                                   th:text="${ctgry.categoryNm}"></a>
                            </th:block>
                        </div>
                        <div class="table-top">
                            <div class="total">
                                <div class="total-box" tabindex="-1">
                                    <span>총 개수</span>
                                    <b th:text="${result.getTotalElements()}"></b>
                                </div>
                            </div>
                        </div>
                        <div class="thumbnail-wrap">
                            <span class="hiddentext">게시판 목록으로 번호, 제목, 파일여부의 정보 제공</span>
                            <th:block th:each="board : ${result.content}">
                                <div id="content_tr" class="thumbnail-item" th:value="${board.id}" >
                                    <div class="thumbnail-img">
                                        <th:block th:if="${(board.thumbnailNm != null) }">
                                            <img th:src="@{|/api/v1/files/img/${board.boardCategoryId}/${board.updtDt}/${board.thumbnailNm}|}"
                                                 th:alt="${board.title}" th:title="${board.title}"/>
                                        </th:block>
                                        <th:block th:if="${(board.thumbnailNm == null) }">
                                            <img src="/images/common/noimage.png" alt="등록된 이미지가 없습니다.">
                                        </th:block>
                                    </div>
                                    <p class="num">No.<span th:text="${result.totalElements - (result.pageable.offset + boardStat.index)}"></span></p>
                                    <p class="tit main-txt" th:classappend="${board.newIcon eq 'T'} ? 'new' : ''" th:text="${board.title}"></p>
                                </div>
                            </th:block>
                        </div>
                        <div th:if="${result.content.size() < 1}" class="empty">
                            <img src="/images/common/empty_ico.svg" alt="등록된 데이터가 없습니다.">
                            <p>등록된 데이터가 없습니다.</p>
                        </div>
                        <div class="content-bottom">
                            <!-- 페이징 -->
                            <div th:replace="utils/pagination :: pagination(${result})"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <footer th:replace="layout/footer :: footer"></footer>
    </div>
</div>
</section>
</body>
</html>