<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::#section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <th:block id="css">
    </th:block>

    <th:block id="script">
        <script type="text/javascript" th:src="@{/js/board/boardMng.js}"></script>
    </th:block>
</head>
<body id="section">
<nav th:replace="layout/nav :: nav" class="lnb"></nav>
<!--담당자(직원) 관리(업체)-->
<div class="main-area">
    <div class="inner">
        <div class="main-container">
            <div class="page-tit__wrap">
                <ul class="breadcrumbs">
                    <li><img src="/images/common/home_ico.svg" alt="홈"></li>
                    <li>게시판 관리</li>
                </ul>
                <h2 class="page-tit">게시판 관리</h2>
            </div>
            <form>
                <div class="content">
                    <!-- 조건검색 -->

                    <div class="content-item table-content">
                        <div class="table-top">
                            <div class="total">
                                <div class="total-box" tabindex="-1">
                                    <span>총 개수</span>
                                    <b th:text="${result.getTotalElements()}"></b>
                                </div>
                            </div>
                            <div class="btn-area">
                                <a class="btn wht" href="javascript:void(0);" onclick="pageObj.holidayView()" tabindex="202"><img
                                    src="/images/common/btn_setting_ico.svg" alt="">공휴일/휴일 관리<span class="hiddentext">: 휴일을 등록하기 위한 상단에 위치한 버튼입니다.</span></a>
                                <a class="btn wht" href="javascript:void(0);" onclick="pageObj.copyView()" tabindex="202"><img
                                    src="/images/common/btn_copy_ico.svg" alt="">복사<span class="hiddentext">: 게시판 등록을 하기 위한 상단에 위치한 버튼입니다.</span></a>
                                <a class="btn wht-red" href="javascript:void(0);" onclick="pageObj.change()" tabindex="202"><img
                                    src="/images/common/btn_delete_ico.svg" alt="">사용/미사용<span class="hiddentext">: 게시판 등록을 하기 위한 상단에 위치한 버튼입니다.</span></a>
                                <a class="btn add" href="javascript:void(0);" onclick="$view.add()" tabindex="202"><img src="/images/common/add_ico.svg" alt="">등록<span class="hiddentext">: 게시판 등록을 하기 위한 상단에 위치한 버튼입니다.</span></a>
                            </div>
                        </div>
                        <div class="table-container type1">
                            <table id="tb_board">
                                <caption>게시판 목록<span>게시판 목록으로 번호, 게시판명, 사용여부의 정보 제공</span></caption>
                                <colgroup>
                                    <col width="5%">
                                    <col width="10%">
                                    <col width="15%">
                                    <col width="*">
                                    <col width="15%">
                                    <col width="10%">
                                    <col width="20%">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>선택</th>
                                    <th>No</th>
                                    <th>유형</th>
                                    <th>게시판명</th>
                                    <th>카테고리 수</th>
                                    <th>사용여부</th>
                                    <th>수정/조회/삭제물조회</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="board : ${result.content}">
                                    <tr>
                                        <td class="order1">
                                            <label class="chk-item">
                                                <input type="checkbox" title="체크" th:id="${board.boardMngId}">
                                            </label>
                                        </td>
                                        <td data-before="No." class="txt-hidden num" th:text="${result.totalElements - (result.pageable.offset + boardStat.index)}"></td>
                                        <td data-before="유형" class="txt-hidden">
                                            <span th:if="${board.boardType == 'BOARD00001'}">일반</span>
                                            <span th:if="${board.boardType == 'BOARD00002'}">1:1문의</span>
                                            <span th:if="${board.boardType == 'BOARD00003'}">FAQ</span>
                                            <span th:if="${board.boardType == 'BOARD00004'}">썸네일</span>
                                            <span th:if="${board.boardType == 'BOARD00005'}">동영상</span>
                                            <span th:if="${board.boardType == 'BOARD00006'}">일정</span>
                                            <span th:if="${board.boardType == 'BOARD00007'}">자료실</span>
                                            <span th:if="${board.boardType == 'BOARD00008'}">소식지</span>
                                        </td>
                                        <td class="main-txt" th:text="${board.boardTitle}"></td>
                                        <td data-before="카테고리 수" class="txt-hidden" th:text="|${board.categoryCount}개|"></td>
                                        <td class="abs-r">
                                            <span class="tag blue" th:if="${board.useAt == 'Y'}">사용</span>
                                            <span class="tag red" th:if="${board.useAt == 'N'}">미사용</span>
                                        </td>
                                        <td class="button">
                                            <button type="button" class="btn wht" th:onclick="$view.edit([[${board.boardMngId}]])">수정</button>
                                            <button type="button" class="btn sky" th:boardMngId="${board.boardMngId}" th:ncnm="${board.ncnm}"
                                                    th:onclick="pageObj.view(this.getAttribute('boardMngId'), this.getAttribute('ncnm'))">바로가기</button>
                                            <button type="button" class="btn red" th:boardMngId="${board.boardMngId}" th:ncnm="${board.ncnm}"
                                                    th:onclick="pageObj.delView(this.getAttribute('boardMngId'), this.getAttribute('ncnm'))">삭제게시물관리</button>
                                        </td>
                                    </tr>
                                </th:block>
                                <tr th:if="${result.content.size() < 1}" class="empty">
                                    <td colspan="4">
                                        <img src="/images/common/empty_ico.svg" alt="등록된 데이터가 없습니다.">
                                        <p>등록된 데이터가 없습니다.</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="content-bottom">
                            <!-- 페이징 -->
                            <div th:replace="utils/pagination :: pagination(${result})"></div>
                            <div class="btn-area">
                                <a class="btn add" href="javascript:void(0);" onclick="$view.add()" tabindex="202">등록<span class="hiddentext">: 게시판 등록을 하기 위한 상단에 위치한 버튼입니다.</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <footer th:replace="layout/footer :: footer"></footer>
    </div>
</div>
</section>
</body>
</html>