<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::#section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <th:block id="css">
    </th:block>

    <th:block id="script">
        <script type="text/javascript" th:src="@{/js/board/boardMng.js}"></script>
    </th:block>
</head>
<body id="section">
<nav th:replace="layout/nav :: nav" class="lnb"></nav>
<!--담당자(직원) 관리(업체)-->
<div class="main-area">
    <div class="inner">
        <div class="main-container">
            <div class="page-tit__wrap">
                <ul class="breadcrumbs">
                    <li><img src="/images/common/home_ico.svg" alt="홈"></li>
                    <li>게시판 관리</li>
                    <li>등록</li>
                </ul>
                <h2 class="page-tit">게시판 등록</h2>
            </div>
            <span class="hiddentext" >게시판 설정 정보 입력화면입니다. 입력내용 중 필수 입력 사항이 존재합니다.</span>
            <form>
                <div class="content">
                    <!-- 조건검색 -->

                    <div class="content-item">
                        <div class="tit-area">
                            <h3 class="tit-area__tit">등록 정보</h3>
                            <span class="essential-txt"><span>표시는 필수 입력 사항입니다.</span></span>
                        </div>

                        <form id="form" th:object="${result}">
                            <div class="input-area">
                                <div class="input-list">
                                    <div class="label"><span>게시판 유형 선택</span></div>
                                    <div class="input-box">
                                        <span class="hiddentext" >게시판 유형 설명으로 게시판 유형을 선택합니다. 필수 입력 항목이며, 상하 이동 버튼으로 선택합니다.</span>
                                        <select th:field="*{boardType}" title="게시판 유형" data="data essential" disabled>
                                            <option value="">선택</option>
                                            <option th:each="code : ${codeList}" th:value="${code.code}" th:text="${code.codeNm}"></option>
                                        </select>
                                    </div>
                                </div>

                                <div class="input-list">
                                    <div class="label essential"><span>게시판명</span></div>
                                    <div class="input-box">
                                        <span class="hiddentext" >게시판명 설명으로 게시판명을 입력합니다. 필수 입력 항목입니다.</span>
                                        <input type="text" th:field="*{boardTitle}" title="게시판명" maxlength="10" placeholder="게시판명을 입력해 주세요" data="data essential">
                                    </div>
                                </div>

                                <div class="input-list">
                                    <div class="label"><span>게시판 출력 수</span></div>
                                    <div class="input-box">
                                        <span class="hiddentext" >게시판 출력 수 설명으로 게시판 목록 개수를 선택합니다. 필수 입력 항목이며, 상하 이동 버튼으로 선택합니다.</span>
                                        <select th:field="*{pageCnt}" title="게시판 출력 수" data="data">
                                            <option value="0">선택</option>
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="30">30</option>
                                            <option value="40">40</option>
                                            <option value="50">50</option>
                                            <option value="60">60</option>
                                            <option value="70">70</option>
                                            <option value="80">80</option>
                                            <option value="90">90</option>
                                            <option value="100">100</option>
                                        </select>
                                        <span class="help-txt">미선택 시 기본 15개로 자동 설정됩니다.</span>
                                    </div>
                                </div>

                                <div class="input-list">
                                    <div class="label"><span>새 글 설정 기간</span></div>
                                    <div class="input-box small">
                                        <span class="hiddentext" >새 글 설정 기간 설명으로 새 글을 설정할 수 있는 기간을 입력합니다.</span>
                                        <span>
                                        <input type="text" th:field="*{newWrtDtCnt}" title="새 글 설정 기간" formatter='number' data="data">
                                        일
                                        <span class="help-txt">미입력 시 새 글 설정이 되지 않습니다.</span>
                                    </span>
                                    </div>
                                </div>

                                <div class="input-list">
                                    <div class="label"><span>게시글 보존 기간</span></div>
                                    <div class="input-box small">
                                        <span class="hiddentext" >게시글 보존 기간 설명으로 게시글을 보존 수 있는 기간을 입력합니다.</span>
                                        <span>
                                        <input type="text" th:field="*{postRetDt}" title="게시글 보존 기간" formatter='number' data="data">
                                        일
                                    </span>
                                    </div>
                                </div>

                                <div class="input-list">
                                    <div class="label"><span>게시글 설정 기간</span></div>
                                    <div class="input-box small">
                                        <span class="hiddentext" >게시글 설정 기간 설명으로 게시글을 설정할 수 있는 기간을 입력합니다.</span>
                                        <span>
                                        <input type="text" th:field="*{postDtCnt}" title="게시글 설정 기간" formatter='number' data="data">
                                        일
                                    </span>
                                    </div>
                                </div>

                                <div class="input-list">
                                    <div class="label"><span>전체공지 설정 기간</span></div>
                                    <div class="input-box small">
                                        <span class="hiddentext" >전체공지 설정 기간 설명으로 게시글을 설정할 수 있는 기간을 입력합니다.</span>
                                        <span>
                                        <input type="text" th:field="*{anoticeWrtDtCnt}" title="게시글 설정 기간" formatter='number' data="data">
                                        일
                                    </span>
                                    </div>
                                </div>

                                <div class="input-list">
                                    <div class="label"><span>공지 설정 기간</span></div>
                                    <div class="input-box small">
                                        <span class="hiddentext" >공지 설정 기간 설명으로 게시글을 설정할 수 있는 기간을 입력합니다.</span>
                                        <span>
                                        <input type="text" th:field="*{noticeWrtDtCnt}" title="게시글 설정 기간" formatter='number' data="data">
                                        일
                                    </span>
                                    </div>
                                </div>

<!--                                <div class="input-list">-->
<!--                                    <div class="label"><span>첨부파일 업로드 폴더명</span></div>-->
<!--                                    <div class="input-box">-->
<!--                                        <span class="hiddentext" >첨부파일 업로드 폴더명 설명으로 첨부파일 업로드 폴더명을 입력합니다.</span>-->
<!--                                        <input type="text" th:field="*{fileFldrNm}" title="첨부파일 업로드 폴더명" placeholder="첨부파일 업로드 폴더명을 입력해 주세요" formatter='number' data="data">-->
<!--                                    </div>-->
<!--                                </div>-->

                                <div class="input-list">
                                    <div class="label"><span>첨부파일 허용 개수</span></div>
                                    <div class="input-box small">
                                        <span class="hiddentext" >첨부파일 허용 개수 설명으로 첨부파일 허용 개수를 입력합니다.</span>
                                        <input type="text" th:field="*{fileCnt}" title="첨부파일 허용 개수" formatter='number' data="data">
                                        개
                                        <span class="help-txt">미입력 시 개수 제한이 없어집니다.</span>
                                    </div>
                                </div>

                                <div class="input-list">
                                    <div class="label"><span>첨부파일 개당 허용 크기</span></div>
                                    <div class="input-box small">
                                        <span class="hiddentext" >첨부파일 개당 허용 크기 설명으로 첨부파일 개당 허용 크기를 입력합니다.</span>
                                        <input type="text" th:field="*{fileSize}" title="첨부파일 개당 허용 크기" formatter='number' data="data">
                                        KB
                                        <span class="help-txt">미입력 시 자동 10,485,760KB로 설정됩니다.</span>
                                    </div>
                                </div>

                                <div class="input-list">
                                    <div class="label"><span>첨부파일 전체 허용 크기</span></div>
                                    <div class="input-box small">
                                        <span class="hiddentext" >첨부파일 전체 허용 크기 설명으로 첨부파일 전체 허용 크기를 입력합니다.</span>
                                        <input type="text" th:field="*{fileFullSize}" title="첨부파일 전체 허용 크기" formatter='number' data="data">
                                        KB
                                    </div>
                                </div>

                                <div class="input-list">
                                    <div class="label"><span>첨부파일 전체 허용 확장자</span></div>
                                    <div class="input-box">
                                        <span class="hiddentext" >첨부파일 전체 허용 확장자 설명으로 첨부파일 전체 허용 확장자를 입력합니다.</span>
                                        <textarea th:field="*{fileExt}" title="첨부파일 전체 허용 확장자"  placeholder="첨부파일 전체 허용 확장자를 콤마(,) 단위로 입력해 주세요." data="data"></textarea>
                                        <span class="help-txt">미입력 시 실행파일을 제외한 모든 파일이 허용됩니다.</span>
                                    </div>
                                </div>

                                <div class="input-list">
                                    <div class="label"><span>금지 단어</span></div>
                                    <div class="input-box">
                                        <span class="hiddentext" >금지 단어 설명으로 금지 단어를 입력합니다.</span>
                                        <textarea th:field="*{banWord}" title="금지 단어"  placeholder="금지 단어를 콤마(,) 단위로 입력해 주세요." data="data"></textarea>
                                    </div>
                                </div>

                                <div class="input-list">
                                    <div class="label"><span>카테고리 사용 여부</span></div>
                                    <div class="input-box">
                                        <span class="hiddentext" >카테고리 사용 여부 설명으로 카테고리 사용 여부를 선택합니다.</span>
                                        <div class="chk-list">
                                            <label class="toggle">
                                                <input type="checkbox" id="ctgryUseAt" th:field="*{ctgryUseAt}" title="카테고리 사용 여부" value="Y" onchange="pageObj.changeCtgryUseAt(this)" data="data">
                                                <span>카테고리 사용</span>
                                            </label>
                                        </div>
                                        <div class="table-container type2 mt2" id="div_ctgry" th:style="*{ctgryUseAt == 'Y'} ? 'display:block' : 'display:none'">
                                            <table id="tb_ctgry">
                                                <thead>
                                                <col width="5%">
                                                <col width="*">
                                                <tr>
                                                    <th>선택</th>
                                                    <th>카테고리명</th>
                                                </tr>
                                                </thead>
                                                <tbody id="tbody_ctgry">
                                                <tr th:each="ctgry: ${ctgryList}">
                                                    <td class="order1">
                                                        <label class="chk-item"><input type="checkbox" th:id="${ctgry.boardCategoryId}" class="chk_ctgry" title="체크"></label>
                                                    </td>
                                                    <td id="td_ctgryNm">
                                                        <input type="text" id="ctgryNm" th:value="${ctgry.categoryNm}" maxlength="8">
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <div class="btn-area right">
                                                <a class="btn red small" href="javascript:void(0);" onclick="pageObj.delCtgry()">삭제</a>
                                                <a class="btn sky small" href="javascript:void(0);" onclick="pageObj.addCtgry()">추가</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="input-list">
                                    <div class="label"><span>필수 항목 체크</span></div>
                                    <div class="input-box">
                                        <div class="chk-list">
                                            <span class="hiddentext" >필수 항목 체크 설명으로 제목 필수 여부를 선택합니다.</span>
                                            <label class="chk-item">
                                                <input type="checkbox" id="essTitle" th:field="*{essTitle}" title="제목 필수 여부" value="Y" data="data">
                                                <span>제목</span>
                                            </label>
                                            <span class="hiddentext" >필수 항목 체크 설명으로 내용 필수 여부를 선택합니다.</span>
                                            <label class="chk-item">
                                                <input type="checkbox" id="essContent" th:field="*{essContent}" title="내용 필수 여부" value="Y" data="data">
                                                <span>내용</span>
                                            </label>
                                            <span class="hiddentext" >필수 항목 체크 설명으로 이메일 필수 여부를 선택합니다.</span>
                                            <label class="chk-item">
                                                <input type="checkbox" id="essEmail" th:field="*{essEmail}" title="이메일 필수 여부" value="Y" data="data">
                                                <span>이메일</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="input-list">
                                    <div class="label"><span>기타 설정 여부</span></div>
                                    <div class="input-box">
                                        <div class="toggle-list">
                                            <span class="hiddentext" >댓글 설정 여부 설명으로 댓글 설정 여부를 선택합니다.</span>
                                            <label class="toggle">
                                                <span>댓글 설정 여부</span>
                                                <input type="checkbox" id="comntAt" th:field="*{comntAt}" title="댓글 설정 여부" value="Y" data="data">
                                            </label>
                                            <span class="hiddentext" >에디터 설정 여부 설명으로 에디터 설정 여부를 선택합니다.</span>
                                            <label class="toggle">
                                                <span>에디터 설정 여부</span>
                                                <input type="checkbox" id="editorAt" th:field="*{editorAt}" title="에디터 설정 여부" value="Y" data="data">
                                            </label>
                                            <span class="hiddentext" >비밀글 사용 여부 설명으로 비밀글 사용 여부를 선택합니다.</span>
                                            <label class="toggle">
                                                <span>비밀글 사용 여부</span>
                                                <input type="checkbox" id="secretAt" th:field="*{secretAt}" title="비밀글 설정 여부" value="Y" data="data">
                                            </label>
                                            <span class="hiddentext" >승인제 사용 여부 설명으로 승인제 사용 여부를 선택합니다.</span>
                                            <label class="toggle">
                                                <span>승인제 사용 여부</span>
                                                <input type="checkbox" id="approvalAt" th:field="*{approvalAt}" title="승인제 설정 여부" value="Y" data="data">
                                            </label>
                                            <span class="hiddentext" >공지 사용 여부 설명으로 공지 사용 여부를 선택합니다.</span>
                                            <label class="toggle">
                                                <span>공지 사용 여부</span>
                                                <input type="checkbox" id="postAt" th:field="*{postAt}" title="공지 사용 여부" value="Y" data="data">
                                            </label>
                                            <span class="hiddentext" >전체 공지 사용 여부 설명으로 전체 공지 사용 여부를 선택합니다.</span>
                                            <label class="toggle">
                                                <span>전체 공지 사용 여부</span>
                                                <input type="checkbox" id="allPostAt" th:field="*{allPostAt}" title="전체 공지 사용 여부" value="Y" data="data">
                                            </label>
                                            <span class="hiddentext" >게시물 등록 예약 여부 설명으로 게시물 등록 예약 여부를 선택합니다.</span>
                                            <label class="toggle">
                                                <span>게시물 등록 예약 여부</span>
                                                <input type="checkbox" id="postResAt" th:field="*{postResAt}" title="게시물 등록 예약 여부" value="Y" data="data">
                                            </label>
                                            <span class="hiddentext" >관리자 문자메시지 수신 여부 설명으로 관리자 문자메시지 수신 여부를 선택합니다.</span>
                                            <label class="toggle">
                                                <span>관리자 문자메시지 수신 여부</span>
                                                <input type="checkbox" id="adminSmsAt" th:field="*{adminSmsAt}" title="관리자 문자메시지 수신 여부" value="Y" data="data">
                                            </label>
                                            <span class="hiddentext" >관리자 이메일 수신 여부 설명으로 관리자 이메일 수신 여부를 선택합니다.</span>
                                            <label class="toggle">
                                                <span>관리자 이메일 수신 여부</span>
                                                <input type="checkbox" id="adminEmailAt" th:field="*{adminEmailAt}" title="관리자 이메일 수신 여부" value="Y" data="data">
                                            </label>
                                            <span class="hiddentext" >작성자 문자메시지 수신 여부 설명으로 작성자 문자메시지 수신 여부를 선택합니다.</span>
                                            <label class="toggle">
                                                <span>작성자 문자메시지 수신 여부</span>
                                                <input type="checkbox" id="wrtrSmsAt" th:field="*{wrtrSmsAt}" title="작성자 문자메시지 수신 여부" value="Y" data="data">
                                            </label>
                                            <span class="hiddentext" >작성자 이메일 수신 여부 설명으로 작성자 이메일 수신 여부를 선택합니다.</span>
                                            <label class="toggle">
                                                <span>작성자 이메일 수신 여부</span>
                                                <input type="checkbox" id="wrtrEmailAt" th:field="*{wrtrEmailAt}" title="작성자 이메일 수신 여부" value="Y" data="data">
                                            </label>

                                            <span class="hiddentext" >첨부파일 미리보기 여부 설명으로 첨부파일 미리보기 사용 여부를 선택합니다.</span>
                                            <label class="toggle">
                                                <span>첨부파일 미리보기 여부</span>
                                                <input type="checkbox" id="wrtrPrevAt" th:field="*{wrtrPrevAt}" title="첨부파일 미리보기 여부" value="Y" data="data">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="btn-area">
                            <a class="btn gray" href="javascript:void(0);" onclick="$view.main()">취소</a>
                            <a class="btn blue" href="javascript:void(0);" th:onclick="pageObj.update([[*{boardMngId}]])">수정</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <footer th:replace="layout/footer :: footer"></footer>
    </div>
</div>
</section>
</body>
</html>