<!DOCTYPE html>

<html th:replace="~{/layout/base :: layout(~{::#css}, ~{::#script}, ~{::#section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <th:block id="css">
    </th:block>

    <th:block id="script">
        <script th:src="@{/js/board/boardM.js}"></script>
    </th:block>
</head>
<body id="section">
<nav th:replace="layout/nav :: nav" class="lnb"></nav>
<!--게시판 목록-->
    <div class="main-area">
        <div class="inner">
            <div class="main-container">
                <form autocomplete="off">
                    <div class="page-tit__wrap">
                        <ul class="breadcrumbs">
                            <li><img src="/images/common/home_ico.svg" alt="홈"></li>
                            <li>게시판 관리 목록</li>
                        </ul>
                        <h2 class="page-tit">게시판 관리 목록</h2>
                    </div>
                    <div th:replace="utils/searchBar :: search11"></div>
                    <div class="content-item table-content">
                        <div class="total">
                            <div class="total-box">
                                <span>총</span>
                                <b th:text="${result.totalElements}"></b>
                            </div>
                        </div>
                        <div class="table-container type1">
                            <table><caption>게시판 관리 목록 정보 제공</caption>
                                <colgroup>
                                    <col width="60px">
                                    <col width="120px">
                                    <col width="*">
                                    <col width="*">
                                    <col width="*">
                                    <col width="*">
                                    <col width="300px">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>
                                        <label class="chk-item" for="chk1">
                                            <input type="checkbox" id="chk1" check="all">
                                        </label>
                                    </th>
                                    <th>No</th>
                                    <th>게시판명</th>
                                    <th>게시판타입</th>
                                    <th>게시글수</th>
                                    <th>노출여부</th>
                                    <th>관리</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${not #lists.isEmpty(result)}" th:each="boardm, status : ${result}">
                                    <td class="order1">
                                        <label class="chk-item" for="chk1">
                                            <input type="checkbox" id="chk" th:value="${boardm.bIdx}" th:if="${boardm.boardCount <= 0}" />
                                        </label>
                                    </td>
                                    <td data-before="No." class="txt-hidden num" th:text="${result.getTotalElements() - (result.pageable.getPageNumber()) * result.pageable.getPageSize() - status.index}"></td>
                                    <td class="main-txt" th:text="${boardm.bTitle}" th:onclick="pageObj.view.detail([[${boardm.bIdx}]])" style="cursor: pointer;"></td>
                                    <td data-before="게시판타입" class="txt-hidden" th:text="${boardm.bType == '1' ? '일반게시판' : (boardm.bType == '2' ? 'FAQ게시판' : 'QNA게시판')}"></td>
                                    <td data-before="게시글수" class="txt-hidden" th:text="${boardm.boardCount}"></td>
                                    <td data-before="노출여부" class="txt-hidden" th:text="${boardm.bDisply}"></td>
                                    <td class="button">
                                        <a class="btn border" th:if="${not result.isEmpty()}" th:onclick="pageObj.view.detail([[${boardm.bIdx}]])" title="수정">수정</a>
                                        <a class="btn red" th:if="${not result.isEmpty() && boardm.boardCount <= 0}" th:onclick="pageObj.delete.chkDel([[${boardm.bIdx}]])" title="삭제">삭제</a>
                                        <a class="btn sky" th:if="${not result.isEmpty()}" th:onclick="pageObj.view.boardLink([[${boardm.bIdx}]])" target="_blank" title="바로가기">바로가기</a>
                                    </td>
                                </tr>
                                <tr th:if="${result.isEmpty()}">
                                    <td colspan="7">
                                        <img src="/images/common/empty_ico.svg" alt="등록된 데이터 없음">
                                        <p>등록된 데이터가 없습니다.</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="content-bottom">
                            <div th:if="${boardMCnt > 0}" th:replace="utils/pagination :: pagination(${result})"></div>
                            <div class="btn-area">
                                <a class="btn red" th:if="${not result.isEmpty()}" onclick="pageObj.delete.allDel()" title="삭제">삭제</a>
                                <a class="btn add" href="javascript:void(0);" onclick="pageObj.view.register()" title="등록">등록</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <footer th:replace="layout/footer :: footer"></footer>
        </div>
    </div>
</body>
</html>