<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::#section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <th:block id="css">
    </th:block>

    <th:block id="script">
        <script th:src="@{/js/mber/rep/empAgree.js}"></script>
    </th:block>
</head>
<body id="section">
<nav th:replace="layout/nav :: nav" class="lnb"></nav>
<!--담당자(직원) 관리(업체)-->
    <div class="main-area">
        <div class="inner">
            <div class="main-container">
                <div class="page-tit__wrap">
                    <ul class="breadcrumbs">
                        <li><img src="/images/common/home_ico.svg" alt="홈"></li>
                        <li>담당자(직원) 관리</li>
                    </ul>
                    <h2 class="page-tit">담당자(직원) 관리</h2>
                </div>
                <form>
                    <div class="content">
                        <!-- 조건검색 -->
                        <div th:replace="utils/searchBar :: search5"></div>

                        <div class="content-item">
                            <div class="tit-area">
                                <h3 class="tit-area__tit">직원 목록</h3>
                            </div>
                            <div class="table-container type1 rel-l">
                                <table id="empTable">
                                    <caption>직원 목록<span>직원 목록으로 번호, 이름, 아이디, 이메일, 휴대폰, 직책, 가입일, 담당업무, 장애관리 담당 기관(학교), 상태의 정보 제공</span></caption>
                                    <colgroup>
                                        <col width="5%">
                                        <col width="5%">
                                        <col width="5%">
                                        <col width="10%">
                                        <col width="10%">
                                        <col width="10%">
                                        <col width="5%">
                                        <col width="10%">
                                        <col width="*">
                                        <col width="*">
                                        <col width="5%">
                                        <col width="10%">
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th>선택</th>
                                        <th>No</th>
                                        <th>이름</th>
                                        <th>아이디</th>
                                        <th>이메일</th>
                                        <th>휴대폰</th>
                                        <th>직책</th>
                                        <th>가입일</th>
                                        <th>담당업무</th>
                                        <th>장애관리 담당 기관(학교)</th>
                                        <th>상태</th>
                                        <th>권한해제</th>
                                    </tr>
                                    </thead>
                                    <tbody id="empList">
                                    <th:block th:each="rep : ${result.content}">
                                        <tr>
                                            <td class="order1">
                                                <label class="chk-item">
                                                    <input type="checkbox" title="체크" th:id="${rep.usid}" th:onclick="pageObj.empAgreeCheck(this,[[${rep.usid}]])">
                                                </label>
                                            </td>
                                            <td data-before="No." class="txt-hidden num" th:text="${result.totalElements - (result.pageable.offset + repStat.index)}"></td>
                                            <td class="main-txt" th:text="${rep.userNm}" id="userNm"></td>
                                            <td data-before="아이디" class="txt-hidden" th:text="${rep.usid}"></td>
                                            <td data-before="이메일" class="txt-hidden" th:text="${rep.email}"></td>
                                            <td data-before="휴대폰" class="txt-hidden" th:text="${rep.mbtlnum}"></td>
                                            <td data-before="직책" class="txt-hidden" th:text="${rep.rspofcSe}"></td>
                                            <td data-before="가입일" class="txt-hidden dashed-hidden" th:text="${rep.registDt}"></td>
                                            <td data-before="담당업무" class="txt-hidden dashed" th:text="${rep.chrgJob}"></td>
                                            <td data-before="장애관리 담당기관 " class="txt-hidden" th:utext="${rep.mainList}"></td>
                                            <td class="abs-r">
                                                <span class="tag green" th:if="${rep.confmSe == 'CONFM00001' or rep.confmSe == null}">승인대기</span>
                                                <span class="tag blue" th:if="${rep.confmSe == 'CONFM00002'}">승인</span>
                                                <span class="tag gray" th:if="${rep.confmSe == 'CONFM00003'}">반려</span>
                                            </td>
                                            <td class="button">
                                                <button type="button" class="btn red" th:if="${rep.confmSe == 'CONFM00001' or rep.confmSe == null}" disabled>권한해제</button>
                                                <button type="button" class="btn red" th:if="${rep.confmSe == 'CONFM00002'}" th:onclick="pageObj.delete([[${rep.usid}]])">권한해제</button>
                                                <button type="button" class="btn red" th:if="${rep.confmSe == 'CONFM00003'}" disabled>권한해제</button>
                                            </td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div>
                            <!-- 페이징 -->
                            <div th:replace="utils/pagination :: pagination(${result})"></div>
                        </div>

                        <div class="content-item">
                            <div class="tit-area">
                                <h3 class="tit-area__tit">직원 권한 등록</h3>
                            </div>
                            <div class="table-container type2 table-scroll">
                                <table>
                                    <caption>직원 권한 등록 목록<span>직원 권한 등록 목록으로 성명, 담당업무, 장애관리 담당 기관(학교)의 정보 제공</span></caption>
                                    <colgroup>
                                        <col width="100px">
                                        <col width="330px">
                                        <col width="*">
                                        <col width="*">
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th>성명</th>
                                        <th>담당 업무</th>
                                        <th>장애관리 담당 기관(학교)</th>
                                    </tr>
                                    </thead>
                                    <tbody id="agreeTable">
                                    </tbody>
                                </table>
                            </div>
                            <div class="btn-area mt2">
                                <button type="button" class="btn blue small" style="margin-left: auto;" onclick="pageObj.save()" title="등록"><img src="/images/common/add_ico.svg" alt="등록">등록</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <footer th:replace="layout/footer :: footer"></footer>
        </div>
    </div>
</section>
</body>
</html>