<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::#section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <th:block id="css">
    </th:block>

    <th:block id="script">
        <script th:src="@{/js/mber/rep/slc.js}"></script>
    </th:block>
</head>
<body id="section">
<nav th:replace="layout/nav :: nav" class="lnb"></nav>
<!--기관(학교) 현황(업체)-->
    <div class="main-area">
        <div class="inner">
            <div class="main-container">
                <div class="page-tit__wrap">
                    <ul class="breadcrumbs">
                        <li><img src="/images/common/home_ico.svg" alt="홈"></li>
                        <li>기관(학교) 현황</li>
                    </ul>
                    <h2 class="page-tit">기관(학교) 현황</h2>
                </div>
                <div class="content">
                    <form>
                        <div th:replace="utils/selectOrgCd :: orgCdSeletboxDiv2"></div>
                        <div class="content-item table-content">
                            <div class="table-container type1">
                                <div class="table-top">
                                    <div class="total">
                                        <div class="total-box">
                                            <span>미처리(신청+접수)</span>
                                            <b th:text="${result.content.size() > 0 ? result.content.get(0).unproCnt : 0}"></b>
                                        </div>
                                        <div class="total-box">
                                            <span>총 개수</span>
                                            <b th:text="${result.getTotalElements}"></b>
                                        </div>
                                    </div>
                                </div>
                                <table>
                                    <caption>기관(학교) 현황 목록<span>기관(학교) 현황 목록으로 번호, 기관(학교명)명, 요청일, 승인자, 승인일, 상태, 비고의 정보 제공</span></caption>
                                    <colgroup>
                                        <col width="10%">
                                        <col width="*">
                                        <col width="15%">
                                        <col width="15%">
                                        <col width="15%">
                                        <col width="10%">
                                        <col width="10%">
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>기관(학교)명</th>
                                        <th>요청일</th>
                                        <th>승인자</th>
                                        <th>승인일</th>
                                        <th>상태</th>
                                        <th>비고</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:each="slc : ${result.content}">
                                        <tr>
                                            <input type="hidden" id="bizrno" th:value="${slc.bizrno}" th:title="${slc.bizrno}"/>
                                            <input type="hidden" id="slctnNo" th:value="${slc.slctnNo}" th:title="${slc.slctnNo}"/>
                                            <td data-before="No." class="txt-hidden num" th:text="${result.totalElements - (result.pageable.offset + slcStat.index)}"></td>
                                            <td class="main-txt" th:text="${slc.orgCd}"></td>
                                            <td data-before="요청일" class="txt-hidden" th:text="${slc.registDt}"></td>
                                            <th:block th:if="${slc.confmerId == null}">
                                                <td data-before="승인자" class="txt-hidden">-</td>
                                            </th:block>
                                            <th:block th:if="${slc.confmerId != null}">
                                                <td data-before="승인자" class="txt-hidden" th:text="${slc.confmerId}"></td>
                                            </th:block>
                                            <td data-before="승인일" class="txt-hidden" th:text="${slc.confmDe}"></td>
                                            <td class="abs-r">
                                                <span class="tag green" th:if="${slc.confmSe == 'CONFM00001'}">승인대기</span>
                                                <span class="tag blue" th:if="${slc.confmSe == 'CONFM00002'}">승인</span>
                                                <span class="tag gray" th:if="${slc.confmSe == 'CONFM00003'}">반려</span>
                                            </td>
                                            <td class="button">
                                                <th:block th:if="${slc.confmSe == 'CONFM00001' or slc.confmSe == 'CONFM00003'}"><button class="btn red" th:onclick="pageObj.slcDeleteBtn([[${slc.slctnNo}]])">
                                                    <img src="/images/common/delete_ico.svg" alt="삭제">삭제</button></th:block>
                                                <th:block th:if="${slc.confmSe == 'CONFM00002'}"><button class="btn gray" th:onclick="pageObj.slcStopBtn([[${slc.slctnNo}]])">
                                                    <img src="/images/common/stop_ico.svg" alt="중지">중지</button>
                                                </th:block>
                                            </td>
                                        </tr>
                                    </th:block>
                                    <tr th:if="${result.content.size() < 1}" class="empty">
                                        <td colspan="7">
                                            <img src="/images/common/empty_ico.svg" alt="등록된 데이터가 없습니다.">
                                            <p>등록된 데이터가 없습니다.</p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- 페이징 -->
                            <div th:replace="utils/pagination :: pagination(${result})"></div>
                        </div>
                    </form>
                </div>
            </div>
            <footer th:replace="layout/footer :: footer"></footer>
        </div>
    </div>
</body>
</html>