<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::#section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <th:block id="css">
    </th:block>

    <th:block id="script">
        <script th:src="@{/js/adm/dep/list.js}"></script>
    </th:block>
</head>
<body id="section">
<nav th:replace="layout/nav :: nav" class="lnb"></nav>
<!--기관(학교) 관리(교육청)-->
<div class="main-area">
    <div class="inner">
        <div class="main-container">
            <div class="page-tit__wrap">
                <ul class="breadcrumbs">
                    <li><img src="/images/common/home_ico.svg" alt="홈"></li>
                    <li>기관(학교) 관리</li>
                </ul>
                <h2 class="page-tit">기관(학교) 관리</h2>
            </div>
            <div class="content" th:with="useSe=${#authentication.principal.useSe}">
                <form>
                    <div th:replace="utils/selectOrgCd::orgCdSeletboxDiv3"></div>
                    <div th:replace="utils/searchBar::search8"></div>
                    <div class="content-item table-content">
                        <div class="table-container type1">
                            <div class="table-top">
                                <div class="total">
                                    <div class="total-box">
                                        <span>총 기관(학교) 개수</span>
                                        <b th:text="${result.getTotalElements()}"></b>
                                    </div>
                                </div>
                            </div>
                            <table><caption>기관(학교) 관리 정보 제공</caption>
                                <colgroup>
                                    <col width="10%">
                                    <col width="*" th:if="${useSe == 'USESE00008'}">
                                    <col width="20%">
                                    <col width="15%">
                                    <col width="10%">
                                    <col width="20%">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th th:if="${useSe == 'USESE00008'}">지원청</th>
                                        <th>기관(학교)명</th>
                                        <th>기관 구분</th>
                                        <th>관리 권한(명)</th>
                                        <th>관리</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="list : ${result.content}">
                                    <tr>
                                        <td data-before="No." class="txt-hidden num" th:text="${result.totalElements - (result.pageable.offset + listStat.index)}"></td>
                                        <th:block th:if="${useSe == 'USESE00008'}">
                                            <td data-before="지원청" class="txt-hidden txt-center wide">
                                                <th:block th:if="${list.depCd == null}">
                                                    <button type="button" class="btn border" th:onclick="pageObj.matchModal('', [[${list.orgCd}]], [[${list.orgNm}]], '')">미지정 선택</button>
                                                </th:block>
                                                <th:block th:if="${list.depCd != null}">
                                                    <button th:if="${list.depCd != 'R900000004'}" type="button" class="btn border" th:text="${list.upperOrgNm}" th:onclick="pageObj.matchModal([[${list.upperOrgCd}]], [[${list.orgCd}]], [[${list.orgNm}]], [[${list.depNm}]])"></button>
                                                    <button th:if="${list.depCd == 'R900000004'}" type="button" class="btn border" th:text="${list.upperOrgNm}"></button>
                                                </th:block>
                                            </td>
                                        </th:block>

                                        <th:block th:if="${useSe == 'USESE00008'}">
                                            <td class="main-txt">
                                                <span th:text="${list.depCd != 'R900000004'} ? ${list.orgNm} : '-'"></span>
                                            </td>
                                        </th:block>
                                        <th:block th:if="${useSe == 'USESE00007'}">
                                            <td class="main-txt">
                                                <span th:text="${list.orgNm}"></span>
                                            </td>
                                        </th:block>

                                        <td data-before="기관 구분" class="txt-hidden" th:text="${list.depNm}"></td>
                                        <th:block>
                                            <td data-before="관리 권한(명)" class="txt-hidden">
                                                <span th:if="${list.authCnt != '0'}" th:text="${list.authCnt}"></span>
                                                <span th:unless="${list.authCnt != '0'}" class="tag red">미지정</span>
                                            </td>
                                        </th:block>
                                        <td class="button">
                                            <button type="button" class="btn sky" th:onclick="pageObj.goSlc([[${list.orgCd}]])">권한/파견관리</button>
                                            <button type="button" class="btn wht" th:onclick="pageObj.goAuth([[${list.orgCd}]])">업체관리</button>
                                        </td>
                                    </tr>
                                </th:block>
                                <tr th:if="${result.content.size() < 1}" class="empty">
                                    <td th:colspan="${useSe} == 'USESE00008' ? 6 : 5">
                                        <img src="/images/common/empty_ico.svg" alt="등록된 데이터 없음">
                                        <p>등록된 데이터가 없습니다.</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div th:replace="utils/pagination::pagination(${result})"></div>
                    </div>
                </form>
            </div>
        </div>
        <footer th:replace="layout/footer :: footer"></footer>
    </div>
</div>
<div th:replace="utils/modal :: modal('modal')"></div>
</body>
</html>