<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::#section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <th:block id="css">
    </th:block>

    <th:block id="script">
        <script th:inline="javascript">
            var boardType = [[${boardType}]];
            var boardMngId = [[${boardMngId}]];
            var categoryId = [[${categoryId}]];
            var defaultPageUrl = [[${defaultPageUrl}]];
        </script>
        <script type="text/javascript" th:src="@{/js/board/holiday.js}"></script>
    </th:block>
</head>
<body id="section">
<nav th:replace="layout/nav :: nav" class="lnb"></nav>
<!--담당자(직원) 관리(업체)-->
<div class="main-area">
    <div class="inner">
        <div class="main-container">
            <div class="page-tit__wrap">
                <ul class="breadcrumbs">
                    <li><img src="/images/common/home_ico.svg" alt="홈"></li>
                    <li>게시판 관리</li>
                    <li>공휴일/휴일 관리</li>
                </ul>
                <h2 class="page-tit">공휴일/휴일 관리</h2>
            </div>
            <form th:action>
                <div class="content">
                    <!-- 조건검색 -->
                    <div th:replace="utils/searchBar :: search19"></div>

          <div class="content-item table-content">
            <div class="table-container type1 cursor">
              <div class="table-top">
                <div class="total">
                  <div class="total-box" tabindex="-1">
                    <span>총 개수</span>
                    <b th:text="${result.size()}"></b>
                  </div>
                </div>
                <a class="btn add" href="javascript:void(0);" onclick="pageObj.addModal()"><img src="/images/common/add_ico.svg" alt="">등록</a>
              </div>
              <table id="tb_holiday">
                <caption>목록<span>게시판 목록으로 번호, 제목, 파일여부의 정보 제공</span></caption>
                <colgroup>
                  <col width="5%">
                  <col width="5%">
                  <col width="*">
                  <col width="15%">
                    <col width="10%">
                    <col width="15%">
                </colgroup>
                <thead>
                <tr>
                  <th>선택</th>
                  <th>No</th>
                  <th>공휴일 명</th>
                  <th>기간</th>
                  <th>작성자</th>
                  <th>작성일</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="list : ${result}">
                  <tr id="faqList" th:value="${list.holidayId}">
                    <td class="order1" id="chkId">
                      <label class="chk-item">
                        <input type="checkbox" title="체크" th:id="holidayId" th:value="${list.holidayId}" th:name="holidayId">
                      </label>
                    </td>
                    <td data-before="No." class="txt-hidden num" th:text="${result.size() - listStat.index}"></td>
                    <td class="main-txt tit"><span th:text="${list.title}"></span></td>
                    <td data-before="기간" class="txt-hidden"><span th:text="${list.startDate.toLocalDate()}"></span> ~ <span th:text="${list.endDate.toLocalDate()}"></span></td>
                    <td data-before="작성자" class="txt-hidden"><span th:text="${list.userNm}"></span></td>
                    <td data-before="작성일" class="txt-hidden"><span th:text="${list.registDt}"></span></td>
                </th:block>
                                <tr th:if="${result.size() < 1}" class="empty">
                                    <td colspan="6">
                                        <img src="/images/common/empty_ico.svg" alt="등록된 데이터가 없습니다.">
                                        <p>등록된 데이터가 없습니다.</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="btn-area right">
                            <a class="btn red" href="javascript:void(0);" onclick="pageObj.delete()">삭제</a>
                            <a class="btn add" href="javascript:void(0);" onclick="pageObj.addModal()">등록</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <footer th:replace="layout/footer :: footer"></footer>
        <div th:replace="utils/modal :: modal('modal')"></div>
    </div>
</div>
</section>
</body>
</html>