<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::#section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <th:block id="css">
    </th:block>

    <th:block id="script">
        <script th:inline="javascript">
            var boardType = [[${boardType}]];
            var boardMngId = [[${boardMngId}]];
            var categoryId = [[${categoryId}]];
            var defaultPageUrl = [[${defaultPageUrl}]];
        </script>
        <script type="text/javascript" th:src="@{/js/board/board_common.js}"></script>
        <script type="text/javascript" th:src="@{/js/board/boardFront.js}"></script>
    </th:block>
</head>
<body id="section">
<nav th:replace="layout/nav :: nav" class="lnb"></nav>
<!--담당자(직원) 관리(업체)-->
<div class="main-area">
    <div class="inner">
        <div class="main-container">
            <div class="page-tit__wrap">
                <ul class="breadcrumbs">
                    <li><img src="/images/common/home_ico.svg" alt="홈"></li>
                    <li>커뮤니티</li>
                    <li th:text="${boardTitle}"></li>
                </ul>
                <h2 class="page-tit" th:text="${boardTitle}"></h2>
            </div>
            <form th:action th:with="usid=${#authentication.principal.userId}">
                <div class="content">
                    <!-- 조건검색 -->
                    <div th:replace="utils/searchBar :: search17"></div>

                    <div class="content-item table-content">
                        <div class="board-tab">
                            <a th:class="${categoryId == 'all'} ? 'active': ''"
                               th:href="@{|${defaultPageUrl}/all|}">전체</a>

                            <th:block th:each="ctgry : ${ctgryList}">
                                <a th:class="${categoryId == ctgry.boardCategoryId.toString()} ? 'active' : ''"
                                   th:href="@{|${defaultPageUrl}/${ctgry.boardCategoryId}|}"
                                   th:text="${ctgry.categoryNm}"></a>
                            </th:block>
                        </div>
                        <div class="table-container type1 cursor">
                            <div class="table-top">
                                <div class="total">
                                    <div class="total-box" tabindex="-1">
                                        <span>총 개수</span>
                                        <b th:text="${result.getTotalElements()}"></b>
                                    </div>
                                </div>
                                <a class="btn add" href="javascript:void(0);"
                                   th:if="${boardType == 'qna'}"
                                   onclick="pageObj.addPage()"><img src="/images/common/add_ico.svg" alt="">등록</a>
                            </div>
                            <table id="tb_board">
                                <caption>목록<span>게시판 목록으로 번호, 제목, 파일여부의 정보 제공</span></caption>
                                <colgroup>
                                    <col width="5%">
                                    <col width="10%">
                                    <col width="*">
                                    <th:block th:if="${boardType == 'qna'}">
                                        <col width="5%">
                                    </th:block>
                                    <col width="5%">
                                    <col width="10%">
                                    <col width="15%">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>선택</th>
                                    <th>No</th>
                                    <th>제목</th>
                                    <th:block th:if="${boardType == 'qna'}">
                                        <th>상태</th>
                                    </th:block>
                                    <th>파일</th>
                                    <th>작성자</th>
                                    <th>작성일</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="nboard : ${postList}">
                                    <tr id="content_ntr2" th:value="${nboard.id}">
                                        <td class="order1">
                                            <label class="chk-item">
                                                <input type="checkbox" title="체크" th:value="${nboard.id}">
                                            </label>
                                        </td>
                                        <td class="order1 pb">
                                            <b class="board-tag blue" th:if="${nboard.postAt =='Y'}">공지</b>
                                            <b class="board-tag red" th:if="${nboard.allPostAt =='Y'}">전체공지</b>
                                        </td>
                                        <td class="main-txt tit" th:classappend="${nboard.newIcon eq 'T'} ? 'new' : ''">
                                            <span>
                                                <th:block th:text="${nboard.title}"></th:block>
                                            </span>
                                        </td>
                                        <th:block th:if="${boardType == 'qna'}">
                                            <td class="abs-r">
                                            </td>
                                        </th:block>
                                        <td data-before="파일" class="txt-hidden"><img th:if="${nboard.fileId != null}" src="/images/common/list_file_ico.svg" alt="첨부파일"></td>
                                        <td data-before="작성자" class="txt-hidden"><span th:text="${nboard.userNm}"></span></td>
                                        <td data-before="작성일" class="txt-hidden"><span th:text="${nboard.updtDt}"></span></td>
                                    </tr>
                                </th:block>

                                <th:block th:each="board : ${result.content}">
                                    <tr id="content_tr" th:value="${board.id}">
                                        <td class="order1">
                                            <label class="chk-item" th:if="${board.usid == usid}">
                                                <input type="checkbox" title="체크">
                                            </label>
                                            <span th:if="${board.usid != usid}"></span>
                                        </td>
                                        <td data-before="No." class="txt-hidden num" th:text="${result.totalElements - (result.pageable.offset + boardStat.index)}"></td>
                                        <td class="main-txt tit">
                                            <span>
                                                <b class="board-tag blue" th:if="${board.postAt =='Y'}">공지</b>
                                                <b class="board-tag red" th:if="${board.allPostAt =='Y'}">전체공지</b>
                                                <img style="display: inline-block; margin-right: 0.25rem;" th:if="${board.secretAt == 'Y'}" src="/images/common/lock_ico.svg" alt="">
                                                <th:block th:text="${board.title}"></th:block>
                                            </span>
                                        </td>
                                        <th:block th:if="${boardType == 'qna'}">
                                            <td class="abs-r">
                                                <span class="tag blue" th:if="${board.status =='A'}">신청</span>
                                                <span class="tag green" th:if="${board.status =='R'}">접수</span>
                                                <span class="tag red" th:if="${board.status =='P'}">처리중</span>
                                                <span class="tag gray" th:if="${board.status =='S'}">완료</span>
                                            </td>
                                        </th:block>
                                        <td data-before="파일" class="txt-hidden"><img th:src="@{/images/common/list_file_ico.svg}" alt="첨부파일"></td>
                                        <td data-before="작성자" class="txt-hidden"><span th:text="${board.userNm}"></span></td>
                                        <td data-before="작성일" class="txt-hidden"><span th:text="${board.updtDt}"></span></td>
                                    </tr>
                                </th:block>
                                <tr th:if="${result.content.size() < 1}" class="empty">
                                    <td colspan="6">
                                        <img src="/images/common/empty_ico.svg" alt="등록된 데이터가 없습니다.">
                                        <p>등록된 데이터가 없습니다.</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="content-bottom">
                            <!-- 페이징 -->
                            <div th:replace="utils/pagination :: pagination(${result})"></div>

                            <div class="btn-area" th:if="${boardType == 'qna'}">
                                <a class="btn red" href="javascript:void(0);" onclick="pageObj.delete()">삭제</a>
                                <a class="btn add" href="javascript:void(0);" onclick="pageObj.addPage()">등록</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <footer th:replace="layout/footer :: footer"></footer>
    </div>
</div>
</section>
</body>
</html>