<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div id="printModal" class="modal fade" th:fragment="printModal">
    <div class="modal-container wide none-tit">
        <a class="modal-close" href="javascript:void(0);" onclick="closeModal()" title="창 닫기"><img src="/images/common/modal_close_ico.svg" alt="창 닫기"></a>
        <div class="modal-body" id="print" th:object="${modal}">
            <script>
                window.onload = () => {
                    let printBtn = document.getElementById('print_btn');
                    printBtn.style.display = 'none';
                }
            </script>
            <style>
                .table-container.type3 table {
                    border-collapse: initial;
                    border-spacing: 1px;
                    border-top: 1px solid #000;
                }
                .table-container.type3 tr {
                    position: relative;
                    border-bottom: 0;
                }
                .table-container.type3 tr:first-of-type {
                    border-top: 1px solid #000;
                }
                .table-container.type3 th,
                .table-container.type3 td {
                    font-size: 14px !important;
                }
                .table-container.type3 th {
                    padding: 6px;
                    font-size: 0.938rem;
                    font-weight: 500;
                    text-align: center;
                    white-space: nowrap;
                    border-right: 1px solid #737373;
                    border-bottom: 1px solid #737373;
                    background: #f1f1f1;
                    color: var(--txt-gray);
                    vertical-align: middle;
                    -webkit-print-color-adjust: exact !important;
                    color-adjust: exact !important;
                }
                .table-container.type3 .abs-r {
                    position: absolute;
                    top: 50%;
                    right: 12px;
                    transform: translate(0, -50%);
                }
                .table-container.type3 td {
                    padding: 6px;
                    word-break: break-all !important;
                    border-right: 1px solid #737373;
                    border-bottom: 1px solid #737373;
                }
                .table-container.type3 th.bold {
                    font-size: 18px !important;
                    font-weight: 500;
                    color: #000;
                }
                .table-container.type3 th:last-child,
                .table-container.type3 td:last-child {
                    border-right: 0;
                }
                .table-container.type3 td:first-child {
                    border-left: 0;
                }
                .table-container.type3 td:last-child {
                    border-right: 0;
                }
                @media print {
                    .table-container.type3 th,
                    .table-container.type3 td {
                        font-size: 12px !important;
                    }
                }
            </style>
            <div class="table-container type3">
                <table>
                    <colgroup>
                        <col width="100px">
                        <col width="100px">
                        <col width="100px">
                        <col width="100px">
                        <col width="100px">
                        <col width="100px">
                        <col width="*">
                    </colgroup>
                    <tr>
                        <th class="bold" colspan="5" rowspan="2" th:text="*{printTitle}"></th>
                        <th>작성자</th>
                        <td th:text="*{writer}"></td>
                    </tr>
                    <tr>
                        <th>작성일자</th>
                        <td th:text="*{#temporals.format(registDt, 'yyyy.MM.dd')}">2023-11-15</td>
                    </tr>
                    <tr>
                        <th rowspan="3">고객정보</th>
                        <th>기관명</th>
                        <td colspan="3" th:text="*{orgNm}"></td>
                        <th>인수자</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>연락처</th>
                        <td></td>
                        <th>핸드폰</th>
                        <td></td>
                        <th>이메일</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>주소</th>
                        <td colspan="5"></td>
                    </tr>
                    <tr>
                        <th th:rowspan="${modal.detailDtos.size() + 1}">유지보수</th>
                        <th>요청자</th>
                        <th>접수일</th>
                        <th>담당자</th>
                        <th>완료일</th>
                        <th colspan="2">제목/처리내용</th>
                    </tr>
                    <tr th:each="detail : *{detailDtos}">
                        <td th:text="${detail.applcnt}"></td>
                        <td th:text="${#temporals.format(detail.rqstdt, 'yyyy.MM.dd')}" id="rqstdt"></td>
                        <td th:text="${detail.cmpter}" id="cmpter"></td>
                        <td th:text="${#temporals.format(detail.comptDe, 'yyyy.MM.dd')}" id="comptDe"></td>
                        <td colspan="2" class="left wrap">
                            <div th:text="${detail.subject}" id="subject"></div>
                            <span class="small gray" th:text="${detail.processCn}" id="processCn"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>기관(학교) 의견</th>
                        <td colspan="6"></td>
                    </tr>
                    <tr>
                        <th>기타 지원사항</th>
                        <td colspan="6" th:text="*{memo}"></td>
                    </tr>
                    <th:block th:each="inCharge : *{inChargeInfos}">
                        <tr>
                            <th rowspan="2">담당자</th>
                            <th>소속</th>
                            <td colspan="2" th:text="*{cmpnyNm}"></td>
                            <th>담당자</th>
                            <td colspan="2" th:text="${inCharge.chrgNm}"><span class="abs-r">(인)</span></td>
                        </tr>
                        <tr>
                            <th>연락처</th>
                            <td colspan="2" th:text="${inCharge.mbtlnum}"></td>
                            <th>메일주소</th>
                            <td colspan="2" th:text="${inCharge.email}"></td>
                        </tr>
                    </th:block>
                </table>
            </div>
            <div id="print_btn" class="modal-bottom">
                <button type="button" class="btn gray" onclick="closeModal()">취소</button>
                <button type="button" class="btn blue" th:onclick="reportPrint([[${modal.reprtNo}]])">인쇄</button>
            </div>
        </div>

    </div>

</div>
</body>
