<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::#section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <th:block id="css">
    </th:block>

    <th:block id="script">
        <script type="text/javascript" th:src="@{/js/mntmgt/cmpny/cmpnyDetail.js}"></script>
    </th:block>
</head>
<body id="section">
<nav th:replace="layout/nav :: nav" class="lnb"></nav>
<!--유지관리 상세(업체)-->
<div class="main-area" th:object="${result}">
    <div class="inner">
        <div class="main-container">
            <div class="page-tit__wrap">
                <ul class="breadcrumbs">
                    <li><img src="/images/common/home_ico.svg" alt="홈"></li>
                    <li>장애관리 목록</li>
                    <li>장애관리 상세</li>
                </ul>
                <h2 class="page-tit">장애관리 상세</h2>
            </div>
            <div class="content-item">
                <ul class="step">
                    <li th:classappend="*{sttusSe == 'STTUS00001'} ? 'on' : ''">
                        <b>신청</b>
                        <p>
                            <span th:text="*{registerNm}"></span>
                            <span th:text="*{registDt.toLocalDate()} + ' ' + *{registDt.toLocalTime()}"></span>
                        </p>
                    </li>
                    <li th:classappend="*{sttusSe == 'STTUS00002'} ? 'on' : ''">
                        <b>접수</b>
                        <p th:if="*{rceptDe} != null">
                            <span th:text="*{rcepterNm}"></span>
                            <span th:text="*{rceptDe.toLocalDate()} + ' ' + *{rceptDe.toLocalTime()}"></span>
                        </p>
                    </li>
                    <li th:classappend="*{sttusSe == 'STTUS00003'} ? 'on' : ''">
                        <b>취소</b>
                        <p th:if="*{sttusSe} == 'STTUS00003'">
                            <span th:text="*{updateNm}"></span>
                            <span th:text="*{updtDt.toLocalDate()} + ' ' + *{updtDt.toLocalTime()}"></span>
                        </p>
                    </li>
                    <li th:classappend="*{sttusSe == 'STTUS00004'} ? 'on' : ''">
                        <b>보류</b>
                        <p th:if="*{sttusSe} == 'STTUS00004'">
                            <span th:text="*{updateNm}"></span>
                            <span th:text="*{updtDt.toLocalDate()} + ' ' + *{updtDt.toLocalTime()}"></span>
                        </p>
                    </li>
                    <li th:classappend="*{sttusSe == 'STTUS00005'} or *{sttusSe == 'STTUS00006'}  ? 'on' : ''">
                        <b>완료</b>
                        <p th:if="(*{sttusSe} == 'STTUS00005' or *{sttusSe} == 'STTUS00006') and (*{compterNm} != '' and *{compterNm} != null)">
                            <span th:text="*{compterNm}"></span>
                            <span th:text="*{comptDe.toLocalDate()} + ' ' + *{comptDe.toLocalTime()}"></span>
                        </p>
                    </li>
                </ul>
                <div class="tit-area">
                    <h3 class="tit-area__tit">신청내역</h3>
                </div>
                <div class="input-area txt-only">
                    <div class="input-list">
                        <div class="label"><span>접수번호</span></div>
                        <div class="input-box" th:id="rceptNo" th:field="${rceptNo}" th:text="${rceptNo}"></div>
                    </div>
                    <div class="input-list">
                        <div class="label"><span>기관(학교)명</span></div>
                        <div class="input-box" th:text="*{orgNm}"></div>
                    </div>
                    <div class="input-list">
                        <div class="label"><span>연락처</span></div>
                        <div class="input-box" th:text="*{orgTelno}"></div>
                    </div>
                    <div class="input-list">
                        <div class="label"><span>분류</span></div>
                        <div class="input-box" th:if="*{mntmgtSe} == 'MNTMG00001'" th:text="장애"></div>
                        <div class="input-box" th:if="*{mntmgtSe} == 'MNTMG00002'" th:text="설치"></div>
                        <div class="input-box" th:if="*{mntmgtSe} == 'MNTMG00003'" th:text="점검"></div>
                        <div class="input-box" th:if="*{mntmgtSe} == 'MNTMG00004'" th:text="기타"></div>
                    </div>
                    <div class="input-list wd1">
                        <div class="label"><span>분류 상세</span></div>
                        <div class="input-box" th:if="*{clSe} == 'CLSE000001'" th:text="|H/W|"></div>
                        <div class="input-box" th:if="*{clSe} == 'CLSE000002'" th:text="|S/W|"></div>
                        <div class="input-box" th:if="*{clSe} == 'CLSE000003'" th:text="복합기"></div>
                        <div class="input-box" th:if="*{clSe} == 'CLSE000004'" th:text="기타"></div>
                    </div>
                    <div class="input-list wd1">
                        <div class="label"><span>제목</span></div>
                        <div class="input-box" th:text="*{sj}"></div>
                    </div>
                    <div class="input-list main-txt wd1">
                        <div class="label"><span>내용</span></div>
                        <div class="input-box main-cont" th:utext="*{cn}"></div>
                    </div>
                    <div class="input-list wd1">
                        <div class="label"><span>첨부파일</span></div>
                        <div class="input-box file">
                            <th:block th:if="${result.files.size() > 0}">
                                <ul class="file-list">
                                    <th:block th:each="file : ${result.files}">
                                        <li th:if="${file.atchAt eq 'O'}">
                                            <a th:href="@{|/api/v1/files/attach/mntmgt/${file.fileNo}|}" th:text="${file.orignlFileNm}" th:title="${file.orignlFileNm}"/>
                                        </li>
                                    </th:block>
                                </ul>
                            </th:block>
                        </div>
                    </div>
                </div>
                <th:block th:if="*{sttusSe} != STTUS00003">
                    <div class="tit-area">
                        <h3 class="tit-area__tit">처리내역</h3>
                        <span class="essential-txt">표시는 필수 입력 사항입니다.</span>
                    </div>
                    <form th:action id="form">
                        <div class="input-area">
                            <div class="input-list">
                                <div class="label essential"><span>상태 변경</span></div>
                                <div class="input-box">
                                    <div class="chk-list">
                                        <th:block th:if="*{sttusSe} != STTUS00005 and *{sttusSe} != STTUS00006">
                                            <label class="radio-item" for="chk1">
                                                <input th:if="*{sttusSe} == STTUS00002" type="radio" name="statusType" id="chk1" th:value="STTUS00002" title="접수" checked>
                                                <input th:if="*{sttusSe} != STTUS00002" type="radio" name="statusType" id="chk1" th:value="STTUS00002" title="접수">
                                                <span>접수</span>
                                            </label>
                                            <label class="radio-item" for="chk2" th:if="*{rceptDe} != null">
                                                <input th:if="*{sttusSe} == STTUS00004" type="radio" name="statusType" id="chk2" th:value="STTUS00004" title="보류" checked>
                                                <input th:if="*{sttusSe} != STTUS00004" type="radio" name="statusType" id="chk2" th:value="STTUS00004" title="보류">
                                                <span>보류</span>
                                            </label>
                                        </th:block>
                                        <label class="radio-item" for="chk3" th:if="*{rceptDe} != null">
                                            <input th:if="*{sttusSe} == STTUS00005 or *{sttusSe} == STTUS00006" type="radio" name="statusType" id="chk3" th:value="STTUS00005" title="완료" checked>
                                            <input th:if="*{sttusSe} != STTUS00005 and *{sttusSe} != STTUS00006" type="radio" name="statusType" id="chk3" th:value="STTUS00005" title="완료">
                                            <span>완료</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="input-list" th:id="rceptCheck" th:value="*{rceptDe}">
                                <div class="label essential"><span>담당자 배정</span></div>
                                <div class="input-box">
                                    <select th:if="*{useSe} == 'USESE00002' and *{rceptDe} == null" th:id="chargerId" th:name="chargerId">
                                        <option value="">선택</option>
                                        <th:block th:each="chargerlist : *{chargerLists}">
                                            <option th:value="${chargerlist.chargerId}" th:text="${chargerlist.chargerNm}" th:selected="${chargerlist.chargerId} == *{chargerId}"></option>
                                        </th:block>
                                    </select>
                                    <select th:if="*{useSe} == 'USESE00002' and *{rceptDe} != null" th:id="chargerId" th:name="chargerId" disabled>
                                        <option value="">선택</option>
                                        <th:block th:each="chargerlist : *{chargerLists}">
                                            <option th:value="${chargerlist.chargerId}" th:text="${chargerlist.chargerNm}" th:selected="${chargerlist.chargerId} == *{chargerId}"></option>
                                        </th:block>
                                    </select>

                                    <select th:if="*{useSe} == 'USESE00003' and *{chargerId} != null" th:id="chargerId" disabled>
                                        <th:block th:each="chargerlist : *{chargerLists}">
                                            <option th:if="${chargerlist.chargerId} == *{chargerId}" th:value="${chargerlist.chargerId}" th:text="${chargerlist.chargerNm}" selected></option>
                                        </th:block>
                                    </select>
                                    <select th:if="*{useSe} == 'USESE00003' and *{chargerId} == null" th:id="chargerId" disabled>
                                        <th:block th:each="chargerlist : *{chargerLists}">
                                            <option th:if="${chargerlist.chargerId} == *{usId}" th:value="${chargerlist.chargerId}" th:text="${chargerlist.chargerNm}" selected></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                            <!--<input th:id="processCn" th:name="processCn" th:value="isnull" th:if="*{rceptDe} == null"></input>-->
                            <div class="input-list" th:if="*{rceptDe} != null">
                                <div class="label"><span>처리 내용</span></div>
                                <div class="input-box">
                                    <textarea th:id="processCn" th:name="processCn" th:text="*{processCn}" placeholder="처리 내용을 입력해 주세요"></textarea>
                                </div>
                            </div>
                            <!--<div class="input-item"> &lt;!&ndash;//  th:if="*{rceptDe} != null" 넣으면 이상해짐 이유는 모르겠음 확인 필요&ndash;&gt;
                                <div class="label"><span>참고 파일</span></div>
                                <div class="input-box">
                                    <div class="file-upload">
                                        <div class="ico"><img src="/images/common/file_upload_ico.svg"></div>
                                        <span>최대 10mb 이하 jpeg, png 첨부 가능(임시)</span>
                                        <input type="file" id="upload-btn">
                                        <label tabindex="0" class="btn sky" for="upload-btn">파일 선택</label>
                                    </div>
                                </div>
                            </div>-->

                            <div class="input-list" id="filecheck">
                                <div class="label"><span>첨부파일</span></div>
                                <div class="input-box" id="file-container">
                                    <div class="input-file">
                                        <div class="ico"><img src="/images/common/file_upload_ico.svg" alt="파일을 드래그하여 업로드할 수 있습니다."></div>
                                        <p>파일을 드래그하여 업로드할 수 있습니다.</p>
                                        <label for="file_input" class="btn sky file-btn">
                                            파일 업로드
                                            <input type="file" id="file_input" class="file-input" title="파일 업로드"/>
                                        </label>
                                    </div>
                                    <div class="filenames upload-list">
                                        <th:block th:if="${result.saveFiles.size() > 0}">
                                            <li class="file_wraper" th:each="file : ${result.saveFiles}" th:if="${file.atchAt eq 'C'}">
                                                <th:block th:if="${file.atchAt eq 'C'}">
                                                    <input type="hidden" name="savedFileIds" th:value="${file.fileNo}"/>
                                                    <span th:if="${file.atchAt }" th:text="${file.orignlFileNm}" th:title="${file.orignlFileNm}"></span>
                                                    <button class="btn-remove" type="button" onclick="$files.removeFile(this)">
                                                        <img th:src="@{/images/common/file_delete_ico.svg}" alt="삭제">
                                                    </button>
                                                </th:block>
                                            </li>
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </th:block>
                <div class="btn-area btw">
                    <button type="button" class="btn gray auto-r" onclick="pageObj.close()">목록</button>
                    <button th:if="*{sttusSe} != STTUS00003 and *{sttusSe} != STTUS00006" type="button" class="btn blue" onclick="pageObj.update()">저장</button>
                </div>
            </div>
        </div>
        <footer th:replace="layout/footer :: footer"></footer>
    </div>
</div>
</body>
</html>