<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::#section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <th:block id="css">
    </th:block>

    <th:block id="script">
        <script type="text/javascript" th:src="@{/js/mntmgt/cmpny/cmpnyMntmgt.js}"></script>
    </th:block>
</head>
<body id="section">
<nav th:replace="layout/nav :: nav" class="lnb"></nav>
<!--유지관리 목록(업체)-->
<div class="main-area">
    <div class="inner">
        <div class="main-container">
            <div class="page-tit__wrap">
                <ul class="breadcrumbs">
                    <li><img src="/images/common/home_ico.svg" alt="홈"></li>
                    <li>장애관리 목록</li>
                </ul>
                <h2 class="page-tit">장애관리 목록</h2>
            </div>
            <form>
                <!-- 조건검색 -->
                <th:block th:if="${useSe} == 'USESE00002'"><div th:replace="utils/searchBar :: search1"></div></th:block>
                <th:block th:if="${useSe} == 'USESE00003'"><div th:replace="utils/searchBar :: search2"></div></th:block>

                <div class="content-item table-content">
                    <div class="table-container type1 cursor">
                        <div class="table-top">
                            <div class="total">
                                <div class="total-box">
                                    <span>미처리(신청+접수)</span>
                                    <b th:text="${count.unprocessed}"></b>
                                </div>
                                <div class="total-box">
                                    <span>총 개수</span>
                                    <b th:text="${count.alc}"></b>
                                </div>
                            </div>
                        </div>
                        <table>
                            <caption>장애관리 목록<span>장애관리 목록으로 접수번호, 기관(학교명), 분류, 분류상세, 제목, 신청인, 담당자, 등록일, 완료일, 상태의 정보 제공</span></caption>
                            <colgroup>
                                <col width="5%">
                                <col width="10%">
                                <col width="5%">
                                <col width="5%">
                                <col width="5%">
                                <col width="*">
                                <col width="10%">
                                <col width="5%">
                                <col width="10%">
                                <col width="10%">
                                <col width="10%">
                                <col width="5%">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>No</th>
                                <th>접수번호</th>
                                <th>기관(학교)명</th>
                                <th>분류</th>
                                <th>분류 상세</th>
                                <th>제목</th>
                                <th>신청인</th>
                                <th>담당자</th>
                                <th>등록일</th>
                                <th>업체완료일</th>
                                <th>최종완료일</th>
                                <th>상태</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="mntmgt, listCount : ${result.content}" class="content_tr" th:onclick="pageObj.view.detail([[${mntmgt.rceptNo}]])">
                                <!--<td th:id="${mntmgt.rceptNo}" th:text="${result.totalElements - (result.pageable.offset + mntmgtStat.index)}"></td>-->
                                <td data-before="No." class="txt-hidden num" th:text="${result.totalElements - (result.pageable.offset + listCount.index)}" th:id="${mntmgt.rceptNo}"></td>
                                <td data-before="접수번호" class="txt-hidden" th:text="${mntmgt.rceptNo}"></td>
                                <td data-before="기관(학교)명" class="txt-hidden" th:text="${mntmgt.orgNm}"></td>
                                <td data-before="분류" class="txt-hidden" th:if="${mntmgt.mntmgtSe} == 'MNTMG00001'" th:text="장애"></td>
                                <td data-before="분류" class="txt-hidden" th:if="${mntmgt.mntmgtSe} == 'MNTMG00002'" th:text="설치"></td>
                                <td data-before="분류" class="txt-hidden" th:if="${mntmgt.mntmgtSe} == 'MNTMG00003'" th:text="점검"></td>
                                <td data-before="분류" class="txt-hidden" th:if="${mntmgt.mntmgtSe} == 'MNTMG00004'" th:text="기타"></td>
                                <td data-before="분류 상세" class="txt-hidden" th:if="${mntmgt.clSe} == 'CLSE000001'" th:text="|H/W|"></td>
                                <td data-before="분류 상세" class="txt-hidden" th:if="${mntmgt.clSe} == 'CLSE000002'" th:text="|S/W|"></td>
                                <td data-before="분류 상세" class="txt-hidden" th:if="${mntmgt.clSe} == 'CLSE000003'" th:text="복합기"></td>
                                <td data-before="분류 상세" class="txt-hidden" th:if="${mntmgt.clSe} == 'CLSE000004'" th:text="기타"></td>
                                <td class="main-txt tit"><span th:text="${mntmgt.sj}"></span></td>
                                <td data-before="신청인" class="txt-hidden wide dashed" th:text="${mntmgt.registerNm}"></td>
                                <td data-before="담당자" class="txt-hidden" th:text="${mntmgt.chargerNm}"></td>
                                <!--<td th:text="${mntmgt.rceptDe.toLocalDate()} + ' ' + ${mntmgt.rceptDe.toLocalTime()}"></td>-->
                                <td data-before="등록일" class="txt-hidden">
                                    <span th:text="${mntmgt.registDt.toLocalDate()}"></span>
                                    <span th:text="${mntmgt.registDt.toLocalTime()}"></span>
                                </td>
                                <td data-before="업체완료일" class="txt-hidden">
                                    <span th:text="${mntmgt.comptDe ne null and mntmgt.comptDe ne '' ? mntmgt.comptDe.toLocalDate() : ''}"></span>
                                    <span th:text="${mntmgt.comptDe ne null and mntmgt.comptDe ne '' ? mntmgt.comptDe.toLocalTime() : '-'}"></span>
                                </td>
                                <td data-before="최종완료일" class="txt-hidden">
                                    <span th:text="${mntmgt.lastComptDe ne null and mntmgt.lastComptDe ne '' ? mntmgt.lastComptDe.toLocalDate() : ''}"></span>
                                    <span th:text="${mntmgt.lastComptDe ne null and mntmgt.lastComptDe ne '' ? mntmgt.lastComptDe.toLocalTime() : '-'}"></span>
                                </td>
                                <!--<td th:text="${mntmgt.comptDe}"></td>-->
                                <td class="abs-r" th:if="${mntmgt.sttusSe} == 'STTUS00001'"><span class="tag blue" th:text="신청"></span></td>
                                <td class="abs-r" th:if="${mntmgt.sttusSe} == 'STTUS00002'"><span class="tag green" th:text="접수"></span></td>
                                <td class="abs-r" th:if="${mntmgt.sttusSe} == 'STTUS00003'"><span class="tag red" th:text="취소"></span></td>
                                <td class="abs-r" th:if="${mntmgt.sttusSe} == 'STTUS00004'"><span class="tag yellow" th:text="보류"></span></td>
                                <td class="abs-r" th:if="${mntmgt.sttusSe} == 'STTUS00005'"><span class="tag gray" th:text="업체완료"></span></td>
                                <td class="abs-r" th:if="${mntmgt.sttusSe} == 'STTUS00006'"><span class="tag purple" th:text="최종완료"></span></td>
                            </tr>
                            <tr th:if="${result.content.size() < 1}" class="empty">
                                <td colspan="10">
                                    <img src="/images/common/empty_ico.svg" alt="등록된 글이 없습니다.">
                                    <p>등록된 글이 없습니다.</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- 페이징 -->
                    <div th:replace="utils/pagination :: pagination(${result})"></div>
                </div>
            </form>
        </div>
        <footer th:replace="layout/footer :: footer"></footer>
    </div>
</div>
</body>
</html>