<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<form th:fragment="emp" class="content-item" id="forEmp" style="display: none;" th:object="${result}">
    <div class="tit-area">
        <h3 class="tit-area__tit">업체 정보 입력</h3>
    </div>
    <div class="input-area">
        <div class="input-list">
            <div class="label"><span>사업자번호 조회</span></div>
            <div class="input-box input-btn">
                <input type="text" id="empBizrno" name="bizrno" th:value="*{formattedBizrno()}" placeholder="사업자번호를 입력해 주세요" formatter='bizrno' title="사업자번호">
                <button type="button" class="btn sky" onclick="pageObj.bizrnoCheck(this)">조회</button>
            </div>
        </div>
        <div class="input-list">
            <div class="label"><span>업체명 확인</span></div>
            <div class="input-box">
                <input type="text" id="empCmpnyNm" placeholder="업체명 확인" title="업체명 확인" readonly>
            </div>
        </div>
        <div class="input-list">
            <div class="label"><span>직책</span></div>
            <div class="input-box">
                <select th:field="*{position}">
                    <option value="">선택</option>
                    <th:block th:each="position : ${positions}">
                        <option th:value="${position.Code}" th:text="${position.codeNm}"></option>
                    </th:block>
                </select>
            </div>
        </div>
    </div>

    <div class="tit-area">
        <h3 class="tit-area__tit">담당업무 내역</h3>
    </div>
    <div class="input-area txt-only">
        <div class="input-list">
            <div class="label"><span>담당 업무</span></div>
            <div class="input-box" id="work">장애</div>
        </div>
        <div class="input-list">
            <div class="label"><span>장애관리 담당 기관(학교)</span></div>
            <div class="input-box" id="maintenance">죽도초등학교, 포항중학교</div>
        </div>
        <div class="input-list">
            <div class="label"><span>소모품 담당 기관(학교)</span></div>
            <div class="input-box" id="expendables">대동고등학교</div>
        </div>
    </div>
</form>
</body>
</html>