<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<form th:fragment="rep" class="content-item" id="forRep" style="display: none;">
    <div class="content-item"
         th:if="(${result.bizrno == null and cmpny == null}) or
                (${result.bizrno != null and cmpny == null}) or
                (${result.bizrno != null and cmpny != null})"
         th:object="${result}">
        <div class="content-tit">
            <div>
                <h3>업체 정보 입력</h3>
            </div>
        </div>
        <div class="input-area">
            <div class="input-list">
                <div class="label essential"><span>업체명</span></div>
                <div class="input-box">
                    <input type="text" id="repcmpnyNm" th:field="*{cmpnyNm}" placeholder="업체명을 입력해 주세요">
                </div>
            </div>
            <div class="input-list">
                <div class="label essential"><span>사업자번호</span></div>
                <div class="input-box">
                    <div>
                        <input type="text" id="repBizrno" name="bizrno" th:value="*{formattedBizrno()}" placeholder="사업자번호를 입력해 주세요" formatter='bizrno'>
                        <button type="button" class="btn sky" onclick="pageObj.bizrnoCheck(this)">조회</button>
                    </div>
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>사업자등록증</span></div>
                <div class="input-box" id="file-container">
                    <div class="input-file">
                        <div class="ico"><img src="/images/common/file_upload_ico.svg" alt="사업자등록증"></div>
                        <span>파일을 드래그하여 업로드할 수 있습니다.</span>

                        <label for="file_input" class="btn sky file-btn">
                            파일 업로드
                            <input type="file" id="file_input" class="only-input" title="파일 업로드"/>
                        </label>
                    </div>
                    <div class="filenames upload-list">
                        <div class="file_wraper" th:if="${result.cmpnyFile != null}">
                            <input type="hidden" name="savedFileIds" th:value="${result.cmpnyFile.fileNo}" th:title="${result.cmpnyFile.fileNo}"/>
<!--                            <input type="text" th:href="@{|/api/v1/files/attach/mntmgt/${fileNo}|}" th:text="${result.cmpnyFile.orignlFileNm}">-->
                            <span th:text="${result.cmpnyFile.orignlFileNm}"></span>
                            <button class="btn-remove" type="button" onclick="$files.removeFile(this)"><img th:src="@{/images/common/file_delete_ico.svg}" alt="파일"></button>
                        </div>
<!--                        <img th:src="@{|/api/v1/files/img/${registDt}/${fileStreFileNm}|}" alt="">-->
                    </div>
                </div>
            </div>
            <div class="input-list">
                <div class="label essential"><span>주소</span></div>
                <div class="input-box address">
                    <div>
                        <input type="text" th:field="*{zip}" placeholder="우편번호" title="우편번호" readonly>
                        <button type="button" class="btn sky" onclick="$api.addressApi()">주소검색</button>
                    </div>
                    <div>
                        <input type="text" th:field="*{adres}" placeholder="주소" title="주소" readonly>
                        <input type="text" th:field="*{detailAdres}" title="상세주소" placeholder="상세주소를 입력해 주세요">
                    </div>
                    <div>
                        <input type="text" th:field="*{ctprvn}" placeholder="시도" title="시도" readonly>
                        <input type="text" th:field="*{signgu}" placeholder="시군구" title="시군구" readonly>
                    </div>
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>대표 번호</span></div>
                <div class="input-box number">
                    <div>
                        <input type="text" th:field="*{reprsntTelno}" placeholder="대표 번호를 입력해 주세요" title="대표 번호" formatter='phoneNum'>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-item"
         th:if="(${result.bizrno == null && cmpny != null})"
         th:object="${cmpny}">
        <div class="content-tit">
            <div>
                <h3>업체 정보 입력</h3>
                <p>업체 정보를 입력해 주세요.</p>
            </div>
        </div>
        <div class="input-area">
            <div class="input-list">
                <div class="label essential"><span>업체명</span></div>
                <div class="input-box">
                    <input type="text" id="repcmpnyNm" th:field="*{cmpnyNm}" title="업체명" placeholder="업체명을 입력해 주세요">
                </div>
            </div>
            <div class="input-list">
                <div class="label essential"><span>사업자번호</span></div>
                <div class="input-box number">
                    <div>
                        <input type="text" id="repBizrno" name="bizrno" th:value="*{formattedBizrno()}" placeholder="사업자번호를 입력해 주세요" title="사업자번호" formatter='bizrno'>
                        <button type="button" class="btn sky" onclick="pageObj.bizrnoCheck(this)">조회</button>
                    </div>
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>사업자등록증</span></div>
                <div class="input-box" id="file-container">
                    <div class="input-file">
                        <div class="ico"><img src="/images/common/file_upload_ico.svg" alt="사업자등록증"></div>
                        <span>파일을 드래그하여 업로드할 수 있습니다.</span>

                        <label for="file_input" class="btn sky file-btn">
                            파일 업로드

                            <!--여러개-->
<!--                            <input type="file" id="file_input" class="file-input"/>-->

                            <!-- 하나만 올릴때 -->
                            <input type="file" id="file_input" class="only-input" title="파일"/>
                        </label>
                    </div>
                    <div class="filenames upload-list">
                        <div class="file_wraper" th:if="${cmpny.cmpnyFile != null}">
                            <input type="hidden" name="savedFileIds" th:value="${cmpny.cmpnyFile.fileNo}" title="파일번호"/>
                            <span th:text="${cmpny.cmpnyFile.orignlFileNm}"></span>
                            <button class="btn-remove" type="button" onclick="$files.removeFile(this)"><img th:src="@{/images/common/file_delete_ico.svg}" alt="삭제"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="input-list">
                <div class="label essential"><span>주소</span></div>
                <div class="input-box address">
                    <div>
                        <input type="text" th:field="*{zip}" placeholder="우편번호" readonly>
                        <button type="button" class="btn sky" onclick="$api.addressApi()">주소검색</button>
                    </div>
                    <div>
                        <input type="text" th:field="*{adres}" placeholder="주소" readonly>
                        <input type="text" th:field="*{detailAdres}" placeholder="상세주소를 입력해 주세요">
                    </div>
                    <div>
                        <input type="text" th:field="*{ctprvn}" placeholder="시도" readonly>
                        <input type="text" th:field="*{signgu}" placeholder="시군구" readonly>
                    </div>
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>대표 번호</span></div>
                <div class="input-box number">
                    <div>
                        <input type="text" th:field="*{reprsntTelno}" placeholder="대표 번호를 입력해 주세요" formatter='phoneNum'>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>