<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="pagination(pageResult)" class="pagination" th:object="${pageResult}">
    <ul th:with="blockSize=15, number = *{number}, totalPages = *{totalPages},
                start=${T(Math).floor(number/blockSize)*blockSize + 1},
                end=(${totalPages==0? 1 : start + 9 < totalPages ? start + 9 : totalPages}),
                prevBlock=${(number/blockSize*blockSize)-blockSize > 0 ? (number/blockSize*blockSize)-blockSize+9 : 0},
                nextBlock=${(number/blockSize*blockSize)+blockSize < totalPages ? (number/blockSize*blockSize)+blockSize : totalPages-1}">
        <li>
            <button name="page" th:value="0" class="start"><img th:src="@{/images/common/pagination_start.svg}" alt="첫 페이지로 이동"></button>
        </li>

        <li>
            <button name="page" th:value="${prevBlock}" class="prev"><img th:src="@{/images/common/pagination_prev.svg}" alt="이전 페이지로 이동"></button>
        </li>

        <li th:each="page : ${#numbers.sequence(start, end)}" th:classappend="${page eq pageResult.number + 1}?'on'">
            <button name="page" th:text="${page}" th:value="${page-1}"></button>
        </li>

        <li>
            <button name="page" th:value="${nextBlock}" class="next"><img th:src="@{/images/common/pagination_next.svg}" alt="다음 페이지로 이동"></button>
        </li>

        <li>
            <button name="page" th:value="*{totalPages-1}" class="end"><img th:src="@{/images/common/pagination_end.svg}" alt="마지막 페이지로 이동"></button>
        </li>
    </ul>
</div>
</body>
</html>
