<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<!-- 업체 대표 유지관리, 소모품 목록 -->
<th:block th:fragment="search1" th:object="${searchParam}">
    <div class="search type1 row">
        <div>
            <input type="text" th:field="*{word3}" placeholder="제목을 입력해 주세요">
        </div>
        <button type="button" id="searchBtn" class="btn border btn__filter-show"><img src="/images/common/search_filter_ico.svg" alt=""><span id="searchBtnText" th:text="*{isSearch ? '상세 검색 접기' : '상세 검색 보기'}"></span></button>
        <button type="submit" class="btn blue btn-search">검색</button>
    </div>
    <div th:classappend="*{isSearch ? 'show' : 'hide'}" class="search-filter">
        <div class="input-area input-search">
            <div class="input-list">
                <div class="label"><span>접수번호</span></div>
                <div class="input-box">
                    <input type="text" th:field="*{word1}" placeholder="접수번호를 입력해 주세요" title="접수번호">
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>기관(학교)명</span></div>
                <div class="input-box">
                    <input type="text" th:field="*{word2}" placeholder="업체명을 입력해 주세요" title="업체명">
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>상태</span></div>
                <div class="input-box">
                    <select th:field="*{selectKey2}">
                        <option value="">선택</option>
                        <th:block th:each="key : ${selectKey2List}">
                            <option th:value="${key.name}" th:text="${key.status}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>분류</span></div>
                <div class="input-box">
                    <select th:field="*{selectKey3}">
                        <option value="">선택</option>
                        <th:block th:each="key : ${selectKey3List}">
                            <option th:value="${key.name}" th:text="${key.status}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>분류 상세</span></div>
                <div class="input-box">
                    <select th:field="*{selectKey4}">
                        <option value="">선택</option>
                        <th:block th:each="key : ${selectKey4List}">
                            <option th:value="${key.name}" th:text="${key.status}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>등록일</span></div>
                <div class="input-box date">
                    <div class="date-box">
                        <input type="text" th:field="*{startDate}" class="datepicker" placeholder="시작일" title="시작일">
                    </div>
                    <div class="date-box">
                        <input type="text" th:field="*{endDate}" class="datepicker" placeholder="종료일" title="종료일">
                    </div>
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>담당자</span></div>
                <div class="input-box">
                    <input type="text" th:field="*{word4}" placeholder="담당자를 입력해 주세요" title="담당자">
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>페이지당</span></div>
                <div class="input-box">
                    <select th:field="*{listCount}">
                        <option value="15">15개</option>
                        <option value="20">20개</option>
                        <option value="50">50개</option>
                        <option value="100">100개</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-btn__area">
        <button type="button" class="btn border btn-reset" onclick="$url.redirect()"><img src="/images/common/btn_list_ico.svg" alt="전체보기">전체보기</button>
    </div>
</th:block>

<!-- 업체 직원 유지관리, 소모품 목록 -->
<th:block th:fragment="search2" th:object="${searchParam}">
    <div class="search type1 row">
        <div>
            <input type="text" th:field="*{word3}" placeholder="제목을 입력해 주세요" title="제목">
        </div>
        <button type="button" id="searchBtn" class="btn border btn__filter-show"><img src="/images/common/search_filter_ico.svg" alt="상세검색"><span id="searchBtnText" th:text="*{isSearch ? '상세 검색 접기' : '상세 검색 보기'}"></span></button>
        <button type="submit" class="btn blue btn-search">검색</button>
    </div>
    <div th:classappend="*{isSearch ? 'show' : 'hide'}" class="search-filter">
        <div class="input-area input-search">
            <div class="input-list">
                <div class="label"><span>접수번호</span></div>
                <div class="input-box">
                    <input type="text" th:field="*{word1}" placeholder="접수번호를 입력해 주세요" title="접수번호">
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>기관(학교)명</span></div>
                <div class="input-box">
                    <input type="text" th:field="*{word2}" placeholder="업체명을 입력해 주세요" title="업체명">
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>상태</span></div>
                <div class="input-box">
                    <select th:field="*{selectKey2}">
                        <option value="">선택</option>
                        <th:block th:each="key : ${selectKey2List}">
                            <option th:value="${key.name}" th:text="${key.status}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>분류</span></div>
                <div class="input-box">
                    <select th:field="*{selectKey3}">
                        <option value="">선택</option>
                        <th:block th:each="key : ${selectKey3List}">
                            <option th:value="${key.name}" th:text="${key.status}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>분류 상세</span></div>
                <div class="input-box">
                    <select th:field="*{selectKey4}">
                        <option value="">선택</option>
                        <th:block th:each="key : ${selectKey4List}">
                            <option th:value="${key.name}" th:text="${key.status}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>등록일</span></div>
                <div class="input-box date">
                    <div class="date-box">
                        <input type="text" th:field="*{startDate}" class="datepicker" placeholder="시작일" title="시작일">
                    </div>
                    <div class="date-box">
                        <input type="text" th:field="*{endDate}" class="datepicker" placeholder="종료일" title="종료일">
                    </div>
                </div>
            </div>
            <div class="input-list wd1">
                <div class="label"><span>페이지당</span></div>
                <div class="input-box">
                    <select th:field="*{listCount}">
                        <option value="15">15개</option>
                        <option value="20">20개</option>
                        <option value="50">50개</option>
                        <option value="100">100개</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-btn__area">
        <button type="button" class="btn border" onclick="$url.redirect()"><img src="/images/common/btn_list_ico.svg" alt="전체보기">전체보기</button>
    </div>
</th:block>

<!-- 기관사용자,지원청,교육청 유지관리 목록 -->
<th:block th:fragment="search3" th:object="${searchParam}">
    <div class="search type1 row">
        <div>
            <input type="text" th:field="*{word3}" placeholder="검색 할 제목을 입력해 주세요" title="" tabindex="102">
        </div>

        <button type="button" id="searchBtn" class="btn border btn__filter-show" tabindex="103"><img src="/images/common/search_filter_ico.svg" alt=""><span id="searchBtnText" th:text="*{isSearch ? '상세 검색 접기' : '상세 검색 보기'}"></span></button>
        <button class="btn blue btn-search" tabindex="110">검색</button>
    </div>
    <div th:classappend="*{isSearch ? 'show' : 'hide'}" class="search-filter">
        <input type="hidden" th:field="*{allYn}">
        <div class="input-area input-search">
            <div class="input-list">
                <div class="label"><span>접수번호</span></div>
                <div class="input-box">
                    <input type="text" th:field="*{word1}" placeholder="접수번호를 입력해 주세요" title="" tabindex="104">
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>업체명</span></div>
                <div class="input-box">
                    <input type="text" th:field="*{word2}" placeholder="업체명을 입력해 주세요" title="" tabindex="105">
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>상태</span></div>
                <div class="input-box">
                    <select th:field="*{selectKey1}" tabindex="106">
                        <option value="">상태를 선택해 주세요.</option>
                        <th:block th:each="key : ${statusType}">
                            <option th:value="${key.codeNm}" th:text="${key.codeNm}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>분류</span></div>
                <div class="input-box">
                    <select th:field="*{selectKey2}" tabindex="107">
                        <option value="">분류를 선택해 주세요.</option>
                        <th:block th:each="key : ${maintenanceType}">
                            <option th:value="${key.codeNm}" th:text="${key.codeNm}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>분류 상세</span></div>
                <div class="input-box">
                    <select th:field="*{selectKey3}" tabindex="108">
                        <option value="">분류 상세를 선택해 주세요.</option>
                        <th:block th:each="clse : ${maintenanceDetailsType}">
                            <option th:value="${clse.codeNm}" th:text="${clse.codeNm}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>등록일</span></div>
                <div class="input-box date">
                    <div class="date-box">
                        <input type="text" th:field="*{startDate}" class="datepicker" placeholder="시작일 선택" title="" tabindex="-1">
                    </div>
                    <div class="date-box">
                        <input type="text" th:field="*{endDate}" class="datepicker" placeholder="종료일 선택" title="" tabindex="-1">
                    </div>
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>신청인</span></div>
                <div class="input-box">
                    <input type="text" th:field="*{word4}" placeholder="신청인을 입력해 주세요" tabindex="109">
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>페이지당</span></div>
                <div class="input-box">
                    <select th:field="*{listCount}" tabindex="-1">
                        <option value="15">15개</option>
                        <option value="20">20개</option>
                        <option value="50">50개</option>
                        <option value="100">100개</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-btn__area">
        <button th:if="${authority eq 'adm'}" type="button" class="btn border btn-all" onclick="$view.allView()"><img src="/images/common/btn_list_ico.svg" alt="">전체보기(하위 기관 및 학교 포함 목록)</button>
        <button type="button" class="btn border btn-reset" onclick="$url.redirect()" tabindex="111"><img src="/images/common/btn_list_ico.svg" alt="">전체보기(소속기관 목록)<span class="hiddentext">: 검색한 결과를 전체보기(소속기관 목록) 할 경우 사용합니다.</span></button>
    </div>
</th:block>

<!-- 기관사용자,지원청,교육청 소모품 목록 -->
<div class="search-container type2" th:fragment="search4" th:object="${searchParam}">
    <input type="hidden" th:field="*{allYn}">
    <div class="input-area search">
        <div class="input-list">
            <div class="label"><span>접수번호</span></div>
            <div class="input-box">
                <input type="text" th:field="*{word1}" placeholder="접수번호를 입력해 주세요" title="접수번호">
            </div>
        </div>
        <div class="input-list">
            <div class="label"><span>업체명</span></div>
            <div class="input-box">
                <input type="text" th:field="*{word2}" placeholder="업체명을 입력해 주세요" title="업체명">
            </div>
        </div>
        <div class="input-list">
            <div class="label"><span>제목</span></div>
            <div class="input-box">
                <input type="text" th:field="*{word3}" placeholder="제목을 입력해 주세요" title="제목">
            </div>
        </div>
        <div class="input-list">
            <div class="label"><span>상태</span></div>
            <div class="input-box">
                <select th:field="*{selectKey1}">
                    <option value="">선택</option>
                    <th:block th:each="key : ${statusType}">
                        <option th:value="${key.codeNm}" th:text="${key.codeNm}"></option>
                    </th:block>
                </select>
            </div>
        </div>
        <div class="input-list">
            <div class="label"><span>분류</span></div>
            <div class="input-box">
                <select th:field="*{selectKey2}">
                    <option value="">선택</option>
                    <th:block th:each="key : ${expendablesType}">
                        <option th:value="${key.codeNm}" th:text="${key.codeNm}"></option>
                    </th:block>
                </select>
            </div>
        </div>
        <div class="input-list">
            <div class="label"><span>등록일</span></div>
            <div class="input-box date">
                <div class="date-box">
                    <input type="text" th:field="*{startDate}" class="datepicker" placeholder="시작일" title="시작일">
                </div>
                <div class="date-box">
                    <input type="text" th:field="*{endDate}" class="datepicker" placeholder="종료일" title="종료일">
                </div>
            </div>
        </div>
        <div class="input-list">
            <div class="label"><span>신청인</span></div>
            <div class="input-box">
                <input type="text" th:field="*{word4}" placeholder="신청인을 입력해 주세요">
            </div>
        </div>
        <div class="input-list">
            <div class="label"><span>페이지당</span></div>
            <div class="input-box">
                <select th:field="*{listCount}">
                    <option value="15">15개</option>
                    <option value="20">20개</option>
                    <option value="50">50개</option>
                    <option value="100">100개</option>
                </select>
            </div>
        </div>
    </div>
    <div class="bottom-btn__area btw">
        <div>
            <button th:if="${authority eq 'adm'}" type="button" class="btn border" onclick="$view.allView()"><img src="/images/common/btn_list_ico.svg" alt="전체보기(하위 기관 및 학교 포함 목록)">전체보기(하위 기관 및 학교 포함 목록)</button>
            <button type="button" class="btn border" onclick="$url.redirect()"><img src="/images/common/btn_list_ico.svg">전체보기(소속기관 목록)</button>
        </div>
        <div class="search-btn__area">
            <button type="button" id="searchBtn" class="btn border btn__filter-show"><img src="/images/common/search_filter_ico.svg" alt="상세 검색"><span id="searchBtnText" th:text="*{isSearch ? '상세 검색 접기' : '상세 검색 보기'}"></span></button>
            <button type="submit" class="btn blue btn-search">검색</button>
        </div>
    </div>
</div>

<!-- 업체 대표 담당자(직원) 관리 -->
<th:block th:fragment="search5" th:object="${searchParam}">
    <div class="search type1 row">
        <div>
            <input type="text" th:field="*{word1}" placeholder="이름을 입력해 주세요" title="이름">
        </div>
        <button type="button" id="searchBtn" class="btn border btn__filter-show"><img src="/images/common/search_filter_ico.svg" alt="상세검색"><span id="searchBtnText" th:text="*{isSearch ? '상세 검색 접기' : '상세 검색 보기'}"></span></button>
        <button type="submit" class="btn blue btn-search">검색</button>
    </div>
    <div th:classappend="*{isSearch ? 'show' : 'hide'}" class="search-filter">
        <div class="input-area input-search">
            <div class="input-list">
                <div class="label"><span>아이디</span></div>
                <div class="input-box">
                    <input type="text" th:field="*{word2}" placeholder="아이디를 입력해 주세요" title="아이디">
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>상태</span></div>
                <div class="input-box">
                    <select th:field="*{selectKey1}">
                        <option value="">선택</option>
                        <th:block th:each="key : ${selectKey1List}">
                            <option th:value="${key.name}" th:text="${key.description}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-btn__area">
        <button type="button" class="btn border btn-reset" onclick="$url.redirect()"><img src="/images/common/btn_list_ico.svg" alt="전체보기">전체보기</button>
    </div>
</th:block>

<!-- 기관(학교)관리자,지원청관리자,교육청관리자 업체관리 -->
<th:block th:fragment="search6" th:object="${searchParam}">
    <div class="search type1 row">
        <div>
            <input type="text" th:field="*{word3}" placeholder="업체명을 입력해 주세요" title="업체명">
            <input type="hidden" th:field="*{allYn}">
        </div>
        <button type="button" id="searchBtn" class="btn border btn__filter-show"><img src="/images/common/search_filter_ico.svg" alt="상세검색"><span id="searchBtnText" th:text="*{isSearch ? '상세 검색 접기' : '상세 검색 보기'}"></span></button>
        <button type="submit" class="btn blue btn-search">검색</button>
    </div>
    <div th:classappend="*{isSearch ? 'show' : 'hide'}" class="search-filter">
        <div class="input-area input-search">
            <div class="input-list">
                <div class="label"><span>대표자명</span></div>
                <div class="input-box">
                    <input type="text" th:field="*{word2}" placeholder="대표자명을 입력해 주세요" title="대표자명">
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>상태</span></div>
                <div class="input-box">
                    <select th:field="*{selectKey1}">
                        <option value="">선택</option>
                        <th:block th:each="key : ${selectKey1List}">
                            <option th:value="${key.name}" th:text="${key.description}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-btn__area">
        <button type="button" class="btn border btn-all" onclick="$view.allView()"><img src="/images/common/btn_list_ico.svg" alt="전체보기(하위 기관 및 학교 포함 목록)">전체보기(하위 기관 및 학교 포함 목록)</button>
        <button type="button" class="btn border btn-reset" onclick="$url.redirect()"><img src="/images/common/btn_list_ico.svg" alt="전체보기(소속기관 목록)">전체보기(소속기관 목록)</button>
    </div>
</th:block>

<!-- 지원청 관리자 기관(학교)관리 -->
<div class="search-container type1" th:fragment="search7" th:object="${searchParam}">
    <div class="input-area search">
        <div class="input-list">
            <div class="label"><span>기관(학교)명</span></div>
            <div class="input-box">
                <select th:field="*{selectKey1}">
                    <option value="">선택</option>
                    <th:block th:each="key : ${selectKey1List}">
                        <option th:value="${key.name}" th:text="${key.description}"></option>
                    </th:block>
                </select>
                <input type="text" th:field="*{word1}" placeholder="기관(학교)명을 입력해 주세요" title="기관(학교)명">
            </div>
        </div>
        <div class="input-list">
            <div class="label"><span>기관구분</span></div>
            <div class="input-box">
                <select th:field="*{selectKey2}">
                    <option value="">선택</option>
                    <th:block th:each="key : ${selectKey2List}">
                        <option th:value="${key.name}" th:text="${key.description}"></option>
                    </th:block>
                </select>
            </div>
        </div>
        <div class="input-list wd10">
            <div class="label"><span>관리권한</span></div>
            <div class="input-box">
                <label class="chk-item" for="chk1">
                    <input type="checkbox" id="chk1" th:field="*{word2}" title="미지정">
                    <span>미지정</span>
                </label>
            </div>
        </div>
        <div class="input-list">
            <div class="label"><span>페이지당</span></div>
            <div class="input-box">
                <select th:field="*{listCount}">
                    <option value="15">15개</option>
                    <option value="20">20개</option>
                    <option value="50">50개</option>
                    <option value="100">100개</option>
                </select>
            </div>
        </div>
    </div>
    <button type="button" class="btn border btn__filter-show"><img src="/images/common/search_filter_ico.svg" alt="상세 검색 펼치기" >상세 검색 펼치기</button>
    <div class="btn-area">
        <button type="button" class="btn border btn__filter-hide"><img src="/images/common/search_filter_ico.svg"alt="상세 검색 숨기기">상세 검색 숨기기</button>
        <button type="button" class="btn blue btn-search">검색</button>
    </div>
</div>

<!-- 교육청 관리자 기관(학교)관리 -->
<th:block th:fragment="search8" th:object="${searchParam}">
    <div th:classappend="*{isSearch ? 'show' : 'hide'}" class="search-filter">
        <div class="input-area input-search">
            <div class="input-list">
                <div class="label"><span>지원청</span></div>
                <div class="input-box align-center">
                    <div class="chk-list">
                        <label class="chk-item" for="chk1">
                            <input type="checkbox" id="chk1" th:field="*{word1}" th:value="Y" alt="미지정">
                            <span>미지정</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>관리권한</span></div>
                <div class="input-box align-center">
                    <div class="chk-list">
                        <label class="chk-item" for="chk2">
                            <input type="checkbox" id="chk2" th:field="*{word2}" th:value="Y" title="미지정">
                            <span>미지정</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="input-list wd1">
                <div class="label"><span>페이지당</span></div>
                <div class="input-box">
                    <select th:field="*{listCount}">
                        <option value="15">15개</option>
                        <option value="20">20개</option>
                        <option value="50">50개</option>
                        <option value="100">100개</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-btn__area btw">
        <button type="button" class="btn border" onclick="$url.redirect()"><img src="/images/common/btn_list_ico.svg" alt="전체보기(소속기관 목록)">전체보기(소속기관 목록)</button>
        <div class="search-btn__area">
            <button type="button" id="searchBtn" class="btn border btn__filter-show"><img src="/images/common/search_filter_ico.svg" alt="상세검색"><span id="searchBtnText" th:text="*{isSearch ? '상세 검색 접기' : '상세 검색 보기'}"></span></button>
            <button type="submit" class="btn blue btn-search">검색</button>
        </div>
    </div>
</th:block>

<!-- 권한/파견 관리 -->
<th:block th:fragment="search9" th:object="${searchParam}" th:with="useSe=${#authentication.principal.useSe}">
    <div class="search type1 row">
        <div>
            <input type="text" th:field="*{word3}" placeholder="이름을 입력해 주세요" title="이름">
            <input type="hidden" th:field="*{allYn}">
        </div>
        <button type="button" id="searchBtn" class="btn border btn__filter-show"><img src="/images/common/search_filter_ico.svg" alt="상세검색"><span id="searchBtnText" th:text="*{isSearch ? '상세 검색 접기' : '상세 검색 보기'}"></span></button>
        <button type="submit" class="btn blue btn-search">검색</button>
    </div>
    <div th:classappend="*{isSearch ? 'show' : 'hide'}" class="search-filter">
        <div class="input-area input-search">
            <div class="input-list">
                <div class="label"><span>내선번호</span></div>
                <div class="input-box">
                    <input type="text" th:field="*{word2}" placeholder="내선번호를 입력해 주세요" title="내선번호">
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>권한</span></div>
                <div class="input-box">
                    <select th:field="*{selectKey1}">
                        <option value="">선택</option>
                        <th:block th:each="key : ${selectKey1List}">
                            <option th:value="${key.name}" th:text="${key.description}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
            <!--
            <div class="input-list">
                <div class="label"><span>소속</span></div>
                <div class="input-box">
                    <select th:field="*{selectKey2}">
                        <option value="">선택</option>
                        <th:block th:each="key : ${selectKey2List}">
                            <option th:value="${key.name}" th:text="${key.description}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>직위</span></div>
                <div class="input-box">
                    <select th:field="*{selectKey3}">
                        <option value="">선택</option>
                        <th:block th:each="key : ${selectKey3List}">
                            <option th:value="${key.name}" th:text="${key.description}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
            -->
            <div class="input-list wd1">
                <div class="label"><span>페이지당</span></div>
                <div class="input-box">
                    <select th:field="*{listCount}">
                        <option value="15">15개</option>
                        <option value="20">20개</option>
                        <option value="50">50개</option>
                        <option value="100">100개</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-btn__area">
        <button th:if="${useSe == 'USESE00008'}" type="button" class="btn border btn-all" onclick="$view.allView()"><img src="/images/common/btn_list_ico.svg" alt="전체보기(하위 기관 및 학교 포함 목록)">전체보기(하위 기관 및 학교 포함 목록)</button>
        <button type="button" class="btn border btn-reset" onclick="$url.redirect()"><img src="/images/common/btn_list_ico.svg">전체보기(소속기관 목록)</button>
    </div>
</th:block>
<div class="search-container type2">
    <div class="bottom-btn__area btw">
        <div>
            <button th:if="${useSe == 'USESE00008'}" type="button" class="btn border" onclick="$view.allView()"><img src="/images/common/btn_list_ico.svg" alt="전체보기(하위 기관 및 학교 포함 목록)">전체보기(하위 기관 및 학교 포함 목록)</button>
            <button type="button" class="btn border" onclick="$url.redirect()"><img src="/images/common/btn_list_ico.svg" alt="전체보기(소속기관 목록)">전체보기(소속기관 목록)</button>
        </div>
        <div class="search-btn__area">
            <button type="button" class="btn border btn__filter-show"><img src="/images/common/search_filter_ico.svg" alt="상세 검색 펼치기">상세 검색 펼치기</button>
            <button type="button" class="btn border btn__filter-hide"><img src="/images/common/search_filter_ico.svg" alt="상세 검색 숨기기">상세 검색 숨기기</button>
            <button type="submit" class="btn blue btn-search">검색</button>
        </div>
    </div>
</div>

<!-- 게시판 관리 -->
<th:block th:fragment="search10" th:object="${searchParam}">
    <div class="search type1">
        <div>
            <select th:field="*{selectKey3}">
                <option value="">선택</option>
                <th:block th:each="key : ${selectKey3List}">
                    <option th:value="${key.name}" th:text="${key.description}"></option>
                </th:block>
            </select>
            <input type="text" th:field="*{word1}" placeholder="검색어를 입력해 주세요" title="검색어">
        </div>
        <button class="btn blue btn-search">검색</button>
    </div>
</th:block>

<!-- 게시판 환경 설정 관리 -->
<th:block th:fragment="search11" th:object="${searchParam}">
    <div class="search type1 row">
        <div>
            <input type="text" th:field="*{word1}" placeholder="게시판명을 입력해 주세요" title="게시판명">
        </div>
        <button type="button" id="searchBtn" class="btn border btn__filter-show"><img src="/images/common/search_filter_ico.svg" alt="상세검색"><span id="searchBtnText" th:text="*{isSearch ? '상세 검색 접기' : '상세 검색 보기'}"></span></button>
        <button type="submit" class="btn blue btn-search">검색</button>
    </div>
    <div th:classappend="*{isSearch ? 'show' : 'hide'}" class="search-filter">
        <div class="input-area input-search">
            <div class="input-list">
                <div class="label"><span>게시판분류</span></div>
                <div class="input-box">
                    <select th:field="*{selectKey1}">
                        <option value="">선택</option>
                        <th:block th:each="key : ${selectKey1List}">
                            <option th:value="${key.value}" th:text="${key.description}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>검색</span></div>
                <div class="input-box">
                    <select th:field="*{selectKey2}">
                        <option value="">선택</option>
                        <th:block th:each="key : ${selectKey2List}">
                            <option th:value="${key.name}" th:text="${key.description}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
        </div>
    </div>
</th:block>

<!-- 기타 selectbox + input -->
<th:block th:fragment="search12" th:object="${searchParam}">
    <div class="search type1">
        <div>
            <select th:field="*{selectKey1}">
                <option value="">선택</option>
                <th:block th:each="key : ${selectKey1List}">
                    <option th:value="${key.nameToUrl()}" th:text="${key.description}"></option>
                </th:block>
            </select>
            <input type="text" th:field="*{word1}" placeholder="분류 또는 분류명을 입력해 주세요" title="분류">
        </div>
        <button class="btn blue btn-search">검색</button>
    </div>
</th:block>

<!-- 업체 대표 소모품 목록 -->
<th:block th:fragment="search13" th:object="${searchParam}">
    <div class="search type1 row">
        <input type="text" th:field="*{word2}" placeholder="업체명을 입력해 주세요" title="업체명">
        <button type="button" id="searchBtn" class="btn border btn__filter-show"><img src="/images/common/search_filter_ico.svg" alt="상세검색"><span id="searchBtnText" th:text="*{isSearch ? '상세 검색 접기' : '상세 검색 보기'}"></span></button>
        <button type="submit" class="btn blue btn-search">검색</button>
    </div>
    <div class="search-filter">
        <div class="input-area input-search">
            <div class="input-list">
                <div class="label"><span>접수번호</span></div>
                <div class="input-box">
                    <input type="text" th:field="*{word1}" placeholder="접수번호를 입력해 주세요" title="접수번호">
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>제목</span></div>
                <div class="input-box">
                    <input type="text" th:field="*{word3}" placeholder="제목을 입력해 주세요" title="제목">
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>상태</span></div>
                <div class="input-box">
                    <select th:field="*{selectKey2}">
                        <option value="">선택</option>
                        <th:block th:each="key : ${selectKey2List}">
                            <option th:value="${key.name}" th:text="${key.status}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>분류</span></div>
                <div class="input-box">
                    <select th:field="*{selectKey4}">
                        <option value="">선택</option>
                        <th:block th:each="key : ${selectKey4List}">
                            <option th:value="${key.name}" th:text="${key.status}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>등록일</span></div>
                <div class="input-box date">
                    <div class="date-box">
                        <input type="text" th:field="*{startDate}" class="datepicker" placeholder="시작일" title="시작일">
                    </div>
                    <div class="date-box">
                        <input type="text" th:field="*{endDate}" class="datepicker" placeholder="종료일" title="종료일">
                    </div>
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>담당자</span></div>
                <div class="input-box">
                    <input type="text" th:field="*{word4}" placeholder="담당자를 입력해 주세요" title="담당자">
                </div>
            </div>
            <div class="input-list wd1">
                <div class="label"><span>페이지당</span></div>
                <div class="input-box">
                    <select th:field="*{listCount}">
                        <option value="15">15개</option>
                        <option value="20">20개</option>
                        <option value="50">50개</option>
                        <option value="100">100개</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-btn__area">
        <button type="button" class="btn border" onclick="$url.redirect()"><img src="/images/common/btn_list_ico.svg" alt="전체보기(소속기관 목록)">전체보기(소속기관 목록)</button>
    </div>
</th:block>

<!-- 업체 직원 소모품 목록 -->
<th:block th:fragment="search14" th:object="${searchParam}">
    <div class="search type1 row">
        <input type="text" th:field="*{word2}" placeholder="업체명을 입력해 주세요" title="업체명">
        <button type="button" id="searchBtn" class="btn border btn__filter-show"><img src="/images/common/search_filter_ico.svg" alt="상세검색"><span id="searchBtnText" th:text="*{isSearch ? '상세 검색 접기' : '상세 검색 보기'}"></span></button>
        <button type="submit" class="btn blue btn-search">검색</button>
    </div>
    <div class="search-filter">
        <div class="input-area input-search">
            <div class="input-list">
                <div class="label"><span>접수번호</span></div>
                <div class="input-box">
                    <input type="text" th:field="*{word1}" placeholder="접수번호를 입력해 주세요" title="접수번호">
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>제목</span></div>
                <div class="input-box">
                    <input type="text" th:field="*{word3}" placeholder="제목을 입력해 주세요" title="제목">
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>상태</span></div>
                <div class="input-box">
                    <select th:field="*{selectKey2}">
                        <option value="">선택</option>
                        <th:block th:each="key : ${selectKey2List}">
                            <option th:value="${key.name}" th:text="${key.status}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>분류</span></div>
                <div class="input-box">
                    <select th:field="*{selectKey4}">
                        <option value="">선택</option>
                        <th:block th:each="key : ${selectKey4List}">
                            <option th:value="${key.name}" th:text="${key.status}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>등록일</span></div>
                <div class="input-box date">
                    <div class="date-box">
                        <input type="text" th:field="*{startDate}" class="datepicker" placeholder="시작일" title="시작일">
                    </div>
                    <div class="date-box">
                        <input type="text" th:field="*{endDate}" class="datepicker" placeholder="종료일" title="종료일">
                    </div>
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>페이지당</span></div>
                <div class="input-box">
                    <select th:field="*{listCount}">
                        <option value="15">15개</option>
                        <option value="20">20개</option>
                        <option value="50">50개</option>
                        <option value="100">100개</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-btn__area">
        <button type="button" class="btn border" onclick="$url.redirect()"><img src="/images/common/btn_list_ico.svg" alt="전체보기(소속기관 목록)">전체보기(소속기관 목록)</button>
    </div>
</th:block>


<!-- 업체 대표 점검보고서 목록 -->
<th:block th:fragment="search15" th:object="${searchParam}">
    <div class="search type1 row">
        <div>
            <input type="text" th:field="*{word3}" placeholder="제목을 입력해 주세요">
        </div>
        <button type="button" id="searchBtn" class="btn border btn__filter-show"><img src="/images/common/search_filter_ico.svg" alt=""><span id="searchBtnText" th:text="*{isSearch ? '상세 검색 접기' : '상세 검색 보기'}"></span></button>
        <button class="btn blue btn-search">검색</button>
    </div>

    <div th:classappend="*{isSearch ? 'show' : 'hide'}" class="search-filter">
        <div class="input-area input-search">
            <div class="input-list">
                <div class="label"><span>기관(학교)명</span></div>
                <div class="input-box">
                    <select th:field="*{selectKey5}">
                        <option value="">선택</option>
                        <th:block th:each="key : ${selectKey5List}">
                            <option th:value="${key.orgCd}" th:text="${key.orgNm}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>등록일</span></div>
                <div class="input-box date">
                    <div class="date-box">
                        <input type="text" th:field="*{startDate}" class="datepicker" placeholder="시작일">
                    </div>
                    <div class="date-box">
                        <input type="text" th:field="*{endDate}" class="datepicker" placeholder="종료일">
                    </div>
                </div>
            </div>
            <div class="input-list wd1">
                <div class="label"><span>페이지당</span></div>
                <div class="input-box">
                    <select th:field="*{listCount}">
                        <option value="15">15개</option>
                        <option value="20">20개</option>
                        <option value="50">50개</option>
                        <option value="100">100개</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-btn__area">
        <button type="button" class="btn border" onclick="$url.redirect()"><img src="/images/common/btn_list_ico.svg" alt="전체보기">전체보기</button>
    </div>
</th:block>

<!--기관 점검보고서 목록-->
<th:block th:fragment="search16" th:object="${searchParam}">
    <div class="search type1 row">
        <div>
            <input type="text" th:field="*{word3}" placeholder="제목을 입력해 주세요">
        </div>

        <button type="button" id="searchBtn" class="btn border btn__filter-show" tabindex="103"><img src="/images/common/search_filter_ico.svg" alt=""><span id="searchBtnText" th:text="*{isSearch ? '상세 검색 접기' : '상세 검색 보기'}"></span></button>
        <button type="submit" class="btn blue btn-search" tabindex="110">검색</button>
    </div>
    <div th:classappend="*{isSearch ? 'show' : 'hide'}" class="search-filter">
        <input type="hidden" th:field="*{allYn}">
        <div class="input-area input-search">
            <div class="input-list">
                <div class="label"><span>업체명</span></div>
                <div class="input-box">
                    <select th:field="*{selectKey1}">
                        <option value="">전체</option>
                        <th:block th:each="key : ${cmpnys}">
                            <option th:value="${key.bizrno}" th:text="${key.cmpnyNm}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>등록일</span></div>
                <div class="input-box date">
                    <div class="date-box">
                        <input type="text" th:field="*{startDate}" class="datepicker" placeholder="시작일">
                    </div>
                    <div class="date-box">
                        <input type="text" th:field="*{endDate}" class="datepicker" placeholder="종료일">
                    </div>
                </div>
            </div>
            <div class="input-list wd1">
                <div class="label"><span>페이지당</span></div>
                <div class="input-box">
                    <select th:field="*{listCount}">
                        <option value="15">15개</option>
                        <option value="20">20개</option>
                        <option value="50">50개</option>
                        <option value="100">100개</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-btn__area">
        <button th:if="${authority eq 'USESE00008' or authority eq 'USESE00007'}" type="button" class="btn border" onclick="$view.allView()"><img src="/images/common/btn_list_ico.svg">전체보기(하위 기관 및 학교 포함 목록)</button>
        <button type="button" class="btn border" onclick="$url.redirect()"><img src="/images/common/btn_list_ico.svg" alt="">전체보기(소속기관 목록)</button>
    </div>
</th:block>

<!-- 게시판관리  -->
<th:block th:fragment="search17" th:object="${searchParam}">
    <div class="search type3">
        <div>
            <select th:field="*{selectKey2}">
                <option value="title">제목</option>
                <option value="content">내용</option>
                <option value="writer">작성자</option>
            </select>
            <input type="text" th:field="*{word1}" placeholder="제목을 입력해 주세요" title="제목">
        </div>
        <button type="button" id="searchBtn" class="btn border btn__filter-show" tabindex="103"><img src="/images/common/search_filter_ico.svg" alt=""><span id="searchBtnText" th:text="*{isSearch ? '상세 검색 접기' : '상세 검색 보기'}"></span></button>
        <button class="btn blue btn-search">검색</button>
    </div>
    <div th:classappend="*{isSearch ? 'show' : 'hide'}" class="search-filter">
        <div class="input-area input-search">
            <div class="input-list wd1">
                <div class="label"><span>등록일</span></div>
                <div class="input-box date">
                    <div class="date-box date">
                        <input type="text" th:field="*{startDate}" class="datepicker" placeholder="시작일">
                    </div>
                    <div class="date-box">
                        <input type="text" th:field="*{endDate}" class="datepicker" readonly placeholder="종료일">
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="search18" th:object="${searchParam}">
    <div class="search type1">
        <div>
            <a class="btn gray small" th:class="${categoryId == 'all'} ? 'active': ''" th:href="@{|${defaultPageUrl}/all|}">ascasasc전체</a>
            <th:block th:each="ctgry : ${ctgryList}">
                <a class="btn gray small" th:class="${categoryId == ctgry.boardCategoryId} ? 'active' : ''" th:href="@{|${defaultPageUrl}/${ctgry.boardCategoryId}|}" th:text="${ctgry.categoryNm}"></a>
            </th:block>
        </div>
    </div>
</th:block>

<!-- 업체 직원 유지관리, 소모품 목록 -->
<th:block th:fragment="search19" th:object="${searchParam}">
    <div class="search type1 row">
        <div>
            <input type="text" th:field="*{word3}" placeholder="공휴일명을 입력해 주세요" title="제목">
        </div>
        <button type="button" id="searchBtn" class="btn border btn__filter-show"><img src="/images/common/search_filter_ico.svg" alt="상세검색"><span id="searchBtnText" th:text="*{isSearch ? '상세 검색 접기' : '상세 검색 보기'}"></span></button>
        <button type="submit" class="btn blue btn-search">검색</button>
    </div>
    <div th:classappend="*{isSearch ? 'show' : 'hide'}" class="search-filter">
        <div class="input-area input-search">
            <div class="input-list wd1">
                <div class="label"><span>공휴일 기간</span></div>
                <div class="input-box date">
                    <div class="date-box">
                        <input type="text" th:field="*{startDate}" class="datepicker" placeholder="시작일" title="시작일">
                    </div>
                    <div class="date-box">
                        <input type="text" th:field="*{endDate}" class="datepicker" placeholder="종료일" title="종료일">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-btn__area">
        <button type="button" class="btn border" onclick="$url.redirect()"><img src="/images/common/btn_list_ico.svg" alt="전체보기">전체보기</button>
    </div>
</th:block>
</body>
</html>
