<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::#section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <th:block id="css">
    </th:block>

    <th:block id="script">
        <script th:src="@{/js/adm/stats/stats.js}"></script>
    </th:block>
</head>
<body id="section">
<nav th:replace="layout/nav :: nav" class="lnb"></nav>
<th:block th:with="useSe=${#authentication.principal.useSe}">
    <div class="main-area">
        <div class="inner">
            <div class="main-container">
                <div class="page-tit__wrap">
                    <ul class="breadcrumbs">
                        <li><img src="/images/common/home_ico.svg" alt="홈"></li>
                        <li>통계</li>
                    </ul>
                    <h2 class="page-tit">통계</h2>
                </div>
                <form th:object="${searchParam}">
                    <div class="filter type1">
                        <div style="margin-bottom: 0.5rem;" th:replace="utils/selectOrgCd :: orgCdSeletboxDiv"></div>
                        <th:block th:if="${useSe == 'USESE00007' || useSe == 'USESE00008'}">
                            <label class="chk-item search-chk">
                                <input type="checkbox" value="Y" th:field="*{allYn}">
                                <span>하위기관(학교) 전체 포함</span>
                            </label>
                        </th:block>
                    </div>
                    <div th:classappend="*{isSearch ? 'show' : 'hide'}" class="search-filter">
                        <div class="input-area input-search">
                            <div class="input-list">
                                <div class="label"><span>기간</span></div>
                                <div class="input-box select-list">
                                    <select id="year" onchange="pageObj.chgSelYear(this.value)">
                                        <th:block th:each="key : *{selectList}">
                                            <option th:value="${key}" th:text="|${key}년|" th:selected="${key} == *{sel0}"></option>
                                        </th:block>
                                    </select>
                                    <select id="month" onchange="pageObj.chgSelMonth(this.value)">
                                        <th:block th:each="key : ${monthList}">
                                            <option th:value="${key}" th:text="|${key}월|" th:selected="${key} == *{sel1}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                            <div class="input-list">
                                <div class="label"><span>기간 상세</span></div>
                                <div class="input-box date">
                                    <div class="date-box">
                                        <input type="text" th:field="*{startDate}"class="datepicker" placeholder="시작일" title="시작일">
                                    </div>
                                    <div class="date-box">
                                        <input type="text" th:field="*{endDate}" class="datepicker" placeholder="종료일" title="종료일">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-btn__area btw">
                        <button type="button" class="btn border" onclick="$url.redirect()"><img src="/images/common/btn_reset_ico.svg" alt="초기화">초기화</button>
                        <div class="search-btn__area">
                            <button type="button" id="searchBtn" class="btn border btn__filter-show"><img src="/images/common/search_filter_ico.svg" alt="상세검색"><span id="searchBtnText" th:text="*{isSearch ? '상세 검색 접기' : '상세 검색 보기'}"></span></button>
                            <button type="button" class="btn blue btn-search" onclick="pageObj.search()">검색</button>
                        </div>
                    </div>
                    <div class="content-item">
                        <div class="bottom-btn__area">
                            <button type="button" class="btn sky" onclick="pageObj.changeTime('m')">월별</button>
                            <button type="button" class="btn red" onclick="pageObj.changeTime('d')">일별</button>
                        </div>
                        <div class="tab-container mt2">
                            <ul class="tab-btn">
                                <li><a href="javascript:void(0);" onclick="pageObj.changeCategory('rec')" title="접수 통계">접수 통계</a></li>
                                <li><a href="javascript:void(0);" onclick="pageObj.changeCategory('sch')" title="학교별 통계">학교별 통계</a></li>
                                <li><a href="javascript:void(0);" onclick="pageObj.changeCategory('cmp')" title="업체별 통계">업체별 통계</a></li>
                                <li><a href="javascript:void(0);" onclick="pageObj.changeCategory('emp')" title="직원별 통계">직원별 통계</a></li>
                                <li><a href="javascript:void(0);" onclick="pageObj.changeCategory('join')" title="가입자 통계">가입자 통계</a></li>
                                <li><a href="javascript:void(0);" onclick="pageObj.changeCategory('menu')" title="메뉴별 통계">메뉴별 접속 통계</a></li>
                            </ul>
                            <div class="tab-cont">
                                <div class="tab-item chart" id="chart" style="width:100%; height:460px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <footer th:replace="layout/footer :: footer"></footer>
        </div>
    </div>
</th:block>
</body>
</html>