<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div id="form">
    <a class="modal-close" href="javascript:void(0);" onclick="modal2.close()" title="닫기"><img src="/images/common/modal_close_ico.svg" alt="창 닫기"></a>
    <div class="modal-top tit-area">
        <h3 class="tit-area__tit"></h3>
    </div>
    <div class="modal-body">
        <div class="input-area">
            <div class="input-list">
                <div class="label"><span>게시판</span></div>
                <select name="boardMng" id="boardMng" onchange="board.mngChange(this)">
                    <option value="">선택</option>
                    <th:block th:each="mng : ${result}">
                        <option th:value="${mng.boardMngId}" th:text="${mng.boardTitle}"></option>
                    </th:block>
                </select>
            </div>
            <div class="input-list">
                <div class="label"><span>카테고리</span></div>
                <select name="boardCtgry" id="boardCtgry">
                    <option value="">선택</option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-bottom">
        <button class="btn gray" onclick="modal2.close()">취소</button>
        <button class="btn blue" onclick="boardCalendar.transport()">변경</button>
    </div>
</div>
</section>
</body>
</html>
