<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div id="form" th:object="${depMatchSelDto}">
    <a class="modal-close" href="javascript:void(0);" onclick="$modal().close()" title="창 닫기"><img src="/images/common/modal_close_ico.svg" alt="창 닫기"></a>
    <div class="modal-top tit-area">
        <h3 class="tit-area__tit">지원청 지정</h3>
        <p class="tit-area__desc">지역 및 주소지 확인 후 관할 지원청을 선택해 주세요.</p>
    </div>
    <div class="modal-body">
        <div class="input-area txt-only">
            <div class="input-list">
                <div class="label"><span>기관(학교)명</span></div>
                <div class="input-box" id="orgNm" th:text="*{orgNm}"></div>
            </div>
            <div class="input-list">
                <div class="label"><span>기관 구분</span></div>
                <div class="input-box" th:text="*{depNm}"></div>
            </div>
        </div>
        <input type="hidden" th:value="*{upperOrgCd}">
        <select id="supBox" class="mt2">
            <option value="">지원청 선택</option>
            <th:block th:each="item : *{supList}">
                <option th:value="${item.orgCd}" th:text="${item.orgNm}" th:selected="${item.orgCd} == *{upperOrgCd}"></option>
            </th:block>
        </select>
    </div>
    <div class="modal-bottom">
        <button class="btn gray" onclick="$modal().close()">취소</button>
        <button class="btn blue" th:onclick="pageObj.update([[*{orgCd}]], [[*{depNm}]])">확인</button>
    </div>
</div>
</section>
</body>
</html>
