@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");
@font-face {
  font-family: "Pretendard";
  src: url(/font/Pretendard-Bold.woff);
  font-weight: 700;
}
@font-face {
  font-family: "Pretendard";
  src: url(/font/Pretendard-Medium.woff);
  font-weight: 500;
}
@font-face {
  font-family: "Pretendard";
  src: url(/font/Pretendard-Regular.woff);
  font-weight: 400;
}
@font-face {
  font-family: "Pretendard";
  src: url(/font/Pretendard-Light.woff);
  font-weight: 300;
}
:root {
  --color-primary: #4269F1;
  --color-sub: #444444;
  --color-desc: #777777;
  --color-disabled: #A0A0A0;
  --color-lnb: #EBEBEB;
  --color-red: #FC5C5C;
  --color-green: #1EBB9B;
  --color-yellow: #FFA620;
  --color-purple: #906ae9;
  --color-gray: #6F7A91;
  --color-border-top: #CFD0D6;
  --color-border: #EBEBEB;
  --color-bg-gray: #F5F6F8;
  --color-bg-sky: #F6F8FB;
}

.wd1 {
  width: 100% !important;
}

.mt1 {
  margin-top: 0.625rem !important;
}

.wd2 {
  width: 50% !important;
}

.mt2 {
  margin-top: 1.25rem !important;
}

.wd3 {
  width: 33.3333333333% !important;
}

.mt3 {
  margin-top: 1.875rem !important;
}

.wd4 {
  width: 25% !important;
}

.mt4 {
  margin-top: 2.5rem !important;
}

.wd5 {
  width: 20% !important;
}

.mt5 {
  margin-top: 3.125rem !important;
}

.wd6 {
  width: 16.6666666667% !important;
}

.mt6 {
  margin-top: 3.75rem !important;
}

.wd7 {
  width: 14.2857142857% !important;
}

.mt7 {
  margin-top: 4.375rem !important;
}

.wd8 {
  width: 12.5% !important;
}

.mt8 {
  margin-top: 5rem !important;
}

.wd9 {
  width: 11.1111111111% !important;
}

.mt9 {
  margin-top: 5.625rem !important;
}

.wd10 {
  width: 10% !important;
}

.mt10 {
  margin-top: 6.25rem !important;
}

html {
  font-size: 16px;
}

body {
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
  font-weight: 400;
  letter-spacing: -0.5pt;
  line-height: 1.3;
  color: #1D1D1D;
}

img {
  display: block;
}

.wrap {
  position: relative;
}
.wrap.wide header, .wrap.wide .main-area {
  padding-left: 0;
}
.wrap.wide .inner {
  max-width: 100%;
}

.contents {
  background: var(--color-bg-gray);
}

.inner {
  max-width: 1640px;
  width: 100%;
  margin: 0 auto;
  padding: 0 3.125rem;
}

.main-area {
  min-height: calc(100vh - 2.75rem);
  padding-left: 17.5rem;
}
.main-area .inner {
  padding-top: 3.125rem;
  padding-bottom: 1.875rem;
}

.main-container {
  min-height: calc(100vh - 13.375rem);
}

.content-item {
  padding: 1.875rem;
  border-radius: 0.5rem;
  background: #fff;
}
.content-item:not(:last-of-type) {
  margin-bottom: 1.25rem;
}
.content-item.table-content {
  padding: 1.25rem 1.25rem 1.875rem;
}

.content-bottom {
  position: relative;
  min-height: 2.25rem;
  margin-bottom: -0.312rem;
}
.content-bottom .btn-area {
  position: absolute;
  justify-content: flex-end;
  width: auto;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  margin: 0;
  z-index: 1;
}

.tit-area {
  position: relative;
  padding-bottom: 0.875rem;
}
.tit-area:not(:first-of-type) {
  margin-top: 3.75rem;
}
.tit-area.border {
  margin-bottom: 1.875rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-border-top);
}

.tit-area__tit {
  font-size: 1.25rem;
  font-weight: 500;
}

.tit-area__desc {
  margin-top: 0.375rem;
  padding-right: 11.875rem;
  font-size: 0.938rem;
  color: var(--color-desc);
}

.essential-txt {
  position: absolute;
  padding-left: 0.625rem;
  right: 0;
  bottom: 0.875rem;
  font-size: 0.938rem;
  color: var(--color-desc);
}
.essential-txt::before {
  content: "*";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.938rem;
  font-weight: 500;
  color: var(--color-red);
}

.page-tit__wrap {
  margin-bottom: 1.75rem;
}
.page-tit__wrap .page-tit {
  font-size: 2rem;
}

.breadcrumbs {
  margin-bottom: 1rem;
}
.breadcrumbs li {
  display: inline-block;
  font-size: 0.938rem;
  line-height: 1.125rem;
  color: var(--color-desc);
  vertical-align: middle;
}
.breadcrumbs li:first-of-type {
  margin-top: -1px;
}
.breadcrumbs li:first-of-type img {
  width: 1.125rem;
}
.breadcrumbs li:not(:first-of-type) {
  position: relative;
  padding-left: 1rem;
}
.breadcrumbs li:not(:first-of-type)::before {
  content: "";
  position: absolute;
  width: 0.25rem;
  height: 0.25rem;
  top: 0.375rem;
  left: 0.25rem;
  border-radius: 4px;
  background: #DDDDDD;
}

.align-center {
  display: flex;
  align-items: center;
}

.txt-box {
  padding: 2.5rem 1.25rem;
  border-radius: 0.5rem;
  background: var(--color-bg-sky);
}
.txt-box.center {
  text-align: center;
}
.txt-box .bold {
  display: block;
  font-size: 1.125rem;
  font-weight: 500;
}
.txt-box p .blue {
  font-weight: 500;
  color: var(--color-primary);
}
.txt-box p .black {
  font-weight: 500;
  color: var(--color-sub);
}
.txt-box p .red {
  font-weight: 500;
  color: var(--color-red);
}
.txt-box p:not(:last-of-type) {
  margin-bottom: 0.75rem;
}
.txt-box > span {
  display: block;
  margin-top: 1rem;
  font-size: 0.938rem;
  color: var(--color-desc);
}
.txt-box.alert-box {
  position: relative;
  padding: 1.625rem 1.625rem 1.625rem 5.625rem;
  border: 1px solid #fdd9d9;
  background: #fffafa;
}
.txt-box.alert-box::before {
  content: "";
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  top: 1.625rem;
  left: 1.625rem;
  background: url(/images/common/alert_ico.svg) center/2.5rem no-repeat;
}
.txt-box.find-id {
  margin: -0.625rem 0 0;
  padding: 1.875rem 1.25rem;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #b7b7b7;
}

button {
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
  font-weight: 400;
  letter-spacing: -0.5pt;
  border: 0;
  line-height: 1;
  cursor: pointer;
}

.txt-hide {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  background: transparent;
}

.btn {
  display: inline-block;
  min-width: 5.625rem;
  height: 2.875rem;
  padding: 0.938rem 1.25rem;
  border-radius: 0.5rem;
  font-size: 0.938rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid transparent;
}
.btn.blue {
  background: var(--color-primary);
  color: #fff;
}
.btn.border {
  border: 1px solid var(--color-primary);
  background: #fff;
  color: var(--color-primary);
}
.btn.red {
  background: #ffeded;
  color: var(--color-red);
}
.btn.gray {
  background: #EFF1F5;
  color: var(--color-gray);
}
.btn.dark-gray {
  background: #e5e8ef;
  color: var(--color-gray);
}
.btn.sky {
  background: #e3effd;
  color: var(--color-primary);
}
.btn.wht {
  border: 1px solid #dfe1e9;
  color: var(--color-primary);
}
.btn.wht-red {
  border: 1px solid #dfe1e9;
  color: var(--color-red);
}
.btn.small {
  min-width: 4.375rem !important;
  height: 2.25rem;
  padding: 0.625rem 1rem;
  font-size: 0.875rem;
}
.btn.small img {
  margin: 0 0.25rem -0.125rem 0;
}
.btn.add {
  background: #28a1f5;
  color: #fff;
}
.btn img {
  display: inline-block;
  width: 0.875rem;
  margin: 0 0.375rem -0.125rem 0;
}

.btn-area {
  display: flex;
  justify-content: center;
  gap: 0.625rem;
  width: 100%;
  margin-top: 2.5rem;
  font-size: 0;
}
.btn-area.btw {
  justify-content: space-between;
}
.btn-area.btw > div {
  display: flex;
  gap: 0.625rem;
}
.btn-area.right {
  justify-content: flex-end;
  margin-top: 0.875rem;
}
.btn-area .btn {
  min-width: 6.875rem;
}

.small-btn__wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 0.313rem;
  margin-bottom: 1rem;
}
.small-btn__wrap .btn {
  min-width: auto;
  height: 2.125rem;
  padding: 0 1rem;
  font-size: 0.875rem;
}
.small-btn__wrap.btw {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.313rem;
}

input[type=text], input[type=password], input[type=number], input[type=email], input[type=phone], input[type=date], input[type=file], input[type=submit], select, textarea {
  width: 100%;
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 0.938rem;
  border: 1px solid #E5E5E5;
  letter-spacing: -0.5pt;
}
input[type=text]::placeholder, input[type=password]::placeholder, input[type=number]::placeholder, input[type=email]::placeholder, input[type=phone]::placeholder, input[type=date]::placeholder, input[type=file]::placeholder, input[type=submit]::placeholder, select::placeholder, textarea::placeholder {
  font-size: 0.938rem;
  color: var(--color-disabled);
}
input[type=text]:read-only:not(select), input[type=text]:disabled:not(select), input[type=password]:read-only:not(select), input[type=password]:disabled:not(select), input[type=number]:read-only:not(select), input[type=number]:disabled:not(select), input[type=email]:read-only:not(select), input[type=email]:disabled:not(select), input[type=phone]:read-only:not(select), input[type=phone]:disabled:not(select), input[type=date]:read-only:not(select), input[type=date]:disabled:not(select), input[type=file]:read-only:not(select), input[type=file]:disabled:not(select), input[type=submit]:read-only:not(select), input[type=submit]:disabled:not(select), select:read-only:not(select), select:disabled:not(select), textarea:read-only:not(select), textarea:disabled:not(select) {
  background: var(--color-bg-gray);
  color: var(--color-desc);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

input, select {
  height: 2.875rem;
  padding: 0 0.938rem;
  border-radius: 0.5rem;
  background: #fff;
}

.select-list {
  display: flex;
  gap: 0.625rem;
}

select {
  display: inline-block;
  background: url(/images/common/select_arrow_ico.svg) calc(100% - 0.75rem) 50%/0.875rem 0.875rem no-repeat, #fff;
}

textarea {
  min-height: 6.25rem;
  padding: 1rem;
  line-height: 1.6;
  border-radius: 0.5rem;
  resize: none;
}

.date-box {
  position: relative;
  max-width: 15rem;
  width: 100%;
}
.date-box input[type=text] {
  padding: 0 0.75rem 0 3rem !important;
  cursor: pointer;
}
.date-box::before {
  content: "";
  position: absolute;
  width: 2.25rem;
  height: 2.875rem;
  top: 0;
  left: 0;
  border-right: 1px solid #E5E5E5;
  background: url(/images/common/calendar_ico.svg) center/2.55rem 2.55rem no-repeat;
}

.input-area {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid var(--color-border-top);
}
.input-area .label {
  display: flex;
  align-items: center;
  width: 11.25rem;
  padding: 0 1rem;
  font-size: 0.938rem;
  line-height: 1;
}
.input-area .label span {
  line-height: 1.2;
}
.input-area .label.essential span {
  position: relative;
}
.input-area .label.essential span::after {
  content: "*";
  position: absolute;
  top: -0.125rem;
  right: -0.563rem;
  font-size: 0.938rem;
  font-weight: 500;
  color: var(--color-red);
}
.input-area .input-list {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--color-border);
}
.input-area .input-box {
  width: calc(100% - 11.25rem);
  padding: 0.625rem;
}
.input-area .input-box input {
  max-width: 23.125rem;
}
.input-area .input-box select {
  max-width: 15rem;
}
.input-area .input-box textarea {
  min-height: 17.5rem;
}
.input-area .input-box .file-list {
  margin: 0;
}
.input-area .input-box .chk-list, .input-area .input-box .radio-list, .input-area .input-box .toggle-list {
  margin: 0.75rem 0;
}
.input-area .input-box .help-txt {
  display: block;
  padding-top: 0.5rem;
  font-size: 0.938rem;
  color: var(--color-red);
}
.input-area .input-box.input-btn {
  display: flex;
  gap: 0.625rem;
}
.input-area .input-box.date {
  display: flex;
  gap: 0.625rem;
}
.input-area .input-box.email > div {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.input-area .input-box.email > div input[type=text] {
  max-width: 11.25rem;
}
.input-area .input-box.phone > div {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  max-width: 23.125rem;
}
.input-area .input-box.address > div {
  display: flex;
  gap: 0.625rem;
}
.input-area .input-box.address > div:not(:last-of-type) {
  margin-bottom: 0.625rem;
}
.input-area .input-box.address > div:last-of-type {
  max-width: 23.125rem;
}
.input-area .input-box.main-cont {
  min-height: 18.75rem;
  line-height: 1.6 !important;
  word-wrap: break-word;
}
.input-area .input-box.tit input {
  max-width: 100%;
}
.input-area .input-box.small {
  white-space: nowrap;
}
.input-area .input-box.small input[type=text] {
  max-width: 7.5rem;
  margin-right: 0.5rem;
}
.input-area .input-box.report > div:first-of-type {
  display: flex;
  gap: 0.625rem;
}
.input-area .input-box.report .date {
  display: flex;
  gap: 0.625rem;
}
.input-area .input-box.report .table-container {
  display: block;
  margin-top: 20px;
}
.input-area .input-box.responsive {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
}
.input-area .input-box.preview input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
  clip: rect(0 0 0 0);
}
.input-area .input-box.preview img {
  max-width: 280px;
  width: 100%;
}
.input-area.input-search .input-box input {
  max-width: 30.625rem;
}
.input-area.txt-only .label {
  padding: 1.125rem;
  line-height: 1.3;
  background: var(--color-bg-sky);
  color: var(--color-gray);
}
.input-area.txt-only .input-list {
  width: 50%;
}
.input-area.txt-only .input-box {
  padding: 1.125rem;
  line-height: 1.3;
}

.chk-item, .radio-item {
  display: inline-block;
  font-size: 0;
  white-space: nowrap;
  cursor: pointer;
}
.chk-item input, .radio-item input {
  position: relative;
  width: 1.375rem;
  height: 1.375rem;
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  vertical-align: top;
  cursor: pointer;
}
.chk-item input::before, .radio-item input::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -1px;
  left: -1px;
}
.chk-item input::after, .radio-item input::after {
  content: "";
  position: absolute;
}
.chk-item span, .radio-item span {
  display: inline-block;
  padding-left: 0.5rem;
  font-size: 1rem;
  line-height: 1.375rem;
  vertical-align: middle;
  white-space: normal;
  word-break: break-all;
  cursor: pointer;
}

.chk-item input::before {
  border: 1px solid #dddddd;
  border-radius: 0.438rem;
}
.chk-item input::after {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(/images/common/check_ico.svg) center/cover no-repeat;
}
.chk-item input:checked::before {
  border: 1px solid transparent;
  background: var(--color-primary);
}
.chk-item input:checked::after {
  background: url(/images/common/checked_ico.svg) center/cover no-repeat;
}

.radio-item input::before {
  border: 1px solid transparent;
  border-radius: 50%;
  background: #e7eaef;
}
.radio-item input::after {
  width: 0.625rem;
  height: 0.625rem;
  top: 0.313rem;
  left: 0.313rem;
  border-radius: 50%;
  background: #fff;
}
.radio-item input:checked::before {
  background: #bccbff;
}
.radio-item input:checked::after {
  background: var(--color-primary);
}

.chk-list, .radio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem 1.25rem;
}

.toggle {
  cursor: pointer;
}
.toggle input {
  position: relative;
  width: 2.75rem;
  height: 1.625rem;
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  vertical-align: top;
  cursor: pointer;
}
.toggle input::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 23px;
  background: #d5dae9;
}
.toggle input::after {
  content: "";
  position: absolute;
  width: 1.125rem;
  height: 1.125rem;
  top: 50%;
  left: 0.188rem;
  transform: translate(0, -50%);
  border-radius: 50%;
  background: #fff;
  transition: left ease 0.3s;
}
.toggle input:checked::before {
  background: var(--color-primary);
}
.toggle input:checked::after {
  left: calc(100% - 1.313rem);
}
.toggle span {
  display: inline-block;
  padding-left: 0.5rem;
  font-size: 1rem;
  line-height: 1.625rem;
  vertical-align: middle;
  white-space: normal;
  word-break: break-all;
  cursor: pointer;
}

.toggle-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0 40px;
}
.toggle-list .toggle {
  width: calc(50% - 20px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.toggle-list .toggle:not(:first-of-type, :nth-of-type(2)) {
  margin-top: 0.75rem;
  padding-top: 0.75rem;
  border-top: 1px dashed var(--color-border);
}
.toggle-list .toggle span {
  padding-left: 0;
  padding-right: 0.5rem;
}

header {
  position: relative;
  padding-left: 17.5rem;
  z-index: 9997;
  background: #fff;
}
header .inner {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.lnb {
  position: fixed;
  width: 17.5rem;
  height: 100vh;
  padding: 0.625rem 0.5rem;
  top: 0;
  left: 0;
  transform: translateX(0);
  background: #1A212D;
  z-index: 9998;
  transition: transform ease 0.5s, visibility ease 0.5s;
  visibility: visible;
}
.lnb .user {
  display: flex;
  align-items: center;
  padding: 1.375rem 0.625rem 1.563rem;
  line-height: 1;
}
.lnb .user .ico {
  width: 2.5rem;
}
.lnb .user .ico img {
  width: 100%;
}
.lnb .user-info {
  padding: 0 10px;
}
.lnb .user-info > span {
  display: inline-block;
  margin-bottom: 0.25rem;
  padding: 0.188rem 0.313rem;
  font-size: 0.75rem;
  font-weight: 500;
  border-radius: 0.313rem;
  background: #2D3748;
  color: #ADB5C7;
}
.lnb .user-info > p {
  width: 7.5rem;
  margin-bottom: 0.375rem;
  font-size: 0.813rem;
  font-weight: 300;
  color: #c7cddb;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.lnb .user-name {
  font-size: 0.938rem;
  line-height: 1;
  color: var(--color-lnb);
}
.lnb .user-name span {
  padding-right: 0.125rem;
  font-weight: 500;
  color: #fff;
}
.lnb .btn-hide {
  position: relative;
  display: block;
  width: 2.25rem;
  height: 2.25rem;
  margin: 0 -0.5rem 0 auto;
  border-radius: 0.313rem 0 0 0.313rem;
  background: #2D3748;
}
.lnb .btn-hide img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lnb .btn-area {
  margin-top: 0;
}
.lnb .btn-adm {
  width: 100%;
  background: #2D3748;
  color: #a6baff;
}
.lnb .btn-mypage {
  width: 100%;
  background: #2D3748;
  color: #fff;
}
.lnb .btn-close {
  position: absolute;
  display: none;
  width: 2.625rem;
  height: 2.625rem;
  top: 0.75rem;
  right: 0.75rem;
}
.lnb .btn-close img {
  margin-left: auto;
}
.lnb .btn-logout {
  height: 1.375rem;
  margin-left: auto;
  padding: 0.3rem 0.438rem;
  font-size: 0.813rem;
  font-weight: 500;
  border-radius: 0.313rem;
  background: #2D3748;
  color: #ADB5C7;
}
.lnb.hide {
  transform: translateX(-100%);
  visibility: hidden;
}
.lnb.hide .btn-hide {
  transform: translateX(100%) translateY(5rem) rotate(180deg);
  border: 1px solid var(--color-border);
  background: #fff;
  visibility: visible;
}
.lnb.on {
  transform: translateX(0);
  visibility: visible;
}

.lnb-logo {
  padding: 1rem 0.75rem 1.875rem;
}
.lnb-logo a {
  display: block;
  width: 12.5rem;
}
.lnb-logo a img {
  width: 100%;
}

.lnb-list > li:not(:last-of-type) {
  margin-bottom: 0.25rem;
}
.lnb-list > li > a {
  display: block;
  padding: 1.125rem;
  border-radius: 0.5rem;
  line-height: 1;
  transition: background-color ease 0.1s;
}
.lnb-list > li > a img {
  display: inline-block;
  vertical-align: middle;
}
.lnb-list > li > a span {
  padding-left: 0.625rem;
  font-size: 0.938rem;
  vertical-align: middle;
  color: var(--color-lnb);
}
.lnb-list > li > a.on {
  background: #263040;
}
.lnb-list > li > a.on span {
  font-weight: 500;
  color: #fff;
}
.lnb-list .arrow > a {
  position: relative;
}
.lnb-list .arrow > a::after {
  content: "";
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  top: 50%;
  right: 0.875rem;
  transform: translate(0, -50%);
  background: url("/images/common/lnb_arrow_ico.svg") center/cover no-repeat;
}
.lnb-list .arrow > a.show::after, .lnb-list .arrow > a.on::after {
  transform: translate(0, -50%) rotate(180deg);
}
.lnb-list .depth2 {
  position: relative;
  display: none;
  margin: 10px 0 10px 24px;
}
.lnb-list .depth2::before {
  content: "";
  position: absolute;
  width: 1px;
  height: calc(100% - 20px);
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  background: #525d6f;
}
.lnb-list .depth2 a {
  display: block;
  padding: 8px 24px;
  font-size: 14px;
  color: #dbdbdb;
}
.lnb-list .depth2 a.on {
  font-weight: 500;
  color: #a6baff;
}
.lnb-list .depth2 a:hover {
  color: #a6baff;
}

.lnb-top {
  height: calc(100% - 11.813rem);
  overflow-y: auto;
}

.lnb-top::-webkit-scrollbar-thumb {
  background: #2D3748;
}

.lnb-bottom {
  position: absolute;
  width: calc(100% - 1rem);
  bottom: 0.625rem;
}

.hd-logo {
  display: none;
  margin: -0.375rem 0;
}
.hd-logo.on {
  display: block;
}

.hd-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.txt-size {
  margin-left: auto;
  line-height: 1;
  font-size: 0;
}
.txt-size span {
  display: inline-block;
  margin-right: 0.5rem;
  font-size: 0.875rem;
  color: var(--color-desc);
  vertical-align: middle;
}
.txt-size button {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid var(--color-border);
  vertical-align: middle;
}
.txt-size button.up {
  border-radius: 0 0.188rem 0.188rem 0;
  background: url(/images/common/txtsize_up_ico.svg) center/cover no-repeat;
}
.txt-size button.down {
  margin-right: -1px;
  border-radius: 0.188rem 0 0 0.188rem;
  background: url(/images/common/txtsize_down_ico.svg) center/cover no-repeat;
}

.menu-btn__mo {
  display: none;
  width: 2rem;
  height: 2rem;
}
.menu-btn__mo img {
  margin-left: auto;
}

.hd-home {
  margin: 0 0 0 1rem;
}
.hd-home img {
  width: 1.188rem;
}

footer {
  padding-top: 3.125rem;
  font-size: 0.875rem;
  font-weight: 300;
  text-align: center;
  color: var(--color-disabled);
}
footer li {
  display: inline-block;
}
footer li:not(:last-of-type) {
  position: relative;
  padding-right: 1.5rem;
}
footer li:not(:last-of-type)::after {
  content: "";
  position: absolute;
  width: 0.25rem;
  height: 0.25rem;
  top: 0.438rem;
  right: 0.438rem;
  border-radius: 0.25rem;
  background: #CBCDD6;
}
footer li span {
  margin-left: 0.25rem;
  font-weight: 400;
}
footer p {
  margin-top: 0.188rem;
  letter-spacing: 0;
}

.sms {
  position: fixed;
  width: 25rem;
  right: 1.25rem;
  bottom: 1.25rem;
  transform: translate(0, calc(100% + 20px));
  transition: transform ease 0.5s;
}

.sms-btn {
  position: absolute;
  display: none;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.688rem 0 0;
  top: -4.75rem;
  right: 0;
  text-align: center;
  border-radius: 50%;
  background: var(--color-primary);
}
.sms-btn img {
  margin: 0 auto;
}
.sms-btn p {
  font-size: 0.813rem;
  color: #fff;
}

.sms-wrap {
  padding: 1.875rem;
  border-radius: 0.938rem;
  background: #fff;
  box-shadow: 0 0 40px rgba(85, 91, 113, 0.1);
  visibility: hidden;
}
.sms-wrap h3 {
  margin-bottom: 0.625rem;
  font-size: 1.125rem;
  font-weight: 500;
}
.sms-wrap select, .sms-wrap input {
  height: 2.375rem;
  padding: 0 0.75rem;
  border-radius: 0.375rem;
}

.sms-cont .number {
  display: flex;
  flex-direction: column;
}
.sms-cont .number dl:not(:last-of-type) {
  margin-bottom: 1rem;
}
.sms-cont .number dt {
  font-size: 0.938rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: var(--color-gray);
}
.sms-cont .number dd {
  display: flex;
  align-items: center;
  gap: 0.313rem;
}
.sms-cont .btn-area {
  margin: 1.625rem 0 0;
}
.sms-cont .btn-area .btn {
  width: 100%;
}

.sms-textarea {
  margin-bottom: 1.25rem;
  font-size: 0;
}
.sms-textarea textarea {
  height: 15rem;
  padding: 0.75rem;
  border-radius: 0.5rem 0.5rem 0 0;
}
.sms-textarea textarea::placeholder {
  font-size: 0.875REM;
}
.sms-textarea .bytes {
  margin-top: -1px;
  padding: 0.625REM;
  text-align: right;
  font-size: 0.875rem;
  line-height: 1;
  border: 1px solid #E5E5E5;
  border-radius: 0 0 0.5rem 0.5rem;
  color: var(--color-desc);
  background: var(--color-bg-sky);
}

.join-area {
  position: relative;
  padding: 3.75rem 6.25rem 3.125rem;
  z-index: 1;
}
.join-area .input-area .input-box select {
  max-width: 11.25rem;
}

.join {
  position: relative;
  overflow: hidden;
}
.join::after {
  content: "";
  position: fixed;
  width: 31.25rem;
  height: 31.25rem;
  bottom: -1.875rem;
  left: -3.75rem;
  background: url(/images/common/join_bg_logo.svg) center/cover no-repeat;
}
.join .inner {
  max-width: 76.25rem;
  width: 100%;
  margin: 0 auto;
  padding: 5rem 1.25rem 1.875rem;
}
.join .main-area {
  position: relative;
  min-height: calc(100vh - 12.43rem);
  padding: 0;
  z-index: 1;
}
.join .top-logo {
  width: 14.375rem;
  margin: 0 auto 1.875rem;
}
.join .top-logo img {
  width: 100%;
}
.join .login-box {
  position: relative;
  max-width: 34.375rem;
  margin: 0 auto;
  padding: 3.125rem 5.625rem;
  z-index: 1;
}
.join .login-box .tit-area {
  margin-bottom: 1.25rem;
  padding: 0;
  text-align: center;
}
.join .login-box .tit-area__tit {
  font-size: 1.5rem;
  font-weight: 700;
}
.join .login-box .tit-area__desc {
  margin-top: 0.625rem;
  padding: 0;
}
.join .login-box .id, .join .login-box .password {
  margin-bottom: 1.25rem;
}
.join .login-box .id span, .join .login-box .password span {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.938rem;
  color: var(--color-gray);
}
.join .login-box .btn-login, .join .login-box .btn-join {
  width: 100%;
  height: 3.375rem;
}
.join .login-box .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0 1.875rem;
}
.join .login-box .find button {
  display: inline-block;
  font-size: 0.938rem;
  color: var(--color-desc);
}
.join .login-box .find button:first-of-type {
  position: relative;
  margin-right: 1.25rem;
}
.join .login-box .find button:first-of-type::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 0.938rem;
  top: 0;
  right: -0.813rem;
  background: #E5E5E5;
}
.join .top-tit {
  margin-bottom: 3.125rem;
  font-size: 1.875rem;
  font-weight: 700;
  text-align: center;
}

.membership-type {
  display: flex;
  gap: 1.25rem;
}
.membership-type > div {
  width: 100%;
  padding: 2.5rem 1.875rem;
  text-align: center;
  border-radius: 0.625rem;
  background: var(--color-bg-sky);
}
.membership-type > div img {
  width: 5.625rem;
  margin: 0 auto;
}
.membership-type > div b {
  display: block;
  margin: 1.375rem 0 0.5rem;
  font-size: 1.25rem;
  font-weight: 500;
}
.membership-type > div p {
  margin-bottom: 1.625rem;
  font-size: 0.938rem;
  color: var(--color-desc);
}
.membership-type > div .btn {
  width: 7.5rem;
}

.terms .all-chk {
  display: block;
  max-height: initial;
  margin-bottom: 2.5rem;
  padding: 1.25rem;
  text-align: center;
  border-radius: 0.625rem;
  background: var(--color-bg-sky);
}
.terms .all-chk span {
  width: auto;
}

.terms-essential {
  position: relative;
  padding-left: 3.125rem !important;
}
.terms-essential::before {
  content: "[필수]";
  position: absolute;
  top: 0;
  left: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-primary);
}

.terms-txt {
  height: 18.75rem;
  padding: 1.125rem;
  border: 1px solid var(--color-border);
  border-radius: 0.625rem;
  font-size: 0.938rem;
  line-height: 1.6;
  color: var(--color-gray);
  background: #fff;
  overflow-y: auto;
}
.terms-txt .tit1 {
  margin-bottom: 0.75rem;
}
.terms-txt dl:not(:last-child) {
  margin-bottom: 1.625rem;
}
.terms-txt dt {
  margin-bottom: 0.375rem;
}
.terms-txt dd:not(:last-of-type) {
  margin-bottom: 0.75rem;
}
.terms-txt p:not(:first-child) {
  margin-top: 0.625rem;
}
.terms-txt p:not(:last-child) {
  margin-bottom: 0.25rem;
}
.terms-txt .list2, .terms-txt .list3 {
  padding-left: 0.625rem;
}
.terms-txt ul li:not(:last-of-type) {
  padding-bottom: 0.25rem;
}
.terms-txt a {
  text-decoration: underline;
  color: #2E66E9;
}
.terms-txt table {
  width: 100%;
  margin-top: 1rem;
}
.terms-txt table.center td {
  text-align: center !important;
}
.terms-txt table tr {
  border-bottom: 1px solid var(--color-border);
}
.terms-txt table tr:first-of-type {
  border-top: 1px solid var(--color-border);
}
.terms-txt table th, .terms-txt table td {
  padding: 0.375rem 0.625rem;
  vertical-align: middle;
}
.terms-txt table th:not(:last-of-type), .terms-txt table td:not(:last-of-type) {
  border-right: 1px solid var(--color-border);
}
.terms-txt table th.border-r, .terms-txt table td.border-r {
  border-right: 1px solid var(--color-border);
}
.terms-txt table th b, .terms-txt table td b {
  font-weight: 500;
}
.terms-txt table th {
  text-align: center;
  font-weight: 500;
  background: var(--color-bg-sky);
}
.terms-txt table td.center {
  text-align: center;
}
.terms-txt table td img {
  display: block;
  max-width: 23.75rem;
  margin: 0.625rem auto;
}

.terms-item:not(:last-of-type) {
  margin-bottom: 3.125rem;
}
.terms-item .chk-item {
  margin-bottom: 0.75rem;
}
.terms-item .chk-item span {
  width: calc(100% - 1.375rem);
}

.join-complete {
  padding: 3.125rem 1.25rem;
  text-align: center;
}
.join-complete img {
  margin: 0 auto;
}
.join-complete .bold {
  margin: 1rem 0 0.75rem;
  font-size: 1.25rem;
}
.join-complete p {
  color: var(--color-desc);
}

.btn__filter-hide, .btn__filter-show {
  min-width: 8.813rem;
}

.search {
  margin-bottom: 1.25rem;
}
.search input[type=text], .search select {
  border: 1px solid transparent;
}
.search input[type=text]:disabled, .search input[type=text]:read-only {
  opacity: 0.7;
  background: #fff;
}
.search select:disabled:not(select), .search select:read-only:not(select) {
  opacity: 0.7;
  background: url(/images/common/select_arrow_ico.svg) calc(100% - 0.75rem) 50%/0.875rem 0.875rem no-repeat, #fff;
}
.search .btn-reset, .search .btn-all {
  min-width: 6.938rem;
}
.search.type1 {
  display: flex;
  gap: 0.625rem;
}
.search.type1 > div {
  display: flex;
  gap: 0.625rem;
  width: 100%;
}
.search.type1 > div select {
  max-width: 20rem;
}
.search.type1 .btn:first-of-type {
  margin-left: auto;
}
.search.type2 {
  display: flex;
  gap: 0.625rem;
}
.search.type2 > div {
  display: flex;
  gap: 0.625rem;
  width: 100%;
}
.search.type2 > .btn {
  min-width: 8rem;
}
.search.type2 .chk-list, .search.type2 .radio-list {
  flex-wrap: nowrap;
  align-items: center;
  padding: 0.625rem 1.25rem;
  border-radius: 0.5rem;
  background: #fff;
}
.search.type2 .chk-list span, .search.type2 .radio-list span {
  white-space: nowrap;
  word-break: keep-all;
}
.search.type2 input[type=text] {
  max-width: 100%;
}
.search.type3 {
  display: flex;
  gap: 0.625rem;
}
.search.type3 > div {
  display: flex;
  gap: 0.625rem;
  width: 100%;
}
.search.type3 > div select {
  max-width: 20rem;
}
.search .search-bottom {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.625rem;
}
.search .search-bottom button {
  height: 2.25rem;
  padding: 0.625rem 1rem;
  font-size: 0.875rem;
}

.search-filter {
  display: none;
  padding: 1.25rem;
  margin-bottom: 1.25rem;
  border-radius: 0.625rem;
  background: #fff;
}
.search-filter .input-area .label {
  min-height: 3.625rem;
  font-weight: 500;
  background: var(--color-bg-sky);
  color: var(--color-gray);
}
.search-filter .input-area input[type=text], .search-filter .input-area select {
  height: 2.375rem !important;
  padding: 0 0.75rem;
  border-radius: 0.375rem;
}
.search-filter .input-area input[type=text]::placeholder, .search-filter .input-area select::placeholder {
  font-size: 14px;
}
.search-filter .input-list {
  width: 50%;
}
.search-filter.hide {
  display: none;
}
.search-filter.show {
  display: block;
}
.search-filter .date-box::before {
  width: 2.375rem;
  height: 2.375rem;
  background: url(/images/common/calendar_ico.svg) center/cover no-repeat;
}
.search-filter .chk-list, .search-filter .radio-list {
  margin: 0 !important;
}

.btn__filter-hide {
  display: none;
}

.bottom-btn__area {
  display: flex;
  flex-wrap: wrap;
  gap: 0.313rem;
  margin: -0.625rem 0 1.25rem;
  font-size: 0;
}
.bottom-btn__area.btw {
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}
.bottom-btn__area.btw > div {
  display: flex;
  flex-wrap: wrap;
  gap: 0.313rem;
}
.bottom-btn__area.btw .search-btn__area {
  flex-wrap: nowrap !important;
}
.bottom-btn__area .btn {
  height: 2.125rem;
  margin: 0 !important;
  padding: 0 1.125rem;
  font-size: 0.875rem;
}
.bottom-btn__area .btn:not(:last-of-type) {
  margin-right: 0.313rem;
}

.search-chk {
  display: block;
  max-width: 11.25rem;
  margin: -0.5rem 0 1.25rem;
}

table {
  width: 100%;
}
table th, table td {
  vertical-align: middle;
}
table th .chk-item, table th .radio-item, table td .chk-item, table td .radio-item {
  vertical-align: middle;
}
table th {
  font-size: 0.875rem;
  font-weight: 500;
  background: var(--color-bg-sky);
  color: var(--color-gray);
}
table td.center {
  text-align: center !important;
}
table td .btn {
  min-width: 4.375rem;
  height: 2.25rem;
  margin: -0.5rem 0;
  padding: 0.625rem 1rem;
  font-size: 0.875rem;
}
table td .btn img {
  margin: 0 0.25rem -0.125rem 0;
}
table td .more-wrap {
  position: relative;
}
table td .more-wrap .btn-more {
  width: 2rem;
  height: 2rem;
  margin: -0.375rem 0;
  background: url(/images/common/table_more_ico.svg) center/18px 18px no-repeat;
}
table td .more-wrap .btn-list {
  position: absolute;
  display: none;
  padding: 0.375rem;
  top: 1.625rem;
  right: 0;
  border: 1px solid var(--color-border);
  border-radius: 0.625rem;
  background: #fff;
  z-index: 9;
}
table td .more-wrap .btn-list button {
  display: block;
  min-width: 8.75rem;
  padding: 0.875rem;
  font-size: 0.938rem;
  font-weight: 500;
  border-radius: 0.5rem;
  text-align: left;
  color: var(--color-sub);
}
table td .more-wrap .btn-list button img {
  width: 0.938rem;
  margin: 0 0.625rem -0.125rem 0;
}

.table-container.type1 table tbody tr {
  border-bottom: 1px solid var(--color-border);
}
.table-container.type1 table th, .table-container.type1 table td {
  text-align: center;
}
.table-container.type1 table th:first-of-type, .table-container.type1 table td:first-of-type {
  padding-left: 1.25rem;
}
.table-container.type1 table th:last-of-type, .table-container.type1 table td:last-of-type {
  padding-right: 1.25rem;
}
.table-container.type1 table th {
  white-space: nowrap;
  padding: 0.938rem 0.625rem;
}
.table-container.type1 table th:first-of-type {
  border-radius: 0.5rem 0 0 0.5rem;
}
.table-container.type1 table th:last-of-type {
  border-radius: 0 0.5rem 0.5rem 0;
}
.table-container.type1 table td {
  padding: 1.25rem 0.625rem;
}
.table-container.type1 table td.abs-r, .table-container.type1 table td.abs-l {
  line-height: 1;
}
.table-container.type1 table td.tit {
  text-align: left !important;
  white-space: normal;
}
.table-container.type1 table td.tit > span {
  overflow: hidden;
  display: -webkit-box;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.table-container.type1 table td.ellipsis {
  white-space: normal;
}
.table-container.type1 table td.ellipsis span {
  overflow: hidden;
  display: -webkit-box;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.table-container.type1 table td.new > span {
  position: relative;
  padding-left: 1.375rem;
}
.table-container.type1 table td.new > span::before {
  content: "N";
  position: absolute;
  width: 0.938rem;
  height: 0.938rem;
  top: 0.125rem;
  left: 0;
  text-align: center;
  line-height: 0.938rem;
  font-size: 0.688rem;
  font-weight: 500;
  border-radius: 0.188rem;
  color: #fff;
  background: var(--color-red);
}
.table-container.type1 table td.button {
  white-space: nowrap;
}
.table-container.type1 table td.report {
  text-align: left;
  word-break: break-all;
}
.table-container.type1 table td.thumbnail-img img {
  width: 120px;
}
.table-container.type1 table td .board-tag {
  padding: 0.25rem 0.5rem;
  font-size: 0.813rem;
}
.table-container.type1 table td .board-tag:last-of-type {
  margin-right: 0.25rem;
}
.table-container.type1 table td .small {
  display: block;
  font-size: 14px;
  color: var(--color-gray);
}
.table-container.type1 table td input[type=text], .table-container.type1 table td select {
  height: 2.25rem;
  margin: -0.5rem 0;
  padding: 0 0.625rem;
  font-size: 0.875rem;
}
.table-container.type1 table td select {
  width: 7.5rem;
}
.table-container.type1 table td button:not(:last-of-type) {
  margin-right: 0.188rem;
}
.table-container.type1 table td > img {
  display: inline-block;
  vertical-align: middle;
}
.table-container.type1 table td .user-info {
  text-align: left;
}
.table-container.type1 table td .user-info p:first-of-type {
  font-weight: 500;
}
.table-container.type1 table td .user-info p:last-of-type {
  margin: 2px 0 0;
  font-size: 0.875rem;
  color: var(--color-gray);
}
.table-container.type2 {
  border-top: 1px solid var(--color-border-top);
}
.table-container.type2 tr {
  border-bottom: 1px solid var(--color-border);
}
.table-container.type2 th:not(:last-of-type), .table-container.type2 td:not(:last-of-type) {
  border-right: 1px solid var(--color-border);
}
.table-container.type2 th {
  padding: 0.625rem;
}
.table-container.type2 td {
  padding: 1.125rem;
  background: #fff;
}
.table-container.type2.table-scroll {
  overflow-x: auto;
}
.table-container.type2.table-scroll table {
  min-width: 1000px;
}
.table-container.type2.table-scroll table tr {
  position: relative;
}
.table-container.type2.table-scroll table .fixed {
  position: sticky;
  left: 0;
  border-right: 0;
  border-bottom: 0;
  z-index: 1;
}
.table-container.type2.table-scroll table .fixed::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  right: 0;
  background: #EBEBEB;
}
.table-container.fixed {
  overflow-x: initial;
}
.table-container .empty {
  padding: 0 !important;
}
.table-container .empty td {
  width: 100% !important;
  padding: 3.75rem 0 !important;
  text-align: center !important;
}
.table-container .empty td:hover {
  cursor: initial !important;
}

.empty {
  padding: 3.75rem 0;
  text-align: center;
}
.empty img {
  width: 3.125rem;
  margin: 0 auto 0.75rem;
}
.empty p {
  font-weight: 500;
  color: var(--color-disabled);
}

caption {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.tag {
  position: relative;
  padding-left: 10px;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 700;
}
.tag::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  top: 6px;
  left: 0;
  border-radius: 5px;
}
.tag.blue {
  color: var(--color-primary);
}
.tag.blue::before {
  background: var(--color-primary);
}
.tag.green {
  color: var(--color-green);
}
.tag.green::before {
  background: var(--color-green);
}
.tag.red {
  color: var(--color-red);
}
.tag.red::before {
  background: var(--color-red);
}
.tag.yellow {
  color: var(--color-yellow);
}
.tag.yellow::before {
  background: var(--color-yellow);
}
.tag.purple {
  color: var(--color-purple);
}
.tag.purple::before {
  background: var(--color-purple);
}
.tag.gray {
  color: var(--color-gray);
}
.tag.gray::before {
  background: var(--color-gray);
}

.table-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
}
.table-top .btn-area {
  gap: 0.313rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: auto;
  margin: -0.375rem 0;
}
.table-top .btn-area .btn {
  margin: 0;
}
.table-top .btn {
  min-width: auto;
  height: 2.125rem;
  margin: -0.375rem 0;
  padding: 9px 1.125rem;
  font-size: 0.875rem;
}
.table-top .btn img {
  display: inline-block;
  width: 0.875rem;
  margin: 0 0.375rem -0.125rem 0;
}
.table-top .total {
  padding-bottom: 0;
}

.total {
  padding-bottom: 1rem;
  line-height: 1rem;
}

.total-box {
  display: inline-block;
  font-size: 0.938rem;
  font-weight: 500;
  color: var(--color-desc);
}
.total-box:not(:last-of-type) {
  margin-right: 10px;
}
.total-box b {
  display: inline-block;
  margin-left: 2px;
  padding: 0.188rem 0.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  border-radius: 20px;
  background: #dee5ff;
  color: var(--color-primary);
}

.pagination {
  margin: 1.875rem 0 0;
  line-height: 0;
}
.pagination ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.125rem;
}
.pagination li.on button {
  font-weight: 500;
  background: #ECF1FF;
  color: var(--color-primary);
}
.pagination button {
  min-width: 1.875rem;
  height: 1.875rem;
  padding: 0 0.5rem;
  font-size: 1rem;
  border-radius: 0.375rem;
  color: var(--color-gray);
}
.pagination button.start, .pagination button.prev, .pagination button.next, .pagination button.end {
  width: 1.875rem;
  padding: 0;
}
.pagination button img {
  width: 100%;
}

.terms-box.center {
  text-align: center;
}
.terms-box .txt-box {
  margin-bottom: 1.125rem;
}

.cont-tit {
  display: inline-block;
  margin-bottom: 0.75rem;
  font-size: 1.375rem;
  font-weight: 500;
  vertical-align: middle;
}
.cont-tit .more-btn {
  display: inline-block;
  width: 1.625rem;
  height: 1.625rem;
  margin: -0.25rem 0 0 0.125rem;
  padding: 0.125rem;
  vertical-align: middle;
}
.cont-tit .more-btn img {
  width: 100%;
}

.current-state {
  margin-bottom: 3.125rem;
}
.current-state .cont {
  display: flex;
  gap: 1.25rem;
}
.current-state .box {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: #fff;
}
.current-state .box.color {
  border: 1px solid var(--color-primary);
  background: #F2F5FE;
}
.current-state .box h4 {
  font-weight: 500;
  color: #6F7A91;
}
.current-state .box p {
  padding: 10% 0;
  text-align: center;
  font-size: 2.813rem;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0 1.25rem;
  margin: -1rem 0;
  justify-content: space-between;
  background: url(/images/common/dot.svg) center repeat-y;
}
.post-list li {
  width: calc(48.5% - 0.625rem);
}
.post-list li:not(:nth-of-type(-n+2)) {
  border-top: 1px solid var(--color-border);
}
.post-list a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.625rem;
  padding: 1.25rem 0.625rem;
}
.post-list .tit {
  display: flex;
  gap: 0.5rem;
  line-height: 1;
}
.post-list .tit .category {
  font-weight: 500;
  color: var(--color-gray);
}
.post-list .tit .tit-txt {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.post-list .state {
  display: inline-block;
  padding: 0.25rem 0.625rem;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 0.313rem;
  line-height: 1;
}
.post-list .state.blue {
  background: #ECF1FF;
  color: var(--color-primary);
}
.post-list .state.green {
  background: #E4F6F3;
  color: var(--color-green);
}
.post-list .state.yellow {
  background: #FFF3E6;
  color: var(--color-yellow);
}
.post-list .state.purple {
  background: #f0eaff;
  color: var(--color-purple);
}
.post-list .state.red {
  background: #FFECEC;
  color: var(--color-red);
}
.post-list .state.gray {
  background: #EFF1F5;
  color: var(--color-gray);
}

.post-info {
  padding-top: 0.625rem;
  font-size: 0.875rem;
  line-height: 1;
  color: var(--color-disabled);
}
.post-info .user {
  position: relative;
  padding-right: 1.25rem;
}
.post-info .user::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 0.875rem;
  top: 0;
  right: 0.625rem;
  background: var(--color-border);
}

.board-detail {
  padding: 1rem 6.25rem 0;
}

.board-top {
  padding: 0 0 1.625rem;
  text-align: center;
  border-bottom: 1px solid var(--color-border);
}
.board-top .board-tag {
  margin-bottom: 0.875rem;
}
.board-top .board-tit b {
  display: block;
  padding: 0 0 1rem;
  font-size: 1.438rem;
  font-weight: 600;
  word-break: break-all;
}
.board-top .board-date {
  position: relative;
  padding-left: 1.25rem;
  font-size: 0.938rem;
  font-weight: 300;
  color: var(--color-disabled);
}
.board-top .board-date::before {
  content: "";
  position: absolute;
  width: 0.875rem;
  height: 0.875rem;
  top: 0.125rem;
  left: 0;
  background: url(/images/common/board_date_ico.svg) center/cover no-repeat;
}

.board-body {
  padding: 2.5rem 0;
  border-bottom: 1px dashed var(--color-border);
  word-break: break-all;
}
.board-body .video-wrap {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}
.board-body .video-wrap iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.board-body .div_filenames {
  margin-top: 1.25rem;
}

.comment {
  padding-top: 1.625rem;
}
.comment h3 {
  font-size: 1.125rem;
  font-weight: 500;
}
.comment .chk-list {
  margin: 0.875rem 0 0.75rem;
}
.comment textarea {
  min-height: 10rem;
  border-radius: 0.5rem 0.5rem 0 0;
  border-bottom: 0;
}
.comment .field {
  font-size: 0;
}
.comment .field-bottom {
  padding: 0.625rem;
  text-align: right;
  border: 1px solid var(--color-border);
  border-top: 0;
  border-radius: 0 0 0.5rem 0.5rem;
}

.thumbnail-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem 1.25rem;
}

.thumbnail-item {
  position: relative;
  width: calc(25% - 0.938rem);
  cursor: pointer;
}
.thumbnail-item .chk-item {
  position: absolute;
  top: 0.625rem;
  left: 0.625rem;
  z-index: 1;
}
.thumbnail-item .num {
  margin: 0.75rem 0 0.375rem;
  font-size: 0.875rem;
  color: var(--color-gray);
}
.thumbnail-item .tit {
  font-weight: 500;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.thumbnail-item .tit.new {
  position: relative;
  padding-left: 1.25rem;
}
.thumbnail-item .tit.new::before {
  content: "N";
  position: absolute;
  width: 0.938rem;
  height: 0.938rem;
  top: 0.125rem;
  left: 0;
  text-align: center;
  line-height: 0.938rem;
  font-size: 0.688rem;
  font-weight: 500;
  border-radius: 0.188rem;
  color: #fff;
  background: var(--color-red);
}
.thumbnail-item .thumbnail-img {
  position: relative;
  padding-top: 63.888%;
  border-radius: 0.5rem;
  overflow: hidden;
}
.thumbnail-item .thumbnail-img img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.file-upload {
  padding: 1.875rem 1.25rem 1.625rem;
  text-align: center;
  border: 1px dashed #B9BBC4;
  border-radius: 0.5rem;
  background: #F9FBFC;
}
.file-upload img {
  width: 3.75rem;
  margin: 0 auto;
}
.file-upload b {
  display: block;
  margin-top: 0.75rem;
  font-weight: 500;
  color: #444444;
}
.file-upload p {
  margin: 0.375rem 0 1.25rem;
  font-size: 0.875rem;
  color: #777777;
}
.file-upload .file-btn {
  display: inline-block;
}
.file-upload .file-btn input {
  display: none;
}

.input-file {
  padding: 1.875rem 1.25rem 1.625rem;
  text-align: center;
  border: 1px dashed #B9BBC4;
  border-radius: 0.5rem;
  background: #F9FBFC;
}
.input-file img {
  width: 3.75rem;
  margin: 0 auto;
}
.input-file b {
  display: block;
  margin-top: 0.75rem;
  font-weight: 500;
  color: #444444;
}
.input-file p {
  margin: 0.375rem 0 1.25rem;
  font-size: 0.875rem;
  color: #777777;
}
.input-file .file-btn {
  display: inline-block;
}
.input-file .file-btn input {
  display: none;
}

.upload-list li, .file-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.75rem 1rem;
  line-height: 1;
  text-align: left;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  border-radius: 0.5rem;
  background: var(--color-bg-sky);
  color: var(--color-gray);
  transition: color ease 0.2s;
}
.upload-list li:not(:last-of-type), .file-list li:not(:last-of-type) {
  margin-bottom: 0.375rem;
}
.upload-list li span, .upload-list li a, .file-list li span, .file-list li a {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.upload-list li:first-of-type {
  margin-top: 0.875rem;
}

.file-list li a {
  position: relative;
}
.file-list li a::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  background: url(/images/common/file_download_ico.svg) center/cover no-repeat;
}

.step {
  display: flex;
  margin: 0 0.313rem 3.75rem 0.313rem;
}
.step li {
  width: 100%;
  text-align: center;
}
.step li b {
  position: relative;
  display: block;
  padding-bottom: 0.625rem;
  border-bottom: 1px dashed var(--color-primary);
  font-weight: 400;
  line-height: 1;
  color: var(--color-desc);
}
.step li b::after {
  content: "";
  position: absolute;
  width: 0.563rem;
  height: 0.563rem;
  right: -0.313rem;
  bottom: -0.375rem;
  border: 1px solid var(--color-primary);
  border-radius: 0.625rem;
  background: #fff;
  z-index: 1;
}
.step li:first-of-type b::before {
  content: "";
  position: absolute;
  width: 0.563rem;
  height: 0.563rem;
  left: -0.313rem;
  bottom: -0.375rem;
  border: 1px solid var(--color-primary);
  border-radius: 0.625rem;
  background: #fff;
  z-index: 1;
}
.step li p {
  padding-top: 0.625rem;
}
.step li p span {
  display: block;
  font-size: 0.875rem;
  color: var(--color-desc);
}
.step li.on b {
  border-bottom: 1px solid var(--color-primary);
  font-weight: 700;
  color: var(--color-primary);
}
.step li.on b::after {
  border: 1px solid transparent;
  background: var(--color-primary);
}
.step li.on ~ li b {
  border-bottom: 1px dashed #B9BBC4;
}
.step li.on ~ li b::after {
  border: 1px solid #B9BBC4;
}
.step li.on ~ li p {
  display: none;
}
.step.join-step li b {
  font-size: 0.938rem;
  font-weight: 400;
}
.step.join-step li p {
  display: block !important;
  font-size: 0.938rem;
  color: var(--color-desc);
}
.step.join-step li.on p {
  font-weight: 700;
  color: var(--color-primary);
}
.step.join-step li.on b {
  font-weight: 500;
}

.tab-btn {
  display: flex;
  gap: 0.625rem;
  margin-bottom: 1.875rem;
}
.tab-btn li {
  width: 100%;
  text-align: center;
}
.tab-btn li a {
  display: block;
  padding: 0.875rem 0;
  border-radius: 0.375rem;
  font-size: 0.938rem;
  line-height: 1;
  border: 1px solid transparent;
  background: var(--color-bg-sky);
  color: var(--color-gray);
}
.tab-btn li.on a {
  border: 1px solid var(--color-primary);
  font-weight: 500;
  background: #fff;
  color: var(--color-primary);
}

.tab-item {
  display: none;
}
.tab-item:first-of-type {
  display: block;
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 9999;
  transition: visibility ease 0.3s, opacity ease 0.3s;
}
.modal.fade {
  visibility: hidden;
  opacity: 0;
}
.modal.fade .modal-container {
  transform: translate(-50%, -45%);
}

.modal-container {
  position: absolute;
  width: 34.375rem;
  max-height: 90vh;
  padding: 2rem 1.875rem 1.25rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.625rem;
  background: #fff;
  overflow-y: auto;
  transition: transform ease 0.3s;
}
.modal-container .input-area:not(:last-of-type) {
  margin-bottom: 2.5rem;
}
.modal-container .input-area:not(.txt-only) {
  padding-top: 1.5rem;
}
.modal-container .input-area:not(.txt-only) .input-list {
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0 !important;
  border: 0;
}
.modal-container .input-area:not(.txt-only) .input-list:not(:last-of-type) {
  margin-bottom: 1.375rem;
}
.modal-container .input-area:not(.txt-only) .label {
  width: 100%;
  padding: 0;
  color: var(--color-gray);
}
.modal-container .input-area:not(.txt-only) .input-box {
  width: 100%;
  padding: 0;
}
.modal-container .input-area:not(.txt-only) .input-box input {
  max-width: 100%;
}
.modal-container .input-area.txt-only {
  display: block;
}
.modal-container .input-area.txt-only .input-list {
  width: 100%;
}
.modal-container .input-area.txt-only .input-list {
  width: 100%;
}
.modal-container .input-area.txt-only .label {
  width: 7.5rem;
}
.modal-container .input-area.txt-only .input-box {
  width: calc(100% - 7.5rem);
}
.modal-container.txt-only {
  max-width: 28.75rem;
  text-align: center;
}
.modal-container.txt-only b {
  display: block;
  margin-bottom: 0.875rem;
  font-size: 1.375rem;
  font-weight: 600;
  color: var(--color-primary);
}
.modal-container.txt-only span {
  font-weight: 500;
}
.modal-container.txt-only span.blue {
  color: var(--color-primary);
}
.modal-container.wide {
  max-width: 800px;
  width: 100%;
}
.modal-container.none-tit {
  padding-top: 70px;
}

.modal-close {
  position: absolute;
  width: 2.125rem;
  height: 2.125rem;
  top: 1rem;
  right: 1rem;
  z-index: 1;
}

.modal-top .tit-area__desc {
  padding: 0;
}

.modal-bottom {
  position: sticky;
  display: flex;
  justify-content: flex-end;
  gap: 0.625rem;
  width: calc(100% + 3.75rem);
  margin: 2.25rem -1.875rem -1.25rem;
  padding: 1rem 1.875rem 1.125rem;
  bottom: -1.188rem;
  left: -1.875rem;
  border-top: 1px solid var(--color-border);
  background: #fff;
  z-index: 9;
}
.modal-bottom .btn.gray {
  background: 0;
}

.accordion li:not(:last-of-type) {
  margin-bottom: 0.625rem;
}
.accordion li.on .accordion-tit {
  border-radius: 0.625rem 0.625rem 0 0;
  background: #3F61D8;
}
.accordion li.on .accordion-tit::before {
  color: #fff;
}
.accordion li.on .accordion-tit::after {
  background: url(/images/common/accordion_arrow_up_ico.svg) center/cover no-repeat;
}
.accordion li.on .accordion-tit p {
  color: #fff;
}
.accordion li.on .accordion-cont {
  border: 1px solid #3F61D8;
}

.accordion-tit {
  position: relative;
  border-radius: 0.625rem;
  background: #fff;
  cursor: pointer;
}
.accordion-tit::before {
  content: "Q";
  position: absolute;
  top: 1.438rem;
  left: 1.75rem;
  font-size: 1.063rem;
  font-weight: 700;
  color: var(--color-primary);
}
.accordion-tit::after {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: 1.375rem;
  right: 1.75rem;
  background: url(/images/common/accordion_arrow_down_ico.svg) center/cover no-repeat;
}
.accordion-tit p {
  padding: 1.5rem 3.625rem;
  font-size: 1.063rem;
  font-weight: 500;
  word-break: break-all;
}

.accordion-cont {
  display: none;
  padding: 1.75rem 1.75rem 1.75rem 3.625rem;
  line-height: 1.6;
  font-family: "Pretendard", "Noto Sans KR", sans-serif !important;
  letter-spacing: -0.5pt !important;
  border: 1px solid transparent;
  border-radius: 0 0 0.625rem 0.625rem;
  background: #fff;
  word-break: break-all;
}
.accordion-cont > div {
  position: relative;
}
.accordion-cont > div::before {
  content: "A";
  position: absolute;
  top: 0;
  left: -1.875rem;
  font-size: 1.063rem;
  font-weight: 700;
  color: var(--color-primary);
}
.accordion-cont p, .accordion-cont span {
  font-family: "Pretendard", "Noto Sans KR", sans-serif !important;
  font-size: 1rem !important;
  letter-spacing: -0.5pt !important;
}

.list-wrap {
  overflow-x: auto;
}

.code-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.code-item {
  position: relative;
  width: calc(20% - 1rem);
}
.code-item a {
  display: block;
  padding: 1.125rem 1.375rem;
  border-radius: 0.5rem;
  background: #fff;
}
.code-item .chk-item {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 99;
}
.code-item span {
  color: var(--color-disabled);
}
.code-item b {
  display: block;
  margin-top: 1.625rem;
  font-size: 1.25rem;
  font-weight: 500;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.code-item p {
  margin-top: 0.375rem;
  font-size: 0.938rem;
  letter-spacing: 0;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--color-gray);
}

.code-form .list-head {
  display: flex;
  flex-wrap: nowrap;
  gap: 1.25rem;
  min-width: 1200px;
  padding: 0 1.125rem;
}
.code-form .list-head > li {
  font-size: 0.875rem;
  font-weight: 500;
  padding-bottom: 0.75rem;
  color: var(--color-gray);
}
.code-form .list-body {
  min-width: 1200px;
}
.code-form .list-body > li {
  padding: 1.125rem;
  border-radius: 0.5rem;
  background: #fff;
}
.code-form .list-body > li:not(:last-of-type) {
  margin-bottom: 0.625rem;
}
.code-form .data-group {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.code-form .data-group:not(:first-of-type) {
  position: relative;
  margin-top: 1.25rem;
  padding: 1.25rem 0 0 1.25rem;
  border-top: 1px dashed var(--color-border);
}
.code-form .data-group:not(:first-of-type)::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  top: 1.375rem;
  left: 0.375rem;
  border-bottom: 1px solid var(--color-border-top);
  border-left: 1px solid var(--color-border-top);
}
.code-form .data-group input[type=text], .code-form .data-group input[type=number], .code-form .data-group select {
  height: 2.25rem;
  padding: 0 0.625rem;
  font-size: 0.875rem;
}
.code-form .data-group input[type=text]::placeholder, .code-form .data-group input[type=number]::placeholder, .code-form .data-group select::placeholder {
  font-size: 0.875rem;
}
.code-form .data-group select {
  max-width: 7.5rem;
}
.code-form .col {
  width: 100%;
  text-align: center;
}
.code-form .col:first-of-type {
  max-width: 2.5rem;
}
.code-form .col .chk-item {
  display: block;
}
.code-form .col .mo {
  display: none;
  padding-bottom: 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--color-gray);
}

.error-page {
  padding: 5rem 0;
  text-align: center;
}
.error-page img {
  width: 4rem;
  margin: 0 auto;
  margin-bottom: 1.625rem;
}
.error-page b {
  display: block;
  margin-bottom: 0.75rem;
  font-size: 1.5rem;
  font-weight: 500;
}
.error-page b span {
  color: var(--color-primary);
}
.error-page p {
  color: var(--color-gray);
}

.error_text {
  margin: -0.625rem 0 1.25rem;
  padding: 0.5rem 0.875rem;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  background: #fff0f0;
  color: var(--color-red);
}

.dashboard-empty {
  padding-top: 2.5rem;
  text-align: center;
}
.dashboard-empty img {
  width: 4.375rem;
  margin: 0 auto;
}
.dashboard-empty p {
  margin-top: 1.25rem;
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--color-desc);
}

.ui-widget.ui-widget-content {
  width: auto;
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
  font-weight: 400;
  letter-spacing: -0.5pt;
  background: #fff;
}
.ui-widget.ui-widget-content th {
  padding: 0.75rem 0;
  font-weight: 500;
  background: 0;
}
.ui-widget.ui-widget-content .ui-widget-header {
  padding: 0.875rem 0.625rem 0 0.625rem;
  border: 0;
  border-radius: 0;
  background: 0;
}

.ui-datepicker-calendar {
  display: block;
  padding: 0 0.625rem 0.625rem 0.625rem;
}

.ui-datepicker-title {
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.8;
}

.ui-datepicker .ui-datepicker-prev {
  left: 0.8rem !important;
  background: url(/images/common/date_arrow_prev.svg) center/cover no-repeat !important;
}

.ui-datepicker .ui-datepicker-next {
  right: 0.8rem !important;
  background: url(/images/common/date_arrow_next.svg) center/cover no-repeat !important;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  position: absolute;
  display: block;
  width: 1.875rem;
  height: 1.875rem;
  top: 0.8rem !important;
  margin: 0 !important;
  font-size: 0;
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
  background: 0;
  cursor: pointer;
}
.ui-datepicker .ui-datepicker-prev:hover, .ui-datepicker .ui-datepicker-next:hover {
  border: 1px solid var(--color-border);
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
  background: 0;
  border: 0;
  left: initial;
  top: initial;
}

.ui-widget.ui-widget-content {
  padding: 0;
  border: 0px;
  border-radius: 0.75rem;
  box-shadow: 0 20px 60px rgba(46, 58, 92, 0.2);
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  margin: 0 auto;
  padding: 0.625rem 0;
  text-align: center;
  border: 0;
  border-radius: 50%;
  background: 0;
  color: var(--color-desc);
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  position: relative;
  font-weight: 500;
  background: #ECF1FF;
  color: var(--color-primary);
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  position: relative;
  font-weight: 500;
  background: var(--color-primary);
  box-shadow: 0 8px 15px #bfccf3;
  color: #fff;
  z-index: 1;
}

.kc-dialog .kc-tableview-cell img {
  display: inline-block !important;
}

.note-modal-content {
  position: fixed;
  width: 34.375rem;
  max-height: 90vh;
  margin: 0;
  padding: 2rem 1.875rem 1.25rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.625rem;
  overflow-y: auto;
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
  font-weight: 400;
  letter-spacing: -0.5pt;
  box-shadow: none;
}

.note-modal-header {
  padding: 0 0 0.875rem;
  border: 0;
  border-bottom: 1px solid var(--color-border-top);
  color: #000;
}
.note-modal-header button.close {
  position: absolute;
  width: 2.125rem;
  height: 2.125rem;
  top: 1rem;
  right: 1rem;
  z-index: 1;
  background: url("/images/common/modal_close_ico.svg") center/cover no-repeat;
  opacity: 1;
}
.note-modal-header button.close i {
  display: none;
}

.note-modal-title {
  font-size: 1.25rem;
  font-weight: 500;
  color: #1D1D1D;
}

.note-modal-backdrop {
  z-index: 9998;
}

.note-modal {
  z-index: 9999 !important;
}
.note-modal .note-modal-body {
  padding: 1.5rem 0 0;
}
.note-modal .note-modal-body label {
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0;
  font-size: 0.938rem;
  font-weight: 500 !important;
  color: var(--color-gray);
}

.note-form-group {
  padding-bottom: 1.375rem;
}

.note-group-image-url input {
  max-width: 100% !important;
}

.note-modal-footer {
  position: sticky;
  display: flex;
  justify-content: flex-end;
  gap: 0.625rem;
  width: calc(100% + 3.75rem);
  height: auto;
  margin: 2.25rem -1.875rem -1.25rem;
  padding: 1rem 1.875rem 1.125rem;
  bottom: -1.188rem;
  left: -1.875rem;
  border-top: 1px solid var(--color-border);
  background: #fff;
  z-index: 9;
}
.note-modal-footer .note-btn {
  display: inline-block;
  min-width: 5.625rem;
  height: 2.875rem;
  padding: 0.938rem 1.25rem;
  border-radius: 0.5rem;
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
  letter-spacing: -0.5pt;
  font-size: 0.938rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid transparent;
  background: var(--color-primary);
  color: #fff;
  opacity: 1;
}

.note-group-select-from-files {
  position: relative;
  padding-top: 1.438rem;
}
.note-group-select-from-files::before {
  content: "파일 선택";
  position: absolute;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0;
  top: 0;
  left: 0;
  font-size: 0.938rem;
  font-weight: 500;
  color: var(--color-gray);
}
.note-group-select-from-files label {
  display: inline-block;
  min-width: 5.625rem;
  height: 2.875rem;
  margin-bottom: 0 !important;
  padding: 0.875rem 0.625rem !important;
  border-radius: 0.5rem;
  font-size: 0.938rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid transparent;
  background: #e3effd;
  color: var(--color-primary);
}
.note-group-select-from-files input {
  display: none;
}

.kogl .top-txt {
  position: relative;
  width: 100%;
  background: #f7f7f7;
  border-top: 1px solid #6c6b6b;
  border-bottom: 1px solid #dbdbdb;
}
.kogl .top-txt p {
  margin: 0;
  padding: 10px 20px;
  border-top: 1px solid #fff;
  line-height: 150%;
  font-size: 14px;
  color: #595959;
}
.kogl .codeview-area {
  position: relative;
  margin-top: 5px;
  vertical-align: top;
}
.kogl .codeview-area h4 {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  width: 188px;
  height: 136px;
}
.kogl .codeview-area h4 img {
  width: 186px;
  height: 135px;
  border-left: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
}
.kogl .codeview-area ul {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 192px;
}
.kogl .codeview-area ul li {
  position: relative;
  margin: 0;
  margin-bottom: 2px;
  padding: 0;
  min-height: 30px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  background: #f7f7f7;
}
.kogl .codeview-area ul li .radio-item {
  display: block;
  position: relative;
  white-space: normal;
  margin: 0;
  padding: 6px 10px 6px 0;
  padding-left: 165px;
  font-size: 12px;
  color: #231f20;
  font-weight: bold;
  line-height: 130%;
  cursor: pointer;
}
.kogl .codeview-area ul li .radio-item input {
  position: absolute;
  left: 10px;
  top: 5px;
  z-index: 10;
}
.kogl .codeview-area ul li .radio-item img {
  position: absolute;
  left: 40px;
  top: 2px;
  vertical-align: middle;
}
.kogl h5 {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 136px;
}
.kogl h5 img {
  width: 186px;
  height: 32px;
  border-left: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
}
.kogl .codeView01, .kogl .codeView02, .kogl .codeView03, .kogl .codeView04, .kogl .codeView05 {
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 5px;
  background: #fff;
  border: 1px solid #dbdbdb;
  font-size: 12px;
  color: #292929;
  font-weight: bold;
}
.kogl .bottom-txt {
  border-top: 1px solid #6c6b6b;
  background: #f7f7f7;
  margin-top: 5px;
  padding: 10px 20px 10px 27px;
}
.kogl .bottom-txt p:first-of-type {
  font-size: 14px;
  color: #0c0c0c;
  margin-bottom: 5px;
  text-indent: -7px;
}
.kogl .bottom-txt p:first-of-type strong {
  color: #dd494e;
  font-weight: bold;
}
.kogl .bottom-txt p:last-of-type {
  font-size: 14px;
  color: #0c0c0c;
  text-indent: -7px;
}
.kogl .bottom-txt p:last-of-type span {
  margin-left: 10px;
}
.kogl .bottom-txt p:last-of-type img {
  display: inline-block;
  width: 12px;
  margin-right: 4px;
}

.board-detail-kogl {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1.25rem 0;
  border-bottom: 1px solid var(--color-border);
}
.board-detail-kogl > img {
  width: auto;
  height: 2.5rem;
}

.board-tag {
  display: inline-block;
  font-size: 0.875rem;
  padding: 0.375rem 0.625rem;
  line-height: 1;
  font-weight: 600;
  border-radius: 20px;
}
.board-tag.blue {
  background: #e3effd;
  color: var(--color-primary);
}
.board-tag.red {
  background: #ffeded;
  color: var(--color-red);
}

.fc .fc-toolbar-title {
  text-align: center;
  font-size: 1.5rem !important;
  font-weight: 600;
}
.fc .fc-col-header {
  width: 100% !important;
}
.fc .fc-col-header-cell-cushion {
  padding: 0.625rem 0.25rem !important;
}
.fc th {
  background: 0;
}
.fc th .fc-scrollgrid-sync-inner {
  margin-bottom: 1rem;
  background: var(--color-bg-sky);
}
.fc .fc-day-sun .fc-scrollgrid-sync-inner {
  border-radius: 0.5rem 0 0 0.5rem;
}
.fc .fc-day-sat .fc-scrollgrid-sync-inner {
  border-radius: 0 0.5rem 0.5rem 0;
}
.fc .fc-scrollgrid table {
  border-top-style: unset !important;
  border-bottom-style: unset !important;
}
.fc .fc-timegrid-axis-cushion,
.fc .fc-timegrid-slot-label-cushion {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--color-gray);
}
.fc .fc-list-empty {
  background: var(--color-bg-sky) !important;
  color: var(--color-gray);
}
.fc .fc-list-event:hover td {
  background: var(--color-bg-gray) !important;
}
.fc .fc-daygrid-body, .fc .fc-scrollgrid-sync-table {
  width: 100% !important;
}
.fc .fc-list-table {
  border-style: unset !important;
}
.fc .fc-list-table .fc-list-day > th {
  background: var(--color-bg-sky) !important;
}
.fc .fc-list-table tbody > tr {
  border-bottom: 1px solid var(--color-border);
}
.fc .fc-list-table tbody > tr:first-of-type {
  border-top: 1px solid var(--color-border);
}

.fc-h-event .fc-event-title {
  font-size: 0.813rem;
}

.fc-daygrid .fc-daygrid-body-natural .fc-daygrid-day-events {
  margin: 0.25rem 0.5rem 0.5rem !important;
}
.fc-daygrid .fc-daygrid-day-number {
  padding: 0.375rem 0.5rem !important;
  font-size: 0.875rem;
  color: var(--color-sub) !important;
}
.fc-daygrid .fc-daygrid-day-frame {
  min-height: 8.313rem !important;
}
.fc-daygrid .fc-daygrid-body tbody > tr {
  border-bottom: 1px solid var(--color-border);
}
.fc-daygrid .fc-daygrid-body tbody > tr:first-of-type {
  border-top: 1px solid var(--color-border);
}
.fc-daygrid .fc-daygrid-body tbody > tr > td:not(:last-of-type) {
  border-right: 1px solid var(--color-border);
}

.fc-timegrid .fc-daygrid-body-natural .fc-daygrid-day-events {
  margin: 0.5rem 0.5rem !important;
}
.fc-timegrid tbody > tr {
  border-bottom: 1px solid var(--color-border);
}
.fc-timegrid tbody > tr:first-of-type {
  border-top: 1px solid var(--color-border);
}
.fc-timegrid tbody > tr > td:not(:last-of-type) {
  border-right: 1px solid var(--color-border);
}

.fc-timeGridDay-view .fc-day-today .fc-scrollgrid-sync-inner {
  border-radius: 0.5rem;
}

.fc-toolbar-chunk:first-of-type {
  min-width: 8.125rem;
}
.fc-toolbar-chunk:first-of-type .btn.active {
  position: relative;
  border: 1px solid var(--color-primary);
  background: var(--color-bg-sky);
  color: var(--color-primary);
  z-index: 1;
}
.fc-toolbar-chunk:nth-of-type(2) > div {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.fc-toolbar-chunk:first-of-type .btn, .fc-toolbar-chunk:last-of-type .btn {
  padding: 0.625rem 0.875rem;
  font-size: 0.875rem;
  border: 1px solid var(--color-border);
  color: var(--color-gray);
}
.fc-toolbar-chunk:last-of-type {
  min-width: 8.125rem;
  text-align: right;
}
.fc-toolbar-chunk:last-of-type .btn-group .btn:first-of-type {
  margin-right: -1px;
  border-radius: 0.5rem 0 0 0.5rem;
}
.fc-toolbar-chunk:last-of-type .btn-group .btn:nth-of-type(2) {
  margin-right: -1px;
  border-radius: 0;
}
.fc-toolbar-chunk:last-of-type .btn-group .btn:last-of-type {
  border-radius: 0 0.5rem 0.5rem 0;
}
.fc-toolbar-chunk:last-of-type .btn-group .btn.active {
  position: relative;
  border: 1px solid var(--color-primary);
  background: var(--color-bg-sky);
  color: var(--color-primary);
  z-index: 1;
}
.fc-toolbar-chunk .btn {
  min-width: unset;
  height: unset;
  padding: unset;
}
.fc-toolbar-chunk .fc-prev-button,
.fc-toolbar-chunk .fc-next-button {
  width: 1.875rem;
  height: 1.875rem;
}
.fc-toolbar-chunk .fc-prev-button {
  background: url(/images/common/calendar_arrow_prev.svg) center/cover no-repeat;
}
.fc-toolbar-chunk .fc-next-button {
  background: url(/images/common/calendar_arrow_next.svg) center/cover no-repeat;
}

.fc-list-event-time {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--color-gray);
}

.fc-direction-ltr .fc-daygrid-block-event:not(.fc-event-start), .fc-direction-rtl .fc-daygrid-block-event:not(.fc-event-end) {
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
  border-left-width: 1px !important;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-start, .fc-direction-rtl .fc-daygrid-event.fc-event-end {
  margin-left: 0 !important;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-end, .fc-direction-rtl .fc-daygrid-event.fc-event-start {
  margin-right: 0 !important;
  box-shadow: none !important;
}

.fc-daygrid-block-event .fc-event-time, .fc-daygrid-block-event .fc-event-title {
  padding: 1px 2px !important;
}

.fc-direction-ltr .fc-daygrid-block-event:not(.fc-event-end), .fc-direction-rtl .fc-daygrid-block-event:not(.fc-event-start) {
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
  border-right-width: 1px !important;
}

.board-tab {
  display: flex;
  flex-wrap: wrap;
  gap: 0.375rem;
  margin-bottom: 1.25rem;
}
.board-tab a {
  display: inline-block;
  padding: 0.375rem 0.875rem;
  line-height: 1;
  font-size: 0.938rem;
  font-weight: 500;
  border: 1px solid #dfdfdf;
  border-radius: 20px;
  background: #fff;
  color: var(--color-gray);
}
.board-tab a.active {
  font-weight: 400;
  border: 1px solid transparent !important;
  background: var(--color-primary);
  color: #fff !important;
}

@media only screen and (max-width: 1420px) {
  html {
    font-size: 15px;
  }
  .main-area, header {
    padding-left: 13.75rem;
  }
  .lnb {
    width: 13.75rem;
  }
  .lnb .user {
    flex-wrap: wrap;
    padding: 0 0 0.5rem 0;
  }
  .lnb .btn-logout {
    width: 100%;
    height: auto;
    padding: 0.875rem 0;
    text-align: center;
    background: 0;
  }
  .lnb .btn-area {
    flex-wrap: wrap;
  }
  .lnb-logo a {
    max-width: 10rem;
  }
  .search.type2 {
    flex-wrap: wrap;
  }
  .search.type2 > div {
    flex-wrap: wrap;
  }
  .search.type2 > div input[type=text], .search.type2 > div .radio-list, .search.type2 > div select {
    width: calc(50% - 0.313rem);
  }
  .search.type2 > .btn {
    margin-left: auto;
  }
  .code-item {
    width: calc(25% - 0.937rem);
  }
}
@media only screen and (max-width: 1280px) {
  .input-area .label {
    width: 8.125rem;
  }
  .input-area .input-box {
    width: calc(100% - 8.125rem);
  }
  .input-area .input-list.wd2 {
    width: 100% !important;
  }
  .board-detail {
    padding: 0.5rem 0;
  }
  .table-container.type1.rel tr {
    position: relative;
    padding: 1rem 0.5rem 0.5rem 3.125rem;
  }
  .table-container.type1 table colgroup {
    display: none;
  }
  .table-container.type1 table thead {
    display: none;
  }
  .table-container.type1 table tbody tr:first-of-type {
    border-top: 1px solid var(--color-border-top);
  }
  .table-container.type1 table tr {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0 0.5rem 0.5rem;
  }
  .table-container.type1 table td {
    order: 3;
    display: inline-block;
    width: 50%;
    padding: 0 0 0.5rem;
    font-size: 0.938rem;
    text-align: left;
    word-break: break-all;
  }
  .table-container.type1 table td:last-of-type {
    padding-right: 0;
  }
  .table-container.type1 table td.abs-r {
    position: absolute;
    width: auto;
    margin: 0;
    padding: 0;
    top: 1rem;
    right: 0.3rem;
  }
  .table-container.type1 table td.wide {
    width: 100%;
  }
  .table-container.type1 table td.border {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed var(--color-border);
  }
  .table-container.type1 table td.txt-hidden {
    position: relative;
    min-height: 1.719rem;
    padding-left: 6.875rem;
  }
  .table-container.type1 table td.txt-hidden::before {
    content: attr(data-before);
    position: absolute;
    width: 6.875rem;
    top: 0;
    left: 0;
    font-size: 0.938rem;
    font-weight: 500;
    color: var(--color-gray);
  }
  .table-container.type1 table td.txt-center::before {
    top: calc(50% - 0.25rem);
    transform: translate(0, -50%);
  }
  .table-container.type1 table td.ellipsis span {
    display: block;
  }
  .table-container.type1 table td.num {
    order: 1;
    display: block;
    width: auto;
    padding: 0 0 0.875rem 1.375rem;
    font-size: 0.875rem;
    color: var(--color-gray);
  }
  .table-container.type1 table td.main-txt {
    order: 2;
    width: 100%;
    padding-bottom: 0.875rem;
    font-size: 1.063rem;
    font-weight: 500;
  }
  .table-container.type1 table td.dashed, .table-container.type1 table td.dashed-hidden {
    margin-bottom: 0.5rem;
    border-bottom: 1px dashed var(--color-border);
  }
  .table-container.type1 table td.button {
    width: 100%;
    padding-top: 0.625rem;
    border-top: 1px dashed var(--color-border);
  }
  .table-container.type1 table td.order1 {
    order: 0;
    display: block;
    width: auto;
    padding: 0;
  }
  .table-container.type1 table td.order1 .chk-item {
    margin: 0 0.625rem 0 0;
  }
  .table-container.type1 table td.order1.pb {
    padding-bottom: 0.5rem;
  }
  .table-container.type1 table td.thumbnail-img {
    width: 100%;
    padding: 0 0 1rem;
  }
  .table-container.type1 table td .btn {
    margin: 0;
  }
  .table-container.type1 table td select {
    margin: 0;
  }
  .table-container.type1 table td .small {
    display: inline-block;
    margin-right: 0.375rem;
    font-size: 1rem;
  }
  .table-container.type1 table td .small.block {
    display: block !important;
    margin: 0.375rem 0 0 0;
  }
  .table-container.type1 table td .user-info p:last-of-type {
    margin-top: 0.375rem;
    font-size: 1rem;
  }
  .table-container table td .more-wrap {
    position: initial;
    padding-top: 0.625rem;
  }
  .table-container table td .more-wrap .btn-more {
    display: none;
  }
  .table-container table td .more-wrap .btn-list {
    position: initial;
    display: block !important;
    padding: 0;
    border: 0;
    font-size: 0;
  }
  .table-container table td .more-wrap .btn-list li {
    display: inline-block;
  }
  .table-container table td .more-wrap .btn-list li:not(:last-of-type) {
    margin-right: 0.313rem;
  }
  .table-container table td .more-wrap .btn-list button {
    min-width: 5rem;
    padding: 10px 0;
    text-align: center;
  }
  .table-container table td .more-wrap .btn-list button img {
    display: none;
  }
  .table-container table td .more-wrap .btn-list button.gray-btn {
    background: #EFF1F5;
    color: var(--color-gray);
  }
  .table-container table td .more-wrap .btn-list button.sky-btn {
    background: #e3effd;
    color: var(--color-primary);
  }
  .table-container table td .more-wrap .btn-list button.red-btn {
    background: #ffe6e6;
    color: var(--color-red);
  }
  .table-container .empty {
    border-top: 1px solid var(--color-border);
  }
  .modal-container.wide {
    width: calc(100% - 20px);
  }
  .thumbnail-item {
    width: calc(50% - 0.625rem);
  }
}
@media only screen and (max-width: 1024px) {
  .inner {
    padding: 0 1.25rem;
  }
  .main-area {
    padding: 0;
  }
  .main-area .inner {
    padding-top: 5.625rem;
  }
  header {
    position: fixed;
    width: 100%;
    padding: 0;
    top: 0;
    left: 0;
    border-bottom: 1px solid var(--color-border);
  }
  .hd-area {
    justify-content: space-between;
  }
  .hd-logo {
    margin: 0;
  }
  .hd-logo, .menu-btn__mo, .lnb .btn-close {
    display: block;
  }
  .txt-size, .lnb .btn-hide {
    display: none;
  }
  .lnb {
    max-width: 18.75rem;
    width: 100%;
    right: 0;
    left: initial;
    transform: translate(100%);
  }
  .lnb-list > li > a span {
    font-size: 15px;
  }
  .hd-home {
    margin: -0.5rem 0.5rem -0.5rem auto;
  }
  .current-state .box p {
    font-size: 1.875rem;
  }
  .join-area {
    padding: 3.75rem 1.875rem 3.125rem !important;
  }
  .terms-table {
    overflow-x: auto;
  }
  .terms-table table {
    min-width: 900px;
  }
  .list-wrap {
    overflow-x: initial;
  }
  .code-item {
    width: calc(33.3333333333% - 0.833rem);
  }
  .code-form .list-head {
    min-width: auto;
    display: none;
  }
  .code-form .list-body {
    min-width: auto;
  }
  .code-form .col {
    max-width: initial !important;
    width: calc(25% - 0.938rem);
    text-align: left;
  }
  .code-form .col .mo {
    display: block;
  }
  .code-form .col:first-of-type {
    max-width: initial;
    width: auto;
  }
  .code-form .col:first-of-type {
    width: 100%;
  }
  .code-form .data-group {
    flex-wrap: wrap;
  }
  .code-form .data-group input[type=text], .code-form .data-group select {
    max-width: 100%;
  }
}
@media only screen and (max-width: 960px) {
  .content-bottom .btn-area {
    position: initial;
    margin-top: 1rem;
    transform: initial;
  }
}
@media only screen and (max-width: 768px) {
  .current-state .box {
    padding: 1rem;
  }
  .post-list {
    background: 0;
  }
  .join .inner {
    padding: 3rem 1.25rem 1.875rem;
  }
  .btn__filter-hide, .btn__filter-show {
    min-width: 2.875rem;
    padding: 0.938rem 0;
  }
  .btn__filter-hide span, .btn__filter-show span {
    display: none;
  }
  .btn__filter-hide img, .btn__filter-show img {
    margin: 0;
  }
  .input-area .input-list {
    width: 100%;
  }
  .input-area.txt-only .input-list {
    width: 100%;
  }
  .input-area .input-box.report > div {
    flex-wrap: wrap;
  }
  .input-area .input-box.report > div .btn {
    max-width: 30.75rem;
    width: 100%;
  }
  .txt-box .bold br {
    display: none;
  }
  .step {
    margin: 0 0.313rem 1.875rem 0.313rem;
  }
  .current-state .cont {
    flex-wrap: wrap;
  }
  .current-state .box {
    width: calc(50% - 0.7rem);
  }
  .post-list {
    margin: -1rem -0.625rem;
  }
  .post-list li {
    width: 100%;
  }
  .post-list li:nth-of-type(2) {
    border-top: 1px solid var(--color-border);
  }
  .code-list {
    gap: 0.625rem;
  }
  .code-item {
    width: calc(50% - 0.32rem);
  }
  .code-item b {
    margin-top: 1rem;
    font-size: 1.125rem;
  }
  .code-form .col {
    width: calc(33.3333333333% - 0.833rem);
  }
  .tab-btn {
    flex-wrap: wrap;
  }
  .tab-btn li {
    width: calc(50% - 0.313rem);
  }
  .kogl .codeview-area h4 {
    position: relative;
  }
  .kogl .codeview-area h4 img {
    border-bottom: 1px solid #dbdbdb;
  }
  .kogl .codeview-area ul {
    margin-top: 5px;
    padding-left: 0;
  }
  .kogl h5 {
    position: relative;
    margin-top: 5px;
    top: 0;
  }
  .fc .fc-toolbar-title {
    font-size: 1.375rem !important;
  }
  .fc .fc-daygrid-day-frame {
    min-height: 5.938rem !important;
  }
  .fc .fc-toolbar {
    flex-wrap: wrap;
  }
  .fc .fc-toolbar .fc-toolbar-chunk:first-of-type {
    order: 2;
    min-width: unset;
  }
  .fc .fc-toolbar .fc-toolbar-chunk:nth-of-type(2) {
    order: 1;
    width: 100%;
  }
  .fc .fc-toolbar .fc-toolbar-chunk:nth-of-type(2) > div {
    justify-content: center;
    padding-bottom: 0.625rem;
  }
  .fc .fc-toolbar .fc-toolbar-chunk:last-of-type {
    order: 3;
    min-width: unset;
  }
  .fc .fc-daygrid-body-natural .fc-daygrid-day-events {
    margin: 2px !important;
  }
  .toggle-list .toggle {
    width: 100%;
  }
  .toggle-list .toggle:nth-of-type(2) {
    margin-top: 0.75rem;
    padding-top: 0.75rem;
    border-top: 1px dashed var(--color-border);
  }
  .thumbnail-wrap {
    gap: 1.875rem 0.625rem;
  }
  .thumbnail-item {
    width: calc(50% - 0.313rem);
  }
  .board-top .board-tag {
    margin-bottom: 0.5rem;
  }
  .board-top .board-tit b {
    padding: 0 0 0.625rem;
    font-size: 1.25rem;
  }
}
@media only screen and (max-width: 580px) {
  .tit-area__desc {
    padding: 0;
  }
  .essential-txt {
    position: relative;
    display: block;
    margin-top: 0.25rem;
    bottom: 0;
  }
  .input-area .input-box input {
    max-width: 100%;
  }
  .input-area .input-box .chk-list, .input-area .input-box .radio-list, .input-area .input-box .select-list {
    margin-bottom: 0 !important;
  }
  .input-area .input-box.address > div:nth-of-type(2) {
    flex-wrap: wrap;
  }
  .input-area .input-box.address > div:last-of-type {
    max-width: 100%;
  }
  .input-area .input-box.preview .btn {
    width: 100%;
  }
  .input-area:not(.input-search, .txt-only) .input-list {
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 1rem 0;
  }
  .input-area:not(.input-search, .txt-only) .label, .input-area:not(.input-search, .txt-only) .input-box {
    width: 100%;
    padding: 0;
  }
  .input-area:not(.input-search, .txt-only) .label {
    font-weight: 500;
    color: var(--color-gray);
  }
  .search.type1:not(.row), .search.type3:not(.row) {
    flex-wrap: wrap;
  }
  .search.type1:not(.row) > div, .search.type3:not(.row) > div {
    flex-wrap: wrap;
    gap: 0;
  }
  .search.type1:not(.row) > div > *, .search.type3:not(.row) > div > * {
    border-radius: 0;
  }
  .search.type1:not(.row) > div > *:first-child, .search.type3:not(.row) > div > *:first-child {
    border-radius: 0.5rem 0.5rem 0 0;
  }
  .search.type1:not(.row) > div > *:last-child, .search.type3:not(.row) > div > *:last-child {
    border-radius: 0 0 0.5rem 0.5rem;
  }
  .search.type1:not(.row) > div > *:not(:last-child), .search.type3:not(.row) > div > *:not(:last-child) {
    border-bottom: 1px dashed var(--color-border);
  }
  .search.type1:not(.row) > div select, .search.type3:not(.row) > div select {
    max-width: 100%;
  }
  .search.type2 > div {
    gap: 0;
  }
  .search.type2 > div .radio-list, .search.type2 > div select, .search.type2 > div input[type=text] {
    width: 100%;
  }
  .search.type2 > div > * {
    border-radius: 0;
  }
  .search.type2 > div > *:first-child {
    border-radius: 0.5rem 0.5rem 0 0;
  }
  .search.type2 > div > *:last-child {
    border-radius: 0 0 0.5rem 0.5rem;
  }
  .search.type2 > div > *:not(:last-child) {
    border-bottom: 1px dashed var(--color-border);
  }
  .btn__filter-hide, .btn__filter-show {
    margin-left: auto;
  }
  .table-container.type1 table td {
    width: 100%;
  }
  .table-container.type1 table td.dashed-hidden {
    margin-bottom: 0;
    border-bottom: 0;
  }
  .table-top {
    flex-wrap: wrap;
    gap: 16px;
  }
  .table-top > .btn {
    width: 100%;
    height: auto;
    padding: 14px 1.125rem;
  }
  .table-top .btn-area {
    order: 1;
    width: 100%;
  }
  .table-top .btn {
    margin: 0;
  }
  .table-top .total {
    order: 2;
    width: 100%;
  }
  .step {
    margin: 0 0 1.875rem;
    padding: 0 0.313rem;
    overflow-x: auto;
  }
  .step li {
    flex-shrink: 0;
    width: 7.5rem;
  }
  .step li b {
    font-size: 0.875rem;
  }
  .membership-type {
    flex-wrap: wrap;
  }
  .membership-type > div img {
    width: 5rem;
  }
  .join-complete img {
    width: 5rem;
  }
  .modal-container, .note-modal-content {
    width: calc(100% - 20px);
  }
  .accordion-tit::before {
    top: 1.125rem;
    left: 1.5rem;
  }
  .accordion-tit::after {
    top: 1.125rem;
    right: 1.5rem;
  }
  .accordion-tit p {
    padding: 1.125rem 3.125rem;
  }
  .accordion-cont {
    padding: 1.25rem 1.25rem 1.25rem 3.125rem;
  }
  .accordion-cont > div::before {
    left: -1.625rem;
  }
  .board-detail-kogl {
    display: block;
    text-align: center;
  }
  .board-detail-kogl > img {
    margin: 0 auto 0.625rem;
  }
}
@media only screen and (max-width: 480px) {
  .content-item {
    padding: 1.25rem;
  }
  .content-item.table-content {
    padding: 1.25rem;
  }
  .content-item .table-container.type1 {
    margin: 0;
  }
  .select-list {
    flex-wrap: wrap;
  }
  .page-tit__wrap {
    margin-bottom: 1.25rem;
  }
  .page-tit__wrap .page-tit {
    font-size: 1.8rem;
  }
  .page-tit__wrap .breadcrumbs {
    margin-bottom: 0.65rem;
  }
  .content-bottom {
    margin-bottom: 0;
  }
  .join-area .input-area .input-box select {
    max-width: 100%;
  }
  .input-area .input-box.date {
    flex-wrap: wrap;
  }
  .input-area .input-box.date div {
    max-width: 100%;
  }
  .input-area .input-box.date input[type=text] {
    max-width: 100%;
    width: 100%;
  }
  .input-area .input-box.report .date {
    flex-wrap: wrap;
  }
  .input-area .input-box.report .date-box {
    max-width: 100%;
  }
  .input-area .input-box select {
    max-width: 100%;
  }
  .input-area.input-search .input-box select {
    max-width: 100%;
  }
  .ui-datepicker {
    width: calc(100vw - 40px);
    left: 50% !important;
    transform: translate(-50%);
  }
  .txt-box .bold {
    font-size: 1.063rem;
  }
  .join .top-logo {
    width: 11.25rem;
  }
  .join .top-tit {
    margin-bottom: 1.875rem;
    font-size: 1.75rem;
  }
  .join .login-box {
    padding: 2.5rem 1.875rem;
  }
  .join-area {
    padding: 2.5rem 1.25rem !important;
  }
  .modal-container, .note-modal-content {
    padding: 2rem 1.625rem 1.625rem;
  }
  .modal-bottom, .note-modal-footer {
    width: calc(100% + 1.625rem + 1.625rem);
    margin: 1rem -1.625rem -1.625rem;
    padding: 1rem 1.625rem 1.125rem;
    bottom: -1.625rem;
  }
  .table-container.type1 table td select {
    width: 100%;
  }
  .table-container.type1 table td.button {
    display: flex !important;
    gap: 0.313rem;
  }
  .table-container.type1 table td.button .btn {
    min-width: initial;
    width: 100%;
  }
  .table-container.type1 table td.thumbnail-img img {
    width: 100%;
  }
  .table-container.type1 table td .user-info p {
    display: block;
  }
  .table-container.type1 table td .user-info p:last-of-type {
    margin: 4px 0 0;
  }
  .table-container.type1 table td .more-wrap .btn-list {
    display: flex !important;
  }
  .table-container.type1 table td .more-wrap .btn-list li {
    width: 100%;
  }
  .table-container.type1 table td .more-wrap .btn-list button {
    width: 100%;
  }
  .sms {
    width: calc(100% - 2.5rem);
  }
  .code-form .col {
    width: calc(50% - 0.625rem);
  }
}
@media only screen and (max-width: 380px) {
  .lnb {
    max-width: 100%;
  }
  .current-state .cont {
    gap: 10px;
  }
  .current-state .box {
    width: calc(50% - 5px);
  }
  .current-state .box h4 {
    font-size: 14px;
  }
  .search.row {
    flex-wrap: wrap;
  }
  .search.row > div {
    width: 100%;
  }
  .search.row .btn-search {
    width: calc(100% - 3.5rem) !important;
  }
  .search.type1 .btn-search {
    width: 100%;
  }
  .search.type2 .chk-list, .search.type2 .radio-list {
    flex-wrap: wrap;
  }
  .search.type2 .btn {
    width: 100%;
  }
  .search.type3 .btn-search {
    width: calc(100% - 3.5rem) !important;
  }
  .input-area.input-search .label {
    min-height: unset;
  }
  .bottom-btn__area {
    gap: 0.625rem;
  }
  .bottom-btn__area > div {
    width: 100%;
  }
  .bottom-btn__area.btw .search-btn__area {
    gap: 0.625rem;
  }
  .bottom-btn__area.btw .search-btn__area .btn {
    height: 2.875rem;
    padding: 0.938rem 0;
  }
  .bottom-btn__area .btn-search {
    width: calc(100% - 3.5rem) !important;
    height: 2.875rem;
    padding: 0.938rem 1.25rem;
    font-size: 0.938rem;
  }
  .table-container.type1.rel tr {
    padding: 2.875rem 0.5rem 0.5rem 0.5rem;
  }
  .table-container.type2.table-scroll colgroup {
    display: none;
  }
  .table-container.type2.table-scroll table .fixed {
    width: 80px !important;
  }
  .input-area.txt-only .input-list {
    display: block;
  }
  .input-area.txt-only .label {
    width: 100% !important;
    padding: 0.625rem 0.875rem;
  }
  .input-area.txt-only .input-box {
    width: 100% !important;
    padding: 1rem 0.875rem;
  }
  .input-area.input-search .input-list {
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 1rem 0;
  }
  .input-area.input-search .label {
    width: 100%;
    padding: 0;
    background: 0;
  }
  .input-area.input-search .input-box {
    width: 100%;
    padding: 0;
  }
  .input-area .input-box .file-list {
    margin: 0 -0.875rem;
  }
  .input-area .input-box.main-cont {
    min-height: initial;
  }
  .input-area .input-box .chk-list, .input-area .input-box .radio-list {
    margin: 0;
  }
  .btn-area .btn {
    min-width: auto;
  }
  .kogl .codeview-area ul li .radio-item {
    padding-left: 40px;
  }
  .kogl .codeview-area ul li .radio-item img {
    position: relative;
    margin-bottom: 6px;
    left: 0;
    top: 0;
  }
}
@media only screen and (max-width: 300px) {
  .code-form .col {
    width: 100%;
  }
}
@media (hover: hover) {
  .btn {
    transition: background-color ease 0.1s, border ease 0.1s;
  }
  .btn.blue:hover {
    background: #355de5;
  }
  .btn.border:hover {
    background: #f2f6ff;
  }
  .btn.red:hover {
    background: #ffe2e2;
  }
  .btn.gray:hover {
    background: #e4e7eb;
  }
  .btn.dark-gray:hover {
    background: #dfe3eb;
  }
  .btn.sky:hover {
    background: #dbe9f9;
  }
  .btn.wht:hover {
    border: 1px solid var(--color-primary);
  }
  .btn.wht-red:hover {
    border: 1px solid var(--color-red);
  }
  .btn.add:hover {
    background: #0d95f3;
  }
  .note-group-select-from-files label {
    transition: background-color ease 0.1s;
  }
  .note-group-select-from-files label:hover {
    background: #dbe9f9;
  }
  .note-modal-footer .note-btn {
    transition: background-color ease 0.1s;
  }
  .note-modal-footer .note-btn:hover {
    background: #355de5;
  }
  .lnb-list > li > a {
    transition: background-color ease 0.1s;
  }
  .lnb-list > li > a:hover {
    background: #263040;
  }
  .lnb-list .depth2 a {
    transition: color ease 0.1s;
  }
  .lnb-list .depth2 a:hover {
    color: #a6baff;
  }
  .ui-widget-header .ui-icon:hover {
    border: 1px solid var(--color-border-top);
  }
  .file-list a {
    transition: color ease 0.1s;
  }
  .file-list a:hover {
    color: var(--color-primary);
  }
  .modal-bottom .btn.gray:hover {
    background: 0;
  }
  .sms-btn {
    transition: box-shadow ease 0.2s;
  }
  .sms-btn:hover {
    box-shadow: 0 10px 15px #c8cee7;
  }
  .table-container td {
    transition: color ease 0.2s;
  }
  .table-container td .more-wrap .btn-list button {
    transition: background-color ease 0.2s;
  }
  .table-container td .more-wrap .btn-list button:hover {
    background: var(--color-bg-sky);
  }
  .table-container.cursor tbody td:hover {
    cursor: pointer;
  }
  .code-item a {
    transition: transform ease 0.3s, box-shadow ease 0.2s;
  }
  .code-item a b {
    transition: color ease 0.2s;
  }
  .code-item a:hover {
    position: relative;
    transform: translateY(-5px);
    box-shadow: 0 40px 40px rgba(130, 135, 155, 0.1);
    z-index: 1;
  }
  .code-item a:hover b {
    color: var(--color-primary);
  }
  .accordion-tit p {
    transition: color ease 0.1s;
  }
  .accordion-tit p:hover {
    color: var(--color-primary);
  }
  .board-tab a {
    transition: border ease 0.1s, color ease 0.1s;
  }
  .board-tab a:hover {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
  }
  .fc-daygrid-event:hover {
    cursor: pointer;
  }
}
/****스크린리더 추가***/
.hiddentext {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
  clip: rect(0 0 0 0);
}

/*# sourceMappingURL=common.css.map */
