<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::#section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <th:block id="css">
    </th:block>

    <th:block id="script">
        <script th:src="@{/js/adm/edu/insttSlc.js}"></script>
    </th:block>
</head>
<body id="section">
<nav th:replace="layout/nav :: nav" class="lnb"></nav>
<!--업체 관리(기관)-->
    <div class="main-area">
        <div class="inner">
            <div class="main-container">
                <div class="page-tit__wrap">
                    <ul class="breadcrumbs">
                        <li><img src="/images/common/home_ico.svg" alt="홈"></li>
                        <li>업체 관리</li>
                    </ul>
                    <h2 class="page-tit">업체 관리</h2>
                </div>
                <form>
                    <div th:replace="utils/searchBar :: search6"></div>
                    <div class="content-item table-content">
                        <div class="table-container type1">
                            <table>
                                <caption>학교(기관)의 업체관리 정보 제공</caption>
                                <colgroup>
                                    <col width="10%">
                                    <col width="10%">
                                    <col width="*">
                                    <col width="10%">
                                    <col width="10%">
                                    <col width="5%">
                                    <col width="10%">
                                    <col width="8%">
                                    <col width="10%">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>업체명</th>
                                    <th>업체 주소</th>
                                    <th>대표자명</th>
                                    <th>요청일</th>
                                    <th>승인자</th>
                                    <th>승인일</th>
                                    <th>상태</th>
                                    <th>비고</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="insttSlc : ${result.content}">
                                    <tr>
                                        <input type="hidden" id="slctnNo" th:value="${insttSlc.slctnNo}"/>
                                        <td data-before="No." class="txt-hidden num" th:text="${result.totalElements - (result.pageable.offset + insttSlcStat.index)}"></td>
                                        <td class="main-txt" th:text="${insttSlc.cmpnyNm}"></td>
                                        <td data-before="업체 주소" class="txt-hidden wide" th:text="${insttSlc.adres}"></td>
                                        <td data-before="대표자명" class="txt-hidden wide dashed" th:text="${insttSlc.repNm}"></td>
                                        <td data-before="요청일" class="txt-hidden" th:text="${insttSlc.registDt}"></td>
                                        <th:block th:if="${insttSlc.confmerId == null or insttSlc.confmerId == ''}">
                                            <td data-before="승인자" class="txt-hidden">-</td>
                                        </th:block>
                                        <th:block th:if="${insttSlc.confmerId != null}">
                                            <td data-before="승인자" class="txt-hidden">
                                                <th:block th:if="${insttSlc.confmOrgCd != null and insttSlc.rm == '1'}">
                                                    <span class="small" th:text="${insttSlc.confmOrgCd}"></span>
                                                </th:block>
                                                <th:block th:text="${insttSlc.confmerId}"></th:block>
                                            </td>
                                        </th:block>
                                        <td data-before="승인일" class="txt-hidden" th:text="${insttSlc.confmDe}"></td>
                                        <td class="abs-r">
                                            <span class="tag green" th:if="${insttSlc.confmSe == 'CONFM00001'}">승인대기</span>
                                            <span class="tag blue" th:if="${insttSlc.confmSe == 'CONFM00002'}">승인</span>
                                            <span class="tag gray" th:if="${insttSlc.confmSe == 'CONFM00003'}">반려</span>
                                        </td>
                                        <td class="button">
                                            <th:block th:if="${insttSlc.confmSe == 'CONFM00001' or insttSlc.confmSe == 'CONFM00003'}"><button type="button" class="btn sky" th:onclick="pageObj.slcConfmBtn([[${insttSlc.slctnNo}]])"><img src="/images/common/btn_chk_ico.svg" alt="승인">승인</button></th:block>
                                            <th:block th:if="${insttSlc.confmSe == 'CONFM00002'}"><button type="button" class="btn gray" th:onclick="pageObj.slcStopBtn([[${insttSlc.slctnNo}]])"><img src="/images/common/stop_ico.svg" alt="중지">중지</button></th:block>
                                        </td>
                                        <!--                                <td th:text="${insttSlc.rm}"></td>-->
                                    </tr>
                                </th:block>
                                <tr th:if="${result.content.size() < 1}" class="empty">
                                    <td colspan="9">
                                        <img src="/images/common/empty_ico.svg" alt="등록된 데이터 없음">
                                        <p>등록된 데이터가 없습니다.</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div th:replace="utils/pagination :: pagination(${result})"></div>
                    </div>
                </form>
            </div>
            <footer th:replace="layout/footer :: footer"></footer>
        </div>
    </div>
</body>
</html>