<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::#section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <th:block id="css">
    </th:block>

    <th:block id="script">
        <script type="text/javascript" th:src="@{/js/dashboard.js}"></script>
    </th:block>
</head>
<body id="section">
<nav th:replace="layout/nav :: nav" class="lnb"></nav>
<!--대시보드(기관)-->
<div class="main-area">
    <div class="inner">
        <div class="main-container">
            <h3 class="cont-tit" tabindex="101">장애관리 미처리 현황</h3>
            <div class="current-state">
                <div class="cont">
                    <div class="box color" tabindex="102">
                        <h4>미처리 총 건수</h4>
                        <p th:text="${result.totalCount}"></p>
                    </div>
                    <div class="box" tabindex="103" th:each="type, status : ${maintenanceType}">
                        <h4 th:text="${type.codeNm}"></h4>
                        <th:block th:each="dto : ${result.unprocessedDtos}">
                            <th:block th:if="${type.codeNm eq dto.maintenanceType}">
                                <p th:text="${dto.unprocessedCount}">9</p>
                            </th:block>
                        </th:block>
                    </div>
                </div>
            </div>
            <h3 class="cont-tit" tabindex="104">최근 장애관리 <a class="more-btn" href="javascript:void(0);"  th:onclick="pageObj.view.maintenanceList()" title="더보기" tabindex="105"><img src="/images/common/plus_ico.svg" alt="더보기"></a></h3>
            <div class="content-item">
                <ul class="post-list">
                    <li th:each=" mntmgt : ${result.insttMntmgtDtos}">
                        <a href="javascript:void(0);" th:onclick="pageObj.view.maintenanceDetail([[${mntmgt.rceptNo}]])" th:title="${mntmgt.rceptNo}" tabindex="106">
                            <div>
                                <p class="tit">
                                    <span th:text="'[' + ${mntmgt.maintenanceType} + ']'"></span>
                                    <span class="tit-txt" th:text="${mntmgt.subject}"></span>
                                </p>
                                <p class="post-info">
                                    <span class="user" th:text="${mntmgt.writer}"></span>
                                    <span class="date" th:text="${#temporals.format(mntmgt.registDt, 'yyyy.MM.dd')}"></span>
                                </p>
                            </div>
                            <span class="state blue" th:classappend="${
                                                         mntmgt.statusType eq '취소' ? 'red' :
                                                         mntmgt.statusType eq '접수' ? 'green' :
                                                         mntmgt.statusType eq '업체완료' ? 'gray' :
                                                         mntmgt.statusType eq '최종완료' ? 'purple' :
                                                         mntmgt.statusType eq '신청' ? 'blue' : 'yellow'}"
                                  th:text="${mntmgt.statusType}">신청</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <footer th:replace="layout/footer :: footer"></footer>
    </div>
</div>
</body>
</html>
