<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::#section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <th:block id="css">
    </th:block>

    <th:block id="script">
        <script th:src="@{/js/user/find.js}"></script>
        <script th:src="@{/js/user/login.js}"></script>
        <script>
            $(function() {
                $('.wrap > header, .wrap > footer').hide();
            });
        </script>
    </th:block>
</head>
<body id="section">
<!--로그인-->
<div class="contents join">
    <div class="inner">
        <div class="main-area">
            <h1 class="top-logo"><img src="/images/common/join_top_logo.svg" alt="충청남도교육청 장애신고접수처리시스템"></h1>
            <div class="content-item login-box">
                <form th:action method="post">
                    <div class="tit-area">
                        <h2 class="tit-area__tit" th:text="${serverType == 'cmpny'} ? '업체 로그인' : '로그인'"></h2>
                        <p class="tit-area__desc">아이디, 비밀번호를 입력해 주세요</p>
                    </div>
                    <div class="id">
                        <span>아이디</span>
                        <input type="text" id="username" name="username" title="아이디" placeholder="아이디">
                    </div>
                    <div class="password">
                        <span>비밀번호</span>
                        <input type="password" name="password" placeholder="비밀번호" title="비밀번호">
                    </div>
                    <div class="error_text"
                         th:if="${param.error}"
                         th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
                        <span th:text="${errorMsg}">Wrong input!</span>
                    </div>
                    <button type="submit" class="btn blue btn-login">로그인</button>
                </form>
                <div class="bottom">
                    <label class="chk-item">
                        <input type="checkbox" id="idSaveCheck" title="아이디 저장">
                        <span>아이디 저장</span>
                    </label>
                    <div class="find">
                        <button onclick="pageObj.view.findIdModal()">아이디</button>
                        <button onclick="pageObj.view.findPwdModal()">비밀번호 찾기</button>
                    </div>
                </div>
                <th:block th:if="${serverType == 'cmpny'}">
                    <button type="button" class="btn sky btn-join" onclick="pageObj.view.join()">회원가입</button>
                </th:block>
            </div>
        </div>
        <footer>
            <ul>
                <li>(32255) 충남 홍성군 홍북읍 선화로 22</li>
                <li>대표전화<span>041-640-7777</span></li>
                <li>팩스<span>041-631-8634</span></li>
            </ul>
            <p>copyright (C) chungcheongnamdo office of education. all rights reserved.</p>
        </footer>
    </div>
    <div th:replace="utils/modal :: modal('modal')"></div>
</div>
</body>
</html>