<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div id="form" th:object="${scheduleDto}">
    <script>
        $(".datepicker").datepicker();
        $.datepicker.setDefaults({
            dateFormat: 'yy-mm-dd',
            closeText: "닫기",
            currentText: "오늘",
            prevText: '이전 달',
            nextText: '다음 달',
            monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            dayNames: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
            weekHeader: "주",
            yearSuffix: '년',
            showMonthAfterYear: true,
            onClose: function (selectedDate) {
                if (!isNull(selectedDate)) {
                    $('#endDt').attr('disabled', false);
                    $('#endDt').datepicker('option', 'minDate', selectedDate);
                }
            }
        });
    </script>

    <a class="modal-close" href="javascript:void(0);" onclick="modal.close()" title="닫기"><img src="/images/common/modal_close_ico.svg" alt="창 닫기"></a>
    <div class="modal-top tit-area">
        <h3 class="tit-area__tit"></h3>
        <p class="tit-area__desc"></p>
    </div>
    <div class="modal-body">
        <div class="input-area">
            <div class="input-list">
                <div class="label essential"><span>카테고리 선택</span></div>
                <div class="input-box">
                    <select th:field="*{boardCategoryId}" title="카테고리" data="data essential">
                        <option value="">선택</option>
                        <option th:each="ctgry : ${ctgryList}" th:value="${ctgry.boardCategoryId}"
                                th:text="${ctgry.categoryNm}"></option>
                    </select>
                </div>
            </div>
            <div class="input-list">
                <div class="label essential"><span>일정</span></div>
                <div class="input-box date">
                    <div class="date-box">
                        <input type="text" class="datepicker" id="startDt" name="startDt" th:value="${date}"
                               placeholder="시작일을 입력해 주세요" title="시작일">
                    </div>
                    <div class="date-box">
                        <input type="text" class="datepicker" th:field="*{endDt}"
                               placeholder="종료일을 입력해 주세요" title="종료일">
                    </div>
                </div>
            </div>
            <div class="input-list">
                <div class="label essential"><span>제목</span></div>
                <div class="input-box input-btn">
                    <input type="text" th:field="*{title}" placeholder="제목을 입력해 주세요" title="제목">
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>위치</span></div>
                <div class="input-box input-btn">
                    <input type="text" th:field="*{location}" placeholder="위치를 입력해 주세요" title="위치">
                </div>
            </div>
            <div class="input-list">
                <div class="label"><span>내용</span></div>
                <div class="input-box input-btn">
                    <input type="text" th:field="*{content}" placeholder="내용을 입력해 주세요" title="내용">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-bottom">
        <button class="btn gray" onclick="modal.close()">취소</button>
        <button class="btn blue" onclick="boardCalendar.save()">확인</button>
    </div>
</div>
</section>
</body>
</html>
