<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div id="form" th:object="${scheduleDto}">
    <script>
        $(".datepicker").datepicker();
        $.datepicker.setDefaults({
            dateFormat: 'yy-mm-dd',
            closeText: "닫기",
            currentText: "오늘",
            prevText: '이전 달',
            nextText: '다음 달',
            monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            dayNames: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
            weekHeader: "주",
            yearSuffix: '년',
            showMonthAfterYear: true,
            onClose: function (selectedDate) {
                if (!isNull(selectedDate)) {
                    $('#endDt').attr('disabled', false);
                    $('#endDt').datepicker('option', 'minDate', selectedDate);
                }
            }
        });
    </script>

    <a class="modal-close" href="javascript:void(0);" onclick="modal.close()" title="닫기"><img src="/images/common/modal_close_ico.svg" alt="창 닫기"></a>
    <input type="hidden" id="categoryId" th:value="*{boardCategoryId}">
    <input type="hidden" id="type" name="type" th:value="${type}">
    <input type="hidden" id="boardScheduleId" name="boardScheduleId" th:value="*{id}">
    <div class="modal-top tit-area">
        <h3 class="tit-area__tit"></h3>
        <p class="tit-area__desc"></p>
    </div>
    <div class="modal-body">
        <div class="input-area">
            <div class="input-list" th:if="${type != 'ETC'}">
                <div class="label" id="div_category"><span>카테고리</span></div>
                <div class="input-box">
                    <select th:field="*{boardCategoryId}" title="카테고리" disabled data="data essential">
                        <option value="">선택</option>
                        <option th:each="ctgry : ${ctgryList}" th:value="${ctgry.boardCategoryId}"
                                th:text="${ctgry.categoryNm}" th:selected="${ctgry.boardCategoryId} == *{boardCategoryId}"></option>
                    </select>
                </div>
            </div>
            <div class="input-list">
                <div class="label" id="div_date"><span>일정</span></div>
                <div class="input-box date">
                    <div class="date-box">
                        <input type="text" th:field="*{startDt}"
                               placeholder="시작일을 입력해 주세요" title="시작일" disabled>
                    </div>
                    <div class="date-box">
                        <input type="text" th:field="*{endDt}"
                               placeholder="종료일을 입력해 주세요" title="종료일" disabled>
                    </div>
                </div>
            </div>
            <div class="input-list">
                <div class="label" id="div_title"><span>제목</span></div>
                <div class="input-box input-btn">
                    <input type="text" th:field="*{title}" placeholder="제목을 입력해 주세요" title="제목" disabled>
                </div>
            </div>
            <div class="input-list" th:if="${type != 'ETC'}">
                <div class="label"><span>위치</span></div>
                <div class="input-box input-btn">
                    <input type="text" th:field="*{location}" placeholder="위치를 입력해 주세요" title="위치" disabled>
                </div>
            </div>
            <div class="input-list" th:if="${type != 'ETC'}">
                <div class="label"><span>내용</span></div>
                <div class="input-box input-btn">
                    <input type="text" th:field="*{content}" placeholder="내용을 입력해 주세요" title="내용" disabled>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-bottom" id="div_btn">
        <button class="btn blue" id="cancel" onclick="modal.close()">확인</button>
    </div>
</div>
</section>
</body>
</html>
