<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::#section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <th:block id="css">
    </th:block>

    <th:block id="script">
        <script th:inline="javascript">
            var boardType = [[${boardType}]];
            var boardMngId = [[${boardMngId}]];
            var categoryId = [[${categoryId}]];
            var defaultPageUrl = [[${defaultPageUrl}]];
            var mngType = [[${mngType}]];
        </script>
        <script type="text/javascript" th:src="@{/js/board/board_common.js}"></script>
        <script type="text/javascript" th:src="@{/js/board/board.js}"></script>
    </th:block>
</head>
<body id="section">
<nav th:replace="layout/nav :: nav" class="lnb"></nav>
<!--담당자(직원) 관리(업체)-->
<div class="main-area">
    <div class="inner">
        <div class="main-container">
            <div class="page-tit__wrap">
                <ul class="breadcrumbs">
                    <li><img src="/images/common/home_ico.svg" alt="홈"></li>
                    <li>커뮤니티</li>
                    <li th:text="${boardTitle}"></li>
                </ul>
                <h2 class="page-tit" th:text="${boardTitle}"></h2>
            </div>
            <form th:action>
                <div class="content">
                    <!-- 조건검색 -->
                    <div class="content-item table-content">
                        <div class="board-tab">
                            <a th:class="${categoryId == 'all'} ? 'active': ''"
                               th:href="@{|${defaultPageUrl}/all|}">전체</a>

                            <th:block th:each="ctgry : ${ctgryList}">
                                <a th:class="${categoryId == ctgry.boardCategoryId.toString()} ? 'active' : ''"
                                   th:href="@{|${defaultPageUrl}/${ctgry.boardCategoryId}|}"
                                   th:text="${ctgry.categoryNm}"></a>
                            </th:block>
                        </div>
                        <div class="calendar-wrap">
                            <div id="calendar"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <footer th:replace="layout/footer :: footer"></footer>
        <div th:replace="utils/modal :: modal('modal')"></div>
    </div>
</div>
</section>
</body>
</html>