<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::#section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <th:block id="css">
    </th:block>

    <th:block id="script">
        <script type="text/javascript" th:src="@{/js/equipment/detail.js}"></script>
    </th:block>
</head>
<body id="section">
<nav th:replace="layout/nav :: nav" class="lnb"></nav>
<!--소모품 상세(기관)-->
    <div class="main-area">
        <div class="inner">
            <div class="main-container">
                <div class="page-tit__wrap">
                    <ul class="breadcrumbs">
                        <li><img src="/images/common/home_ico.svg" alt="홈"></li>
                        <li>소모품 상세</li>
                    </ul>
                    <h2 class="page-tit">소모품 상세</h2>
                </div>
                <ul class="progress-bar type2">
                    <th:block th:each="code : ${statusType}">
                        <li th:classappend="${code.codeNm eq result.statusType ? 'on' : null}">
                            <div class="bar"></div>
                            <b th:text="${code.codeNm}"></b>
                            <p>
                            <span th:text="${code.codeNm eq '신청' ? result.registNm :
                                            code.codeNm eq '접수' and (result.isRcept or result.isCompt) ? result.rceptNm :
                                            code.codeNm eq '완료' and result.isCompt ? result.comptNm :
                                            code.codeNm eq '취소' and result.isCancel ? result.updtNm :
                                            code.codeNm eq '보류' and result.isHold ? result.updtNm : ''}"></span>

                                <span th:text="${code.codeNm eq '신청' ? #temporals.format(result.registDt, 'yyyy-MM-dd HH:mm:ss') :
                                            code.codeNm eq '접수' and (result.isRcept or result.isCompt) ? #temporals.format(result.rceptDe, 'yyyy-MM-dd HH:mm:ss') :
                                            code.codeNm eq '완료' and result.isCompt ? #temporals.format(result.comptDe, 'yyyy-MM-dd HH:mm:ss') :
                                            code.codeNm eq '취소' and result.isCancel ? #temporals.format(result.updtDt, 'yyyy-MM-dd HH:mm:ss') :
                                            code.codeNm eq '보류' and result.isHold  ? #temporals.format(result.updtDt, 'yyyy-MM-dd HH:mm:ss') : ''}"></span>
                            </p>
                        </li>
                    </th:block>
                </ul>
                <div class="content">
                    <div class="content-item">
                        <div class="content-tit">
                            <h3>신청 내역</h3>
                        </div>
                        <div class="input-area txt-only">
                            <div class="input-list wd5">
                                <div class="label"><span>접수번호</span></div>
                                <div class="input-box" th:text="${result.rceptNo}"></div>
                            </div>
                            <div class="input-list wd5">
                                <div class="label"><span>소모품 분류</span></div>
                                <div th:text="${result.expendablesType}" class="input-box"></div>
                            </div>
                            <div class="input-list wd5">
                                <div class="label"><span>업체명</span></div>
                                <div class="input-box" th:text="${result.cmpnyNm}"></div>
                            </div>
                            <div class="input-list wd5">
                                <div class="label"><span>업체 대표번호</span></div>
                                <div class="input-box" th:text="${result.reprsntTelno}"></div>
                            </div>
                            <div class="input-list">
                                <div class="label"><span>기관(학교)명</span></div>
                                <div class="input-box" th:text="${result.orgNm}"></div>
                            </div>
                            <div class="input-list wd1">
                                <div class="label"><span>제목</span></div>
                                <div class="input-box" th:text="${result.subject}"></div>
                            </div>
                            <div class="input-list main-txt wd1">
                                <div class="label"><span>소모품 상세</span></div>
                                <div class="input-box" th:utext="${result.content}"></div>
                            </div>
                            <div class="input-list wd10">
                                <div class="label"><span>첨부파일</span></div>
                                <div class="input-box">
                                    <div class="filenames">
                                        <div th:if="${result.files.size() > 0}">
                                            <ul class="file-list">
                                                <th:block th:each="file : ${result.files}">
                                                    <li th:if="${file.atchAt eq 'O'}">
                                                        <a th:href="@{|/api/v1/files/attach/cmpds/${file.fileNo}|}"
                                                           th:text="${file.orignlFileNm}" th:title="${file.orignlFileNm}"/>
                                                    </li>
                                                </th:block>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <th:block th:if="${result.statusType ne '취소' and result.statusType ne '신청'}">
                        <div class="content-item">
                            <div class="content-tit">
                                <h3>처리 내역</h3>
                            </div>
                            <div class="input-area txt-only">
                                <div class="input-list">
                                    <div class="label"><span>상태</span></div>
                                    <div class="input-box" th:text="${result.statusType}"></div>
                                </div>
                                <div class="input-list">
                                    <div class="label"><span>담당자</span></div>
                                    <div class="input-box" th:text="${result.getChargerNmAndPosition()}"></div>
                                </div>
                                <div class="input-list wd1">
                                    <div class="label"><span>담당자 연락처</span></div>
                                    <div class="input-box" th:text="${result.mbtlnum}"></div>
                                </div>
                                <div class="input-list wd1">
                                    <div class="label"><span>처리내용</span></div>
                                    <div class="input-box main-cont" th:utext="${result.processCn}"></div>
                                </div>
                                <div class="input-list">
                                    <div class="label"><span>참고파일</span></div>
                                    <div class="input-box">
                                        <div class="filenames">
                                            <div th:if="${result.files.size() > 0}">
                                                <ul class="file-list">
                                                    <th:block th:each="file : ${result.files}">
                                                        <li th:if="${file.atchAt eq 'C'}">
                                                            <a th:href="@{|/api/v1/files/attach/mntmgt/${file.fileNo}|}"
                                                               th:text="${file.orignlFileNm}" th:title="${file.orignlFileNm}"/>
                                                        </li>
                                                    </th:block>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                    <div class="btn-area">
                        <button class="btn gray auto-r" th:onclick="pageObj.list()">목록</button>
                        <th:block th:if="${userId eq result.registId or authority eq 'adm'}">
                            <button th:if="${result.statusType eq '신청' or result.statusType eq '접수'}" class="btn red"
                                    th:onclick="pageObj.cancel([[${result.rceptNo}]])">취소
                            </button>
                            <button class="btn blue" th:if="${result.statusType eq '신청'}"
                                    th:onclick="pageObj.view.update()">수정
                            </button>
                        </th:block>
                    </div>
                </div>
            </div>
            <footer th:replace="layout/footer :: footer"></footer>
        </div>
    </div>
</body>
</html>
