<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::#section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <th:block id="css">
    </th:block>

    <th:block id="script">
        <script type="text/javascript" th:src="@{/js/equipment/list.js}"></script>
    </th:block>
</head>
<body id="section">
<nav th:replace="layout/nav :: nav" class="lnb"></nav>
<!--소모품 목록(기관)-->
    <div class="main-area">
        <div class="inner">
            <div class="main-container">
                <div class="page-tit__wrap">
                    <ul class="breadcrumbs">
                        <li><img src="/images/common/home_ico.svg" alt="홈"></li>
                        <li>소모품 목록</li>
                    </ul>
                    <h2 class="page-tit">소모품 목록</h2>
                </div>
                <form>
                    <div class="content">
                        <th:block th:if="${authority eq 'adm'}">
                            <div th:replace="utils/selectOrgCd::orgCdSeletboxDiv"></div>
                        </th:block>
                        <div class="search-container">
                            <th:block th:replace="utils/searchBar :: search4"></th:block>
                        </div>
                        <div class="table-container type1 cursor">
                            <div class="table-top">
                                <div class="total">
                                    <div class="total-box">
                                        <span>미처리(신청+접수)</span>
                                        <b th:text="${result.content.size() > 0 ? result.content.get(0).getUnprocessedCount() : 0}"></b>
                                    </div>
                                    <div class="total-box">
                                        <span>총</span>
                                        <b th:text="${result.totalElements}"></b>
                                    </div>
                                </div>
                                <a class="btn add" href="javascript:void(0);" title="등록" th:onclick="pageObj.view.register()">등록</a>
                            </div>
                            <table>
                                <caption>소모품 목록<span>소모품 목록으로 접수번호, 분류, 분류상세, 제목, 신청인, 업체명, 담당자 등록일, 완료일, 상태의 정보 제공</span></caption>
                                <colgroup>
                                    <col width="70px">
                                    <col width="12%">
                                    <col width="70px" th:if="${searchParam.getAllYn() eq 'Y'}">
                                    <col width="60px">
                                    <col width="*">
                                    <col width="50px">
                                    <col width="10%">
                                    <col width="8%">
                                    <col width="8%">
                                    <col width="8%">
                                    <col width="60px">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>접수번호</th>
                                    <th th:if="${searchParam.getAllYn() eq 'Y'}">기관(학교명)</th>
                                    <th>소모품 분류</th>
                                    <th>제목</th>
                                    <th>신청인</th>
                                    <th>업체명</th>
                                    <th>담당자</th>
                                    <th>등록일</th>
                                    <th>완료일</th>
                                    <th>상태</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="cmpds, status : ${result.content}" th:onclick="pageObj.view.detail([[${cmpds.rceptNo}]])">
                                    <td data-before="No." class="txt-hidden num" th:text="${result.totalElements - (result.pageable.getPageNumber()) * result.pageable.getPageSize() - status.index}"></td>
                                    <td data-before="접수번호" class="txt-hidden" th:text="${cmpds.rceptNo}"></td>
                                    <td data-before="기관(학교명)" class="txt-hidden" th:if="${searchParam.getAllYn() eq 'Y'}" th:text="${cmpds.orgNm}"></td>
                                    <td data-before="소모품 분류" class="txt-hidden" th:text="${cmpds.expendablesType}"></td>
                                    <td class="main-txt tit"><span th:text="${cmpds.subject}"></span></td>
                                    <td data-before="신청인" class="txt-hidden dashed-hidden" th:text="${cmpds.writer}"></td>
                                    <td data-before="업체명" class="txt-hidden dashed" th:text="${cmpds.cmpnyNm}"></td>
                                    <td data-before="담당자" class="txt-hidden" th:text="${cmpds.getChargerNmAndPosition()}"></td>
                                    <td data-before="등록일" class="txt-hidden" th:text="${#temporals.format(cmpds.registDt, 'yyyy.MM.dd HH:mm:ss')}"></td>
                                    <td data-before="완료일" class="txt-hidden" th:text="${#temporals.format(cmpds.comptDe, 'yyyy.MM.dd HH:mm:ss')}"></td>
                                    <td class="abs-r">
                                    <span id="statusType" class="tag" th:classappend="${
                                     cmpds.statusType eq '취소' ? 'red' :
                                     cmpds.statusType eq '접수' ? 'green' :
                                     cmpds.statusType eq '완료' ? 'gray' :
                                     cmpds.statusType eq '신청' ? 'blue' : 'yellow'}" th:text="${cmpds.statusType}"></span>
                                    </td>
                                </tr>
                                <tr th:if="${result.content.size() < 1}" class="empty">
                                    <td colspan="10">
                                        <img src="/images/common/empty_ico.svg" alt="등록된 데이터가 없습니다.">
                                        <p>등록된 데이터가 없습니다.</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="btn-area right">
                            <a class="btn add" href="javascript:void(0);" title="등록" th:onclick="pageObj.view.register()">등록</a>
                        </div>

                        <th:block th:replace="utils/pagination :: pagination(${result})"></th:block>
                    </div>
                </form>
            </div>
            <footer th:replace="layout/footer :: footer"></footer>
        </div>
    </div>
</section>
</body>
</html>
