<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::#section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <th:block id="css">
    </th:block>

    <th:block id="script">
        <script type="text/javascript" th:src="@{/js/equipment/save.js}"></script>
    </th:block>
</head>
<body id="section">
<nav th:replace="layout/nav :: nav" class="lnb"></nav>
<!--소모품 등록(기관)-->
    <div class="main-area">
        <div class="inner">
            <div class="main-container">
                <div class="page-tit__wrap">
                    <ul class="breadcrumbs">
                        <li><img src="/images/common/home_ico.svg" alt="홈"></li>
                        <li>소모품 <th:block th:text="${rceptNo == null} ? 등록 : 수정"></th:block></li>
                    </ul>
                    <h2 class="page-tit">소모품 <th:block th:text="${rceptNo == null} ? 등록 : 수정"></th:block></h2>
                </div>
                <div class="content">
                    <div class="content-tit">
                        <div>
                            <h3>신청 내역</h3>
                        </div>
                        <span>표시는 필수 입력 사항입니다.</span>
                    </div>
                    <form th:action id="form" th:object="${cmpds}">
                        <div class="input-area">
                            <div class="input-list wd5">
                                <input type="hidden" th:field="*{rceptNo}" th:title="*{rceptNo}">
                                <div class="label essential"><span>소모품 분류</span></div>
                                <div class="input-box">
                                    <div class="select-list">
                                        <select th:field="*{expendablesType}" onchange="pageObj.cmpdsCategoryChange(this)" th:id="first_selectbox">
                                            <option th:value="0">소모품 1차 분류 선택</option>
                                            <th:block th:each="type : ${expendablesType}">
                                                <option th:if="${type.getCodeDp() eq '1'}" th:text="${type.codeNm}" th:value="${type.getCCode()}"></option>
                                            </th:block>
                                        </select>
                                        <select th:field="*{secondExpendablesType}" th:id="second_selectbox" disabled>
                                            <option th:value="0">소모품 2차 분류 선택</option>
                                            <th:block th:each="type : ${expendablesType}">
                                                <option th:if="${type.getCodeDp() eq '2'}" th:text="${type.codeNm}" th:value="${type.getCCode()}"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="input-list wd5">
                                <div class="label essential"><span>업체 선택</span></div>
                                <div class="input-box">
                                    <select th:field="*{bizrno}" th:id="bizrno">
                                        <option th:value="0">선택</option>
                                        <option th:each="compny : ${compnys}" th:text="${compny.cmpnyNm}" th:value="${compny.bizrno}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-list">
                                <div class="label essential"><span>제목</span></div>
                                <div class="input-box tit">
                                    <input type="text" th:field="*{subject}" th:id="subject" title="제목을 입력해 주세요" placeholder="제목을 입력해 주세요">
                                </div>
                            </div>
                            <div class="input-list">
                                <div class="label essential"><span>내용</span></div>
                                <div class="input-box">
                                    <textarea placeholder="내용을 입력해 주세요" th:field="*{content}" id="content" title="내용을 입력해 주세요"></textarea>
                                </div>
                            </div>
                            <div class="input-list" >
                                <div class="label"><span>첨부파일</span></div>
                                <div class="input-box" id="file-container">
                                    <div class="input-file">
                                        <div class="ico"><img src="/images/common/file_upload_ico.svg" alt="파일을 드래그하여 업로드할 수 있습니다."></div>
                                        <p>파일을 드래그하여 업로드할 수 있습니다.</p>
                                        <label for="file_input" class="btn sky file-btn">
                                            파일 업로드
                                            <input type="file" id="file_input" class="file-input" title="파일 업로드"/>
                                        </label>
                                    </div>
                                    <div class="filenames upload-list">
                                        <th:block th:if="${cmpds.saveFiles.size() > 0}">
                                            <li class="file_wraper" th:each="file : ${cmpds.saveFiles}">
                                                <th:block th:if="${file.atchAt eq 'O'}">
                                                    <input type="hidden" name="savedFileIds" th:value="${file.fileNo}"/>
                                                    <span th:if="${file.atchAt }" th:text="${file.orignlFileNm}"></span>
                                                    <button class="btn-remove" type="button" onclick="$files.removeFile(this)">
                                                        <img th:src="@{/images/common/file_delete_ico.svg}" alt="삭제">
                                                    </button>
                                                </th:block>
                                            </li>
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="btn-area">
                        <button class="btn gray" th:onclick="pageObj.cancel([[${rceptNo}]])">취소</button>
                        <button th:text="${rceptNo == null} ? 등록 : 수정" class="btn blue" th:onclick="pageObj.save([[${rceptNo}]])"></button>
                    </div>
                </div>
            </div>
            <footer th:replace="layout/footer :: footer"></footer>
        </div>
    </div>
</body>
</html>
