<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::#section})}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">

    <th:block id="css">
    </th:block>

    <th:block id="script">
        <script type="text/javascript" th:src="@{/js/equipment/detail.js}"></script>
    </th:block>
</head>
<body id="section" >
<nav th:replace="layout/nav :: nav" class="lnb"></nav>
<!--유지관리 상세(기관)-->
    <div class="main-area">
        <div class="inner">
            <div class="main-container">
                <div class="page-tit__wrap">
                    <ul class="breadcrumbs">
                        <li><img src="/images/common/home_ico.svg" alt="홈"></li>
                        <li>장애관리 목록</li>
                        <li>장애관리 상세</li>
                    </ul>
                    <h2 class="page-tit" tabindex="101">장애관리 상세<span class="hiddentext">페이지 입니다.</span></h2>
                </div>
                <div class="content-item">
                    <ul class="step">
                        <th:block th:each="code : ${statusType}">
                            <!-- 스크린리더용 시작-->
                            <span class="hiddentext" tabindex="201">해당 신청내역 상태는 <b th:text="${result.statusType}"></b> 상태이며,
                                <b th:text="${result.statusType eq '신청' ? result.registNm : ''}"></b>
                                <b th:text="${result.statusType eq '접수' ? result.rceptNm : ''}"></b>
                                <b th:text="${result.statusType eq '업체완료' ? result.comptNm : ''}"></b>
                                <b th:text="${result.statusType eq '최종완료' ? result.lastComptNm : ''}"></b>
                                <b th:text="${result.statusType eq '취소' or result.statusType eq '보류' ? result.updtNm : ''}"></b>님이

                                <b th:text="${result.statusType eq '신청' ? #temporals.format(result.registDt, 'yyyy-MM-dd HH:mm:ss') : ''}"></b>
                                <b th:text="${result.statusType eq '접수' ? #temporals.format(result.rceptDe, 'yyyy-MM-dd HH:mm:ss') : ''}"></b>
                                <b th:text="${result.statusType eq '업체완료' ? #temporals.format(result.comptDe, 'yyyy-MM-dd HH:mm:ss') : ''}"></b>
                                <b th:text="${result.statusType eq '최종완료' ? #temporals.format(result.lastComptDe, 'yyyy-MM-dd HH:mm:ss') : ''}"></b>
                                <b th:text="${result.statusType eq '취소' or result.statusType eq '보류' ? #temporals.format(result.updtDt, 'yyyy-MM-dd HH:mm:ss') : ''}"></b>
                                에 처리한 내역이 마지막 내역입니다.
                            </span>
                            <!-- 스크린리더용 끝-->
                            <li th:classappend="${code.codeNm eq result.statusType ? 'on' : null}" tabindex="-1">
                                <b th:text="${code.codeNm}"></b>
                                <p>
                                    <span th:text="${code.codeNm eq '신청' ? result.registNm :
                                            code.codeNm eq '접수' and (result.isRcept or result.isCompt or result.isHold or result.isLastCompt) ? result.rceptNm :
                                            code.codeNm eq '업체완료' and (result.isCompt or result.isLastCompt) ? result.comptNm :
                                            code.codeNm eq '최종완료' and result.isLastCompt ? result.lastComptNm :
                                            code.codeNm eq '취소' and result.isCancel ? result.updtNm :
                                            code.codeNm eq '보류' and result.isHold ? result.updtNm : ''}"></span>

                                    <span th:text="${code.codeNm eq '신청' ? #temporals.format(result.registDt, 'yyyy-MM-dd HH:mm:ss') :
                                            code.codeNm eq '접수' and (result.isRcept or result.isCompt or result.isHold or result.isLastCompt) ? #temporals.format(result.rceptDe, 'yyyy-MM-dd HH:mm:ss') :
                                            code.codeNm eq '업체완료' and (result.isCompt or result.isLastCompt) ? #temporals.format(result.comptDe, 'yyyy-MM-dd HH:mm:ss') :
                                            code.codeNm eq '최종완료' and result.isLastCompt ? #temporals.format(result.lastComptDe, 'yyyy-MM-dd HH:mm:ss') :
                                            code.codeNm eq '취소' and result.isCancel ? #temporals.format(result.updtDt, 'yyyy-MM-dd HH:mm:ss') :
                                            code.codeNm eq '보류' and result.isHold  ? #temporals.format(result.updtDt, 'yyyy-MM-dd HH:mm:ss') : ''}"></span>
                                </p>
                            </li>
                        </th:block>
                    </ul>

                    <!-- 스크린리더용 시작-->
                    <span class="hiddentext" tabindex="202">
                        신청내역 안내입니다.
                        접수번호 : <b th:text="${result.rceptNo}"></b>,
                        분류 : <b th:text="${result.maintenanceType}"></b>,
                        분류 상세 : <b th:text="${result.maintenanceDetailType}"></b>,
                        업체명 : <b th:text="${result.cmpnyNm}"></b>,
                        업체 대표번호 : <b th:text="${result.reprsntTelno}"></b>,
                        제목 : <b th:text="${result.subject}"></b>,
                        내용 : <b th:utext="${result.content}"></b>

                        : 이상 신청내역입니다.
                    </span>
                    <!-- 스크린리더용 끝-->

                    <div class="tit-area">
                        <h3 class="tit-area__tit">신청내역</h3>
                    </div>
                    <div class="input-area txt-only">
                        <div class="input-list wd1">
                            <div class="label"><span>접수번호</span></div>
                            <div class="input-box" th:text="${result.rceptNo}"></div>
                        </div>
                        <div class="input-list">
                            <div class="label"><span>분류</span></div>
                            <div th:text="${result.maintenanceType}" class="input-box"></div>
                        </div>
                        <div class="input-list">
                            <div class="label"><span>분류 상세</span></div>
                            <div th:text="${result.maintenanceDetailType}" class="input-box"></div>
                        </div>
                        <div class="input-list">
                            <div class="label"><span>업체명</span></div>
                            <div class="input-box" th:text="${result.cmpnyNm}"></div>
                        </div>
                        <div class="input-list">
                            <div class="label"><span>업체 대표번호</span></div>
                            <div class="input-box" th:text="${result.reprsntTelno}"></div>
                        </div>
                        <div class="input-list">
                            <div class="label"><span>기관(학교)명</span></div>
                            <div class="input-box" th:text="${result.orgNm}"></div>
                        </div>
                        <div class="input-list">
                            <div class="label"><span>신청인 연락처</span></div>
                            <div class="input-box" th:text="${result.cttpcl}"></div>
                        </div>
                        <div class="input-list wd1">
                            <div class="label"><span>제목</span></div>
                            <div class="input-box" th:text="${result.subject}"></div>
                        </div>
                        <div class="input-list main-txt wd1">
                            <div class="label"><span>내용</span></div>
                            <div class="input-box main-cont" th:utext="${result.content}"></div>
                        </div>
                        <div class="input-list wd1">
                            <div class="label"><span>첨부파일</span></div>
                            <div class="input-box">
                                <div class="filenames">
                                    <div th:if="${result.files.size() > 0}">
                                        <ul class="file-list">
                                            <th:block th:each="file : ${result.files}">
                                                <li th:if="${file.atchAt eq 'O'}">
                                                    <a th:href="@{|/api/v1/files/attach/mntmgt/${file.fileNo}|}"
                                                       th:text="${file.orignlFileNm}" th:title="${file.orignlFileNm}"/>
                                                </li>
                                            </th:block>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 스크린리더용 시작-->
                    <span class="hiddentext" tabindex="202">
                        처리내역 안내입니다.
                        상태 : <b th:text="${result.statusType}"></b>,
                        담당자 : <b th:text="${result.getChargerNmAndPosition()}"></b>,
                        담당자 연락처 : <b th:text="${result.mbtlnum}"></b>,
                        처리내용 : <b th:utext="${result.processCn}"></b>

                        : 이상 처리내역입니다.
                    </span>
                    <!-- 스크린리더용 끝-->

                    <th:block th:if="${result.statusType ne '취소' and result.statusType ne '신청'}">
                        <div class="tit-area">
                            <h3 class="tit-area__tit">처리내역</h3>
                        </div>
                        <div class="input-area txt-only">
                            <div class="input-list">
                                <div class="label"><span>상태</span></div>
                                <div class="input-box" th:text="${result.statusType}"></div>
                            </div>
                            <div class="input-list">
                                <div class="label"><span>담당자</span></div>
                                <div class="input-box" th:text="${result.getChargerNmAndPosition()}"></div>
                            </div>
                            <div class="input-list wd1">
                                <div class="label"><span>담당자 연락처</span></div>
                                <div class="input-box" th:text="${result.mbtlnum}"></div>
                            </div>
                            <div class="input-list wd1">
                                <div class="label"><span>처리내용</span></div>
                                <div class="input-box main-cont" th:utext="${result.processCn}"></div>
                            </div>
                            <div class="input-list wd1">
                                <div class="label"><span>참고파일</span></div>
                                <div class="input-box">
                                    <div class="filenames">
                                        <div th:if="${result.files.size() > 0}">
                                            <ul class="file-list">
                                                <th:block th:each="file : ${result.files}">
                                                    <li th:if="${file.atchAt eq 'C'}">
                                                        <a th:href="@{|/api/v1/files/attach/mntmgt/${file.fileNo}|}"
                                                           th:text="${file.orignlFileNm}" th:title="${file.orignlFileNm}"/>
                                                    </li>
                                                </th:block>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                    <div class="btn-area btw">
                        <button class="btn gray auto-r" th:onclick="pageObj.list()">목록</button>
                        <div th:if="${userId eq result.registId or authority eq 'adm'}">
                            <button th:if="${result.statusType eq '신청' or result.statusType eq '접수'}" class="btn red"
                                    th:onclick="pageObj.cancel([[${result.rceptNo}]])">취소
                            </button>
                            <button class="btn sky" th:if="${result.statusType eq '신청'}"
                                    th:onclick="pageObj.view.update()">수정
                            </button>
                            <button class="btn red" th:if="${result.statusType eq '업체완료'}"
                                    th:onclick="pageObj.checkComplete([[${result.rceptNo}]])">완료확인
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <footer th:replace="layout/footer :: footer"></footer>
        </div>
    </div>
</body>
</html>
