<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::#section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <th:block id="css">
    </th:block>

    <th:block id="script">
        <script type="text/javascript" th:src="@{/js/equipment/list.js}"></script>
    </th:block>
</head>

<body id="section">
<nav th:replace="layout/nav :: nav" class="lnb"></nav>
<!--유지관리 목록(기관)-->
    <div class="main-area">
        <div class="inner">
            <div class="main-container">
                <div class="page-tit__wrap">
                    <ul class="breadcrumbs">
                        <li><img src="/images/common/home_ico.svg" alt="홈"></li>
                        <li>장애관리 목록</li>
                    </ul>
                    <h2 class="page-tit" tabindex="101">장애관리 목록<span class="hiddentext">페이지 입니다.</span></h2>
                </div>
                <form>
                    <th:block th:if="${authority eq 'adm'}">
                        <div th:replace="utils/selectOrgCd::orgCdSeletboxDiv"></div>
                    </th:block>
                    <th:block th:replace="utils/searchBar :: search3"></th:block>
                    <div class="content-item table-content">
                        <div class="table-container type1 cursor">
                            <div class="table-top">
                                <span class="hiddentext" tabindex="201">미처리 신청 및 접수 건수는 총 <b th:text="${result.getTotalElements()}"></b>개 중 <b th:text="${result.content.size() > 0 ? result.content.get(0).getUnprocessedCount() : 0}"></b>개입니다.</span>
                                <div class="total">
                                    <div class="total-box" tabindex="-1">
                                        <span>미처리(신청+접수)</span>
                                        <b th:text="${result.content.size() > 0 ? result.content.get(0).getUnprocessedCount() : 0}"></b>
                                    </div>
                                    <div class="total-box" tabindex="-1">
                                        <span>총 개수</span>
                                        <b th:text="${result.getTotalElements()}"></b>
                                    </div>
                                </div>
                                <a class="btn add" href="javascript:void(0);" onclick="pageObj.view.register()" tabindex="202"><img src="/images/common/add_ico.svg" alt="">등록<span class="hiddentext">: 장애관리 등록을 하기 위한 상단에 위치한 버튼입니다.</span></a>
                            </div>
                            <span class="hiddentext" tabindex="203">장애관리 목록표입니다. 항목으로는 접수번호, 분류, 분류상세, 제목, 신청인, 업체명, 담당자, 등록일, 완료일, 상태의 정보 제공됩니다.</span>
                            <table>
                                <caption>장애관리 목록표입니다. 항목으로는 접수번호, 분류, 분류상세, 제목, 신청인, 업체명, 담당자, 등록일, 완료일, 상태의 정보 제공됩니다.</caption>
                                <colgroup>
                                    <col width="5%">
                                    <col width="10%">
                                    <col width="10%" th:if="${searchParam.getAllYn() eq 'Y'}">
                                    <col width="5%">
                                    <col width="5%">
                                    <col width="*">
                                    <col width="5%">
                                    <col width="10%">
                                    <col width="10%">
                                    <col width="8%">
                                    <col width="8%">
                                    <col width="5%">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>접수번호</th>
                                        <th th:if="${searchParam.getAllYn() eq 'Y'}">기관(학교명)</th>
                                        <th>분류</th>
                                        <th>분류상세</th>
                                        <th>제목</th>
                                        <th>신청인</th>
                                        <th>업체명</th>
                                        <th>담당자</th>
                                        <th>등록일</th>
                                        <th>업체완료일</th>
                                        <th>최종완료일</th>
                                        <th>상태</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="content_tr" th:each="mntmgt, status : ${result.content}" th:onclick="pageObj.view.detail([[${mntmgt.rceptNo}]])" th:attr="rceptNo=${mntmgt.rceptNo}" tabindex="204">
                                        <td data-before="No." class="txt-hidden num"><span class="hiddentext">장애관리표 목록이며, 현재 선택 한 순번은 : </span><span th:text="${result.getTotalElements() - (result.pageable.getPageNumber()) * result.pageable.getPageSize() - status.index}"></span><span class="hiddentext"> 번이며, </span></td>
                                        <td data-before="접수번호" class="txt-hidden"><span class="hiddentext">: 접수번호 : </span><span th:text="${mntmgt.rceptNo}"></span></td>
                                        <td data-before="기관(학교명)" class="txt-hidden ellipsis" th:if="${searchParam.getAllYn() eq 'Y'}" th:text="${mntmgt.orgNm}"></td>
                                        <td data-before="분류" class="txt-hidden"><span class="hiddentext">: 분류 : </span><span th:text="${mntmgt.maintenanceType}"></span></td>
                                        <td data-before="분류상세" class="txt-hidden"><span class="hiddentext">: 분류상세 : </span><span th:text="${mntmgt.maintenanceDetailType}"></span></td>
                                        <td class="main-txt tit"><span class="hiddentext">: 제목 : </span><span th:text="${mntmgt.subject}"></span></td>
                                        <td data-before="신청인" class="txt-hidden"><span class="hiddentext">: 신청인 : </span><span th:text="${mntmgt.writer}"></span></td>
                                        <td data-before="업체명" class="txt-hidden wide dashed"><span class="hiddentext">: 담당업체명 : </span><span th:text="${mntmgt.cmpnyNm}"></span></td>
                                        <td data-before="담당자" class="txt-hidden"><span class="hiddentext">: 담당자 : </span><span th:text="${mntmgt.getChargerNmAndPosition()}"></span></td>
                                        <td data-before="등록일" class="txt-hidden"><span class="hiddentext">: 등록일 : </span><span th:text="${#temporals.format(mntmgt.registDt, 'yyyy.MM.dd HH:mm:ss')}"></span></td>
                                        <td data-before="완료일" class="txt-hidden"><span class="hiddentext">: 완료일 : </span><span th:text="${#temporals.format(mntmgt.comptDe, 'yyyy.MM.dd HH:mm:ss')}"></span></td>
                                        <td data-before="최종완료일" class="txt-hidden"><span class="hiddentext">: 최종완료일 : </span><span th:text="${#temporals.format(mntmgt.lastComptDe, 'yyyy.MM.dd HH:mm:ss')}"></span></td>
                                        <td data-before="상태" class="abs-r">
                                            <span class="hiddentext">: 현재 처리 상태 : </span>
                                            <span id="statusType" class="tag" th:classappend="${
                                             mntmgt.statusType eq '취소' ? 'red' :
                                             mntmgt.statusType eq '접수' ? 'green' :
                                             mntmgt.statusType eq '업체완료' ? 'gray' :
                                             mntmgt.statusType eq '최종완료' ? 'purple' :
                                             mntmgt.statusType eq '신청' ? 'blue' : 'yellow'}" th:text="${mntmgt.statusType}"></span>
                                        </td>
                                    </tr>
                                    <tr th:if="${result.content.size() < 1}" class="empty">
                                        <td colspan="10">
                                            <img src="/images/common/empty_ico.svg" alt="등록된 데이터가 없습니다.">
                                            <p>등록된 데이터가 없습니다.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="content-bottom">
                            <th:block th:replace="utils/pagination :: pagination(${result})"></th:block>
                            <div class="btn-area">
                                <a class="btn add" href="javascript:void(0);" onclick="pageObj.view.register()">등록<span class="hiddentext">: 장애관리 등록을 하기 위한 하단에 위치한 버튼입니다.</span></a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <footer th:replace="layout/footer :: footer"></footer>
        </div>
    </div>
</body>
</html>
