<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::#section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <th:block id="css">
    </th:block>

    <th:block id="script">
        <script type="text/javascript" th:src="@{/js/equipment/save.js}"></script>
    </th:block>
</head>
<body id="section">
<nav th:replace="layout/nav :: nav" class="lnb"></nav>
<!--유지관리 등록(기관)-->
    <div class="main-area">
        <div class="inner">
            <div class="main-container">
                <div class="page-tit__wrap">
                    <ul class="breadcrumbs">
                        <li><img src="/images/common/home_ico.svg" alt="홈"></li>
                        <li>장애관리 목록</li>
                        <li>장애관리 <th:block th:text="${rceptNo == null} ? 등록 : 수정"></th:block></li>
                    </ul>
                    <h2 class="page-tit" tabindex="101">장애관리 <th:block th:text="${rceptNo == null} ? 등록 : 수정"></th:block><span class="hiddentext">페이지 입니다.</span></h2>
                </div>
                <span class="hiddentext" tabindex="201">신청내용 입력화면입니다. 입력내용 중 필수 입력 사항이 존재합니다.</span>
                <div class="content-item">
                    <div class="tit-area">
                        <h3 class="tit-area__tit">신청내용</h3>
                        <span class="essential-txt"><span>표시는 필수 입력 사항입니다.</span></span>
                    </div>
                    <form th:action id="form" th:object="${mntmgt}">
                        <div class="input-area">
                            <div class="input-list wd2">
                                <input type="hidden" th:field="*{rceptNo}" th:title="*{rceptNo}">
                                <div class="label essential"><span>분류</span></div>
                                <div class="input-box">
                                    <span class="hiddentext" tabindex="202">분류 입력 사항 설명으로 장애, 설치, 점검, 기타 분류 중 하나를 선택합니다. 필수 입력 항목이며, 좌우 이동 버튼으로 선택합니다.</span>
                                    <div class="radio-list align-center">
                                        <th:block th:each="type : ${maintenanceType}">
                                            <label class="radio-item" th:for="${type.getCCode()}">
                                                <input type="radio" th:field="*{maintenanceType}" th:value="${type.getCCode()}" th:id="${type.getCCode()}" th:title="${type.getCodeNm()}" tabindex="203">
                                                <span th:text="${type.getCodeNm()}" aria-hidden="true"></span>
                                            </label>
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                            <div class="input-list wd2">
                                <div class="label essential"><span>분류 상세</span></div>
                                <div class="input-box">
                                    <span class="hiddentext" tabindex="204">분류 상세 선택 항목 설명으로 H/W, S/W, 복합기, 기타 중 하나를 선택합니다. 필수 입력 항목이며, 상하 이동 버튼으로 선택합니다.</span>
                                    <select th:field="*{clSe}" tabindex="205">
                                        <option value="0">분류 상세를 선택해 주세요.</option>
                                        <option th:each="clse : ${maintenanceDetailsType}" th:text="${clse.codeNm}" th:value="${clse.cCode}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-list">
                                <div class="label essential"><span>업체 선택</span></div>
                                <div class="input-box">
                                    <span class="hiddentext" tabindex="206">업체 선택 항목 설명으로 계약 된 업체 중 한군데를 선택합니다. 필수 입력 항목이며, 상하 이동 버튼으로 선택합니다.</span>
                                    <select th:field="*{bizrno}" th:id="bizrno" tabindex="207">
                                        <option th:value="0">업체를 선택해 주세요.</option>
                                        <option th:each="compny : ${compnys}" th:text="${compny.cmpnyNm}" th:value="${compny.bizrno}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-list">
                                <div class="label essential"><span>연락처</span></div>
                                <div class="input-box">
                                    <span class="hiddentext" tabindex="208">연락처 입력란 설명입니다. 숫자만 입력가능하며, 필수 입력 항목입니다.</span>
                                    <input type="text" th:field="*{cttpcl}" oninput="autoHyphen(this)" title="연락처를 입력해 주세요" placeholder="연락처를 입력해 주세요" tabindex="209">
                                </div>
                            </div>
                            <div class="input-list">
                                <div class="label essential"><span>제목</span></div>
                                <div class="input-box tit">
                                    <span class="hiddentext" tabindex="210">제목 입력란 설명입니다. 필수 입력 항목입니다.</span>
                                    <input type="text" th:field="*{subject}" th:id="subject" title="제목을 입력해 주세요" placeholder="제목을 입력해 주세요" tabindex="211">
                                </div>
                            </div>
                            <div class="input-list">
                                <div class="label essential"><span>내용</span></div>
                                <div class="input-box">
                                    <span class="hiddentext" tabindex="212">내용 입력란 설명입니다. 필수 입력 항목입니다.</span>
                                    <textarea th:field="*{content}" id="content"  tabindex="213"></textarea>
                                </div>
                            </div>
                            <div class="input-list">
                                <div class="label"><span>첨부파일</span></div>
                                <div class="input-box" id="file-container">
                                    <div class="input-file">
                                        <div class="ico"><img src="/images/common/file_upload_ico.svg" alt=""></div>

                                        <p>파일을 드래그하여 업로드할 수 있습니다.</p>
                                        <label for="file_input" class="btn sky file-btn" tabindex="214">
                                            파일 업로드
                                            <input type="file" id="file_input" class="file-input" title="파일 업로드">
                                        </label>
                                    </div>
                                    <div class="filenames upload-list">
                                        <th:block th:if="${mntmgt.saveFiles.size() > 0}">
                                            <li class="file_wraper" th:each="file : ${mntmgt.saveFiles}">
                                                <th:block th:if="${file.atchAt eq 'O'}">
                                                    <input type="hidden" name="savedFileIds" th:value="${file.fileNo}"/>
                                                    <span th:if="${file.atchAt }" th:text="${file.orignlFileNm}"></span>
                                                    <button class="btn-remove" type="button" onclick="$files.removeFile(this)">
                                                        <img th:src="@{/images/common/file_delete_ico.svg}" alt="삭제">
                                                    </button>
                                                </th:block>
                                            </li>
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="btn-area">
                        <button class="btn gray" th:onclick="pageObj.cancel([[${rceptNo}]])" tabindex="216">취소</button>
                        <button th:text="${rceptNo == null} ? 등록 : 수정" class="btn blue" th:onclick="pageObj.save([[${rceptNo}]])" tabindex="215"></button>
                    </div>
                </div>
            </div>
            <footer th:replace="layout/footer :: footer"></footer>
        </div>
    </div>

<div id="smsModal" class="modal fade">
    <div class="modal-container txt-only">
        <div>
            <b>문자메세지 전송</b>
            문자메세지를 전송하시겠습니까?
        </div>
        <div class="modal-bottom">
            <button class="btn gray" onclick="smsSendConfirm(false)">아니오</button>
            <button class="btn blue" onclick="smsSendConfirm(true)">예</button>
        </div>
    </div>
</div>
</body>
</html>
