<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::#section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <th:block id="css">
        <style type="text/css">
            .hide{display:none;}
        </style>
    </th:block>

    <th:block id="script">
        <script th:inline="javascript">
            var boardType = [[${boardType}]];
            var boardMngId = [[${boardMngId}]];
            var categoryId = [[${categoryId}]];
            var defaultPageUrl = [[${defaultPageUrl}]];
        </script>
        <script type="text/javascript" th:src="@{/js/board/board_common.js}"></script>
        <script type="text/javascript" th:src="@{/js/board/board.js}"></script>
        <script type="text/javascript" th:src="@{/js/board/nuri.js}"></script>
    </th:block>
</head>
<body id="section">
<nav th:replace="layout/nav :: nav" class="lnb"></nav>
<!--담당자(직원) 관리(업체)-->
<div class="main-area">
    <div class="inner">
        <div class="main-container">
            <div class="page-tit__wrap">
                <ul class="breadcrumbs">
                    <li><img src="/images/common/home_ico.svg" alt="홈"></li>
                    <li>게시판 관리</li>
                    <li th:if="${boardType == 'gen'}">일반</li>
                    <li th:if="${boardType == 'qna'}">1:1 문의</li>
                    <li th:if="${boardType == 'ref'}">자료실</li>
                    <li>등록</li>
                </ul>
                <h2 class="page-tit" th:if="${boardType == 'gen'}">일반 등록</h2>
                <h2 class="page-tit" th:if="${boardType == 'qna'}">1:1 문의 등록</h2>
                <h2 class="page-tit" th:if="${boardType == 'ref'}">자료실 등록</h2>
            </div>
            <span class="hiddentext">게시물 등록 정보 입력화면입니다. 입력내용 중 필수 입력 사항이 존재합니다.</span>
            <form th:object="${result}">
                <input type="hidden" id="boardType" name="boardType" th:value="${boardType}">
                <div class="content">
                    <!-- 조건검색 -->

                    <div class="content-item">
                        <div class="tit-area">
                            <h3 class="tit-area__tit">등록 정보</h3>
                            <span class="essential-txt"><span>표시는 필수 입력 사항입니다.</span></span>
                        </div>
                        <div class="input-area">
                            <div class="input-list">
                                <div class="label essential"><span>기관 선택</span></div>
                                <div class="input-box responsive">
                                    <span class="hiddentext">카테고리 설명으로 카테고리를 선택합니다. 필수 입력 항목이며, 상하 이동 버튼으로 선택합니다.</span>
                                    <select id="org0" th:disabled="${useSe == 'USESE00006' or useSe == 'USESE00007' or useSe == 'USESE00008'}">
                                        <option value="">선택</option>
                                        <option value="N100000001">충청남도교육청</option>
                                    </select>
                                    <select id="org1" th:disabled="${useSe == 'USESE00006' or useSe == 'USESE00007'}"></select>
                                    <select id="org2" th:disabled="${useSe == 'USESE00006'}"></select>
                                    <input type="hidden" id="viewCd" name="viewCd" th:value="*{orgCd}" readonly>
                                    <input type="text" id="viewCdNm" name="viewCdNm" readonly>
                                </div>
                            </div>

                            <div class="input-list">
                                <div class="label essential"><span>카테고리 선택</span></div>
                                <div class="input-box">
                                    <span class="hiddentext">카테고리 설명으로 카테고리를 선택합니다. 필수 입력 항목이며, 상하 이동 버튼으로 선택합니다.</span>
                                    <select th:field="*{boardCategoryId}" title="카테고리" data="data essential">
                                        <option value="">선택</option>
                                        <option th:each="ctgry : ${ctgryList}" th:value="${ctgry.boardCategoryId}"
                                                th:text="${ctgry.categoryNm}"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="input-list" id="board_post">
                                <div class="label"><span>공지 여부</span></div>
                                <div class="input-box">
                                    <span class="hiddentext">공지 여부 설명으로 공지 여부를 선택합니다.</span>
                                    <div class="chk-list">
                                        <span class="hiddentext" >공지 여부 설명으로 공지 여부를 선택합니다.</span>
                                        <label class="chk-item" id="postAt">
                                            <input type="checkbox" th:field="*{postAt}" title="공지 여부" value="Y" data="data">
                                            <span>공지 여부</span>
                                        </label>
                                        <span class="hiddentext" >전체 공지 여부 설명으로 전체 공지 여부를 선택합니다.</span>
                                        <label class="chk-item" id="allPostAt">
                                            <input type="checkbox" th:field="*{allPostAt}" title="전체 공지 여부" value="Y" data="data">
                                            <span>전체 공지 여부</span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="input-list" id="board_secretAt">
                                <div class="label"><span>비밀글 여부</span></div>
                                <div class="input-box">
                                    <span class="hiddentext">비밀글 여부 설명으로 비밀글 여부를 선택합니다.</span>
                                    <div class="chk-list">
                                        <span class="hiddentext" >비밀글 여부 설명으로 비밀글 여부를 선택합니다.</span>
                                        <label class="chk-item">
                                            <input type="checkbox" id="secretAt" th:field="*{secretAt}" title="비밀글 여부"
                                                   value="Y" data="data">
                                            <span>비밀글 여부</span>
                                        </label>
                                    </div>
                                    <span class="help-txt">비밀글 여부 선택 시 비밀번호는 로그인 비밀번호로 설정됩니다.</span>
                                </div>
                            </div>

                            <div class="input-list" id="board_reserveDt">
                                <div class="label"><span>등록 예약일 설정</span></div>
                                <div class="input-box">
                                    <span class="hiddentext">등록 예약일 설정 설명으로 등록 예약일을 입력합니다.</span>
                                    <div class="date-box">
                                        <input type="text" class="datepicker" th:field="*{reserveDt}" title="등록 예약일" placeholder="등록 예약일을 선택해 주세요"
                                               data="data" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="input-list" id="board_wrtr">
                                <div class="label"><span>작성자 수신 여부</span></div>
                                <div class="input-box">
                                    <div class="chk-list">
                                        <span class="hiddentext" >작성자 수신 여부 설명으로 SMS 수신 여부를 선택합니다.</span>
                                        <label class="chk-item">
                                            <input type="checkbox" id="wrtrSmsAt" th:field="*{wrtrSmsAt}" title="SMS 수신 여부" value="Y" data="data">
                                            <span>SMS</span>
                                        </label>
                                        <span class="hiddentext" >작성자 수신 여부 설명으로 이메일 수신 여부를 선택합니다.</span>
                                        <label class="chk-item">
                                            <input type="checkbox" id="wrtrEmailAt" th:field="*{wrtrEmailAt}" title="이메일 수신 여부" value="Y" data="data">
                                            <span>이메일</span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="input-list">
                                <div class="label essential"><span>제목</span></div>
                                <div class="input-box tit">
                                    <span class="hiddentext">제목 설명으로 제목을 입력합니다. 필수 입력 항목입니다.</span>
                                    <input type="text" th:field="*{title}" title="제목" placeholder="제목을 입력해 주세요"
                                           data="data essential">
                                </div>
                            </div>

                            <div class="input-list">
                                <div class="label"><span>내용</span></div>
                                <div class="input-box">
                                    <span class="hiddentext">내용으로 내용을 입력합니다. 필수 입력 항목입니다.</span>
                                    <textarea th:field="*{content}" title="금지 단어" placeholder="내용을 입력해 주세요."
                                              data="data essential"></textarea>
                                </div>
                            </div>

                            <div class="input-list">
                                <div class="label"><span>첨부파일</span></div>
                                <div class="input-box" id="file-container">
                                    <div class="input-file">
                                        <div class="ico"><img src="/images/common/file_upload_ico.svg" alt=""></div>

                                        <p>파일을 드래그하여 업로드할 수 있습니다.</p>
                                        <label for="file_input" class="btn sky file-btn" tabindex="214">
                                            파일 업로드
                                            <input type="file" id="file_input" class="file-input" title="파일 업로드">
                                        </label>
                                    </div>
                                    <div class="filenames upload-list"></div>
                                </div>
                            </div>

                            <!-- 파일 넣어야함 -->

                            <div class="input-list">
                                <div class="label"><span>공공누리 적용</span></div>
                                <div class="input-box">
                                    <div class="kogl">
                                        <div class="top-txt">
                                            <p>저작권법 24조의2에 따라 국가나 지방자치단체, 공공기관이 업무상 작성하여 공표한 저작물이나 저작재산권 전부를 보유한 저작물은 국민이 허락 없이 이용할 수 있으며, 이에 따라 개방기관은 공공저작물 자유이용에 관한 표시를 하여야 합니다. </p>
                                        </div>

                                        <div class="codeview-area">
                                            <h4><img src="/images/kogl/title_codetype.gif" alt="공공누리 유형선택 open 공공저작물 자유이용 허락표시 기준적용"></h4>
                                            <ul>
                                                <li>
                                                    <label for="koglType1" class="radio-item">
                                                        <input type="radio" name="nuriNum" id="koglType1" value="1" onclick="fnKoglTypeSet(this);"/>
                                                        <img src="/images/kogl/img_opencode1.jpg" alt="공공누리 1유형" style="width:74px;height:27px;" />
                                                        1유형 : 출처표시 (상업적 이용 및 변경 가능)
                                                    </label>
                                                </li>
                                                <li>
                                                    <label for="koglType2" class="radio-item">
                                                        <input type="radio" name="nuriNum" id="koglType2" value="2" onclick="fnKoglTypeSet(this);"/>
                                                        <img src="/images/kogl/img_opencode2.jpg" alt="공공누리 2유형" style="width:91px;height:27px;"/>
                                                        2유형 : 출처표시 + 상업적이용금지
                                                    </label>
                                                </li>
                                                <li>
                                                    <label for="koglType3" class="radio-item">
                                                        <input type="radio" name="nuriNum" id="koglType3" value="3" onclick="fnKoglTypeSet(this);"/>
                                                        <img src="/images/kogl/img_opencode3.jpg" alt="공공누리 3유형" style="width:91px;height:27px;"/>
                                                        3유형 : 출처표시 + 변경금지
                                                    </label>
                                                </li>
                                                <li>
                                                    <label for="koglType4" class="radio-item">
                                                        <input type="radio" name="nuriNum" id="koglType4" value="4" onclick="fnKoglTypeSet(this);"/>
                                                        <img src="/images/kogl/img_opencode4.jpg" alt="공공누리 4유형" style="width:109px;height:27px;"/>
                                                        4유형 : 출처표시 + 상업적이용금지 + 변경금지
                                                    </label>
                                                </li>
                                                <li>
                                                    <label for="koglType5" class="radio-item">
                                                        <input type="radio" name="nuriNum" id="koglType5" value="5" onclick="fnKoglTypeSet(this);"/>
                                                        <img src="/images/kogl/img_opencode0.jpg" alt="자유이용 불가" style="width:109px;height:27px;"/>
                                                        자유이용 불가 (저작권법 제24조의2 제1항 제1호~제4호 중 어느 하나에 해당됨)
                                                    </label>
                                                </li>
                                            </ul>

                                            <h5><img src="/images/kogl/title_ex.gif" alt="유형선택 적용예시"/></h5>

                                            <div class="codeView01"  style="padding:17px 15px  17px 100px;"><img src="/images/kogl/img_opencode1.jpg" alt="공공누리 1유형" style="position:absolute;left:20px;top:25%;vertical-align:middle;width:74px;height:27px;" /> 본 공공저작물은 공공누리 "출처표시" 조건에 따라 이용할 수 있습니다.</div>
                                            <div class="codeView02 hide" style="padding:17px 15px  17px 120px;"><img src="/images/kogl/img_opencode2.jpg" alt="공공누리 2유형" style="position:absolute;left:20px;top:25%;vertical-align:middle;width:91px;height:27px;" /> 본  공공저작물은  공공누리  “출처표시+상업적이용금지”  조건에  따라  이용할  수  있습니다.</div>
                                            <div class="codeView03 hide" style="padding:17px 15px  17px 120px;;"><img src="/images/kogl/img_opencode3.jpg" alt="공공누리 3유형" style="position:absolute;left:20px;top:25%;vertical-align:middle;width:91px;height:27px;" /> 본  공공저작물은  공공누리  “출처표시+변경금지”  조건에  따라  이용할  수  있습니다.</div>
                                            <div class="codeView04 hide" style="padding:17px 15px  17px 140px;"><img src="/images/kogl/img_opencode4.jpg" alt="공공누리 4유형" style="position:absolute;left:20px;top:25%;vertical-align:middle;width:109px;height:27px;" />  본  공공저작물은  공공누리  “출처표시+상업적이용금지+변경금지”  조건에  따라  이용할  수  있습니다.</div>
                                            <div class="codeView05 hide" style="padding:17px 15px  17px 140px;"><img src="/images/kogl/img_opencode0.jpg" alt="자유이용 불가" style="position:absolute;left:20px;top:25%;vertical-align:middle;width:109px;height:27px;" /> 자유이용이 불가합니다.</div>
                                        </div>

                                        <div class="bottom-txt">
                                            <p> &middot; <strong>공공누리 제2~4유형</strong> 의 적용은 공동저작물 등 제3자의 권리가 포함된 저작물에 한하여 제3자의 이용허락 범위에 따라 <strong>제한적으로  적용</strong></p>
                                            <p> &middot; 공공저작권 관련 상담센터  <span> <img src="/images/kogl/icon_codetel.gif"  alt="전화번호" />1670-0052</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-area">
                            <a class="btn gray" href="javascript:void(0);" onclick="pageObj.mainPage()">취소</a>
                            <a class="btn blue" href="javascript:void(0);" onclick="pageObj.save()">저장</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <footer th:replace="layout/footer :: footer"></footer>
    </div>
</div>
</body>
</html>