<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::#section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <th:block id="css">
    </th:block>

    <th:block id="script">
        <script type="text/javascript" th:src="@{/js/report/report.js}"></script>
    </th:block>
</head>
<body id="section">
<nav th:replace="layout/nav :: nav" class="lnb"></nav>
<div class="main-area">
    <div class="inner">
        <div class="main-container">
            <div class="page-tit__wrap">
                <ul class="breadcrumbs">
                    <li><img src="/images/common/home_ico.svg" alt="홈"></li>
                    <li>점검보고서 상세</li>
                </ul>
                <h2 class="page-tit">점검보고서 상세</h2>
            </div>
            <div class="content-item">
                <div class="tit-area">
                    <h3 class="tit-area__tit">점검보고서 기본</h3>
                </div>
                <div class="input-area txt-only">
                    <div class="input-list">
                        <div class="label"><span>보고서 구분</span></div>
                        <div class="input-box" th:text="${result.reportClassification}"></div>
                    </div>
                    <div class="input-list">
                        <div class="label"><span>구분</span></div>
                        <div class="input-box" th:text="${result.jobSe}"></div>
                    </div>
                    <div class="input-list wd1">
                        <div class="label"><span>기간</span></div>
                        <div class="input-box" th:text="${result.period}"></div>
                    </div>
                </div>
                <div class="tit-area">
                    <h3 class="tit-area__tit">작성자 및 담당자 정보</h3>
                </div>
                <div class="input-area txt-only">
                    <div class="input-list">
                        <div class="label"><span>작성자</span></div>
                        <div class="input-box" th:text="${result.writer}"></div>
                    </div>
                    <div class="input-list">
                        <div class="label"><span>작성일자</span></div>
                        <div class="input-box" th:text="${#temporals.format(result.registDt, 'yyyy.MM.dd')}"></div>
                    </div>
                    <div class="input-list wd1">
                        <div class="label"><span>업체명</span></div>
                        <div class="input-box" th:text="${result.cmpnyNm}"></div>
                    </div>
                </div>
                <div class="input-area txt-only mt3" th:each="inCharge : ${result.inChargeInfos}">
                    <div class="input-list">
                        <div class="label"><span>담당자</span></div>
                        <div class="input-box" th:text="${inCharge.userNm}"></div>
                    </div>
                    <div class="input-list">
                        <div class="label"><span>연락처</span></div>
                        <div class="input-box" th:text="${inCharge.mbtlnum}"></div>
                    </div>
                    <div class="input-list wd1">
                        <div class="label"><span>메일주소</span></div>
                        <div class="input-box" th:text="${inCharge.email}"></div>
                    </div>
                </div>
                <div class="tit-area">
                    <h3 class="tit-area__tit">유지보수(소모품) 내역</h3>
                </div>
                <div class="table-container type1">
                    <table>
                        <colgroup>
                            <col width="10%">
                            <col width="10%">
                            <col width="5%">
                            <col width="10%">
                            <col width="*">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>요청자</th>
                            <th>접수일</th>
                            <th>담당자</th>
                            <th>완료일</th>
                            <th>제목/처리내용</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="detail : ${result.detailDtos}">
                            <td data-before="요청자" class="txt-hidden" th:text="${detail.applcnt}"></td>
                            <td data-before="접수일" class="txt-hidden" th:text="${#temporals.format(detail.rqstdt, 'yyyy.MM.dd')}"></td>
                            <td data-before="담당자" class="txt-hidden" th:text="${detail.cmpter}"></td>
                            <td data-before="완료일" class="txt-hidden" th:text="${#temporals.format(detail.comptDe, 'yyyy.MM.dd')}"></td>
                            <td class="main-txt report">
                                <p th:text="${detail.subject}"></p>
                                <span class="small gray block" th:text="${detail.processCn}"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="input-area txt-only mt3">
                    <div class="input-list wd1">
                        <div class="label"><span>기타 지원사항</span></div>
                        <div class="input-box" th:text="${result.memo}">입력 내용 출력</div>
                    </div>
                </div>
                <div class="btn-area">
                    <button type="button" class="btn gray" th:onclick="pageObj.view.list()">목록</button>
                </div>
            </div>
        </div>
        <footer th:replace="layout/footer :: footer"></footer>
    </div>
</div>
</body>
</html>