<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::#section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block id="css">
        <style>
            .table-container.type3 table {
                border-collapse: initial;
                border-spacing: 1px;
                border-top: 1px solid #000;
            }

            .table-container.type3 tr {
                position: relative;
                border-bottom: 0;
            }

            .table-container.type3 tr:first-of-type {
                border-top: 1px solid #000;
            }

            .table-container.type3 th,
            .table-container.type3 td {
                font-size: 14px !important;
            }

            .table-container.type3 th {
                padding: 6px;
                font-size: 0.938rem;
                font-weight: 500;
                text-align: center;
                white-space: nowrap;
                border-right: 1px solid #737373;
                border-bottom: 1px solid #737373;
                background: #f1f1f1;
                color: var(--txt-gray);
                vertical-align: middle;
                -webkit-print-color-adjust: exact !important;
                color-adjust: exact !important;
            }

            .table-container.type3 .abs-r {
                position: absolute;
                top: 50%;
                right: 12px;
                transform: translate(0, -50%);
            }

            .table-container.type3 td {
                padding: 6px;
                word-break: break-all !important;
                border-right: 1px solid #737373;
                border-bottom: 1px solid #737373;
            }

            .table-container.type3 th.bold {
                font-size: 18px !important;
                font-weight: 500;
                color: #000;
            }

            .table-container.type3 th:last-child,
            .table-container.type3 td:last-child {
                border-right: 0;
            }

            .table-container.type3 td:first-child {
                border-left: 0;
            }

            .table-container.type3 td:last-child {
                border-right: 0;
            }

            @media print {
                .table-container.type3 th,
                .table-container.type3 td {
                    font-size: 12px !important;
                }
            }
        </style>
    </th:block>
    <th:block id="script">
        <script type="text/javascript" th:src="@{/js/report/report.js}"></script>
        <script type="text/javascript" th:src="@{/js/print/print.js}"></script>
    </th:block>
</head>
<body id="section">
<nav th:replace="layout/nav :: nav" class="lnb"></nav>
<div class="main-area">
    <div class="inner">
        <div class="main-container">
            <div class="page-tit__wrap">
                <ul class="breadcrumbs">
                    <li><img src="/images/common/home_ico.svg" alt="홈"></li>
                    <li>점검보고서</li>
                </ul>
                <h2 class="page-tit">점검보고서</h2>
            </div>
            <form>
                <th:block th:if="${authority eq 'USESE00008' || authority eq 'USESE00007'}">
                    <div th:replace="utils/selectOrgCd::orgCdSeletboxDiv"></div>
                </th:block>
                <div class="search-container">
                    <th:block th:replace="utils/searchBar :: search16"></th:block>
                </div>
                <div class="content-item table-content">
                    <div class="table-container type1 cursor">
                        <div class="total">
                            <div class="total-box">
                                <span th:text="${institutionName}"></span>에 등록된 점검보고서 수
                                <b th:text="${result.getTotalElements()}"></b>
                            </div>
                        </div>
                        <table>
                            <colgroup>
                                <col width="5%">
                                <col width="10%">
                                <col width="10%">
                                <col width="*">
                                <col width="15%">
                                <col width="8%">
                                <col width="10%">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>No</th>
                                <th>기관(학교)명</th>
                                <th>업체명</th>
                                <th>제목</th>
                                <th>기간</th>
                                <th>등록일</th>
                                <th>인쇄</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="report, status : ${result}" th:id="${report.reprtNo}" class="content_tr">
                                <td data-before="No." class="txt-hidden num"
                                    th:text="${result.getTotalElements() - (result.pageable.getPageNumber()) * result.pageable.getPageSize() - status.index}"></td>
                                <td data-before="기관(학교)명" class="txt-hidden" th:text="${report.orgNm}"></td>
                                <td data-before="업체명" class="txt-hidden" th:text="${report.cmpnyNm}"></td>
                                <td class="main-txt tit" th:text="${report.subject}"
                                    th:onclick="pageObj.view.detail([[${report.reprtNo}]])"></td>
                                <td data-before="기간" class="txt-hidden"
                                    th:text="${#temporals.format(report.bgnde, 'yyyy.MM.dd')} + ' ~ ' + ${#temporals.format(report.endde, 'yyyy.MM.dd')}"></td>
                                <td data-before="등록일" class="txt-hidden"
                                    th:text="${#temporals.format(report.registDt, 'yyyy.MM.dd')}"></td>
                                <td class="button">
                                    <button type="button" class="btn sky"
                                            th:onclick="getReportModal([[${report.reprtNo}]])">인쇄
                                    </button>
                                </td>
                            </tr>
                            <tr th:if="${result.content.size() < 1}" class="empty">
                                <td colspan="10">
                                    <img src="/images/common/empty_ico.svg" alt="">
                                    <p>등록된 데이터가 없습니다.</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <th:block th:replace="utils/pagination :: pagination(${result})"></th:block>
                    <th:block th:replace="print/reportPrint :: printModal"></th:block>
                </div>
            </form>
        </div>

        <footer th:replace="layout/footer :: footer"></footer>
    </div>
</div>
</body>
</html>