<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::#section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <th:block id="css">
    </th:block>

    <th:block id="script">
        <script th:src="@{/js/user/instt.js}"></script>
    </th:block>
</head>
<body id="section">
<nav th:replace="layout/nav :: nav" class="lnb"></nav>
<!--마이페이지(교육청, 지원청, 학교)-->
<div class="main-area">
    <div class="inner">
        <div class="main-container">
            <div class="page-tit__wrap">
                <ul class="breadcrumbs">
                    <li><img src="/images/common/home_ico.svg" alt="홈"></li>
                    <li>마이페이지</li>
                </ul>
                <h2 class="page-tit">마이페이지</h2>
            </div>
            <div class="content-item" th:object="${result}">
                <input type="hidden" id="chkDsptcAt" th:value="${dsptcAt}" th:title="${dsptcAt}">

                <div class="tit-area">
                    <h3 class="tit-area__tit">기본정보</h3>
                </div>
                <div class="input-area txt-only">
                    <div class="input-list">
                        <div class="label"><span>이름</span></div>
                        <div class="input-box" th:text="*{userNm}"></div>
                    </div>
                    <div class="input-list">
                        <div class="label"><span>아이디</span></div>
                        <div class="input-box" th:text="*{usid}"></div>
                    </div>
                    <div class="input-list">
                        <div class="label"><span>연락처</span></div>
                        <div class="input-box" th:text="*{telno}"></div>
                    </div>
                    <div class="input-list">
                        <div class="label"><span>소속 교육청</span></div>
                        <div class="input-box">충청남도 교육청</div>
                    </div>
                    <div class="input-list wd1">
                        <div class="label"><span>소속</span></div>
                        <div class="input-box" th:text="${section}"></div>
                    </div>
                    <div class="input-list wd1" th:if="${dsptcAt == 'Y'}">
                        <div class="label"><span>파견 정보</span></div>
                        <div class="input-box" th:text="${dsptcOrgCd}"></div>
                    </div>
                </div>
                <div class="tit-area">
                    <h3 class="tit-area__tit">추가 정보 입력</h3>
                    <p class="tit-area__desc">메신저 연계 자동 로그인이 안 되거나 비밀번호 분실 시 필요한 정보입니다.</p>
                    <span class="essential-txt">표시는 필수 입력 사항입니다.</span>
                </div>
                <div class="input-area">
                    <div class="input-list">
                        <div class="label"><span>임시 비밀번호</span></div>
                        <div class="input-box">
                            <input type="password" id="password" placeholder="영문+숫자+특수문자(!@#$) 포함 9~12 이내" title="임시 비밀번호">
                        </div>
                    </div>
                    <div class="input-list">
                        <div class="label"><span>임시 비밀번호 확인</span></div>
                        <div class="input-box">
                            <input type="password" id="rePassword" placeholder="영문+숫자+특수문자(!@#$) 포함 9~12 이내" title="임시 비밀번호 확인">
                        </div>
                    </div>
                    <div class="input-list">
                        <div class="label"><span>이메일</span></div>
                        <div class="input-box">
                            <input type="text" th:field="*{email}" placeholder="이메일을 입력해 주세요" formatter='email' title="이메일">
                        </div>
                    </div>
                </div>
                <div class="tit-area" th:if="${dsptcAt.equals('N')}">
                    <h3 class="tit-area__tit">파견 정보 입력</h3>
                    <p class="tit-area__desc">파견 근무 시에만 작성해 주세요.</p>
                </div>
                <div class="input-area" id="dsptcDiv" th:if="${dsptcAt.equals('N')}">
                    <div class="input-list">
                        <div class="label"><span>파견 여부</span></div>
                        <div class="input-box">
                            <select id="dsptcAt" name="dsptcAt">
                                <option value="B" selected>해당없음</option>
                                <option value="Y">파견근무</option>
                                <option value="N">파견종료</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div id="date-package" class="input-area" style="border-top: 0;">
                    <div class="input-list">
                        <div class="label essential"><span>파견 기간</span></div>
                        <div class="input-box date">
                            <div class="date-box">
                                <input type="text" id="startDate" class="datepicker" placeholder="시작일" title="시작일">
                            </div>
                            <div class="date-box">
                                <input type="text" id="endDate" class="datepicker" placeholder="종료일" title="종료일">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="terms-box center mt4" id="dsptcAgre">
                    <div class="txt-box">
                        <p class="bold">
                            신청인(본인)은 파견지 승인이 완료되면 <span class="blue">기존에 소속된 곳에서의 권한은 상실</span>하게 되며 <br/>
                            <span class="blue">파견지에서 새로운 권한을 부여</span>받게 됩니다.
                        </p>
                        <span>해당 내용을 인지하였고 내용에 동의합니다.</span>
                    </div>
                    <label class="chk-item">
                        <input type="checkbox" id="chk4" name="agreAt" title="체크박스">
                        <span>파견근무지로 권한 변경에 동의합니다.</span>
                    </label>
                </div>


                <div class="btn-area">
                    <!--                    <button class="btn gray">취소</button>-->
                    <button class="btn blue" onclick="pageObj.save()">저장</button>
                </div>
            </div>
            <footer th:replace="layout/footer :: footer"></footer>
        </div>
    </div>
</div>
</body>
</html>