<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::#section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <th:block id="css">
    </th:block>

    <th:block id="script">
        <script th:src="@{/js/user/user.js}"></script>
    </th:block>
</head>
<body id="section">
<nav th:replace="layout/nav :: nav" class="lnb"></nav>
<!--내 정보 수정(업체)-->
    <div class="main-area">
        <div class="inner">
            <div class="main-container">
                <div class="page-tit__wrap">
                    <ul class="breadcrumbs">
                        <li><img src="/images/common/home_ico.svg" alt="홈"></li>
                        <li>마이페이지</li>
                    </ul>
                    <h2 class="page-tit">마이페이지</h2>
                </div>
                <div class="content-item">
                    <div class="txt-box alert-box" th:if="${#authentication.principal.changeAt != null}">
                        <p>
                            아이디 <span th:text="${result.userId}"></span> 님은 기존 회원이십니다. <br/>
                            학교 정보화장비 장애관리시스템 개편으로 인하여 이관된 개인 정보 확인 및 추가 정보 입력이 필요합니다. <br/>
                            <span class="red">업체(대표) 혹은 담당자(직원) 여부를 반드시 체크하시기 바랍니다.</span>
                        </p>
                    </div>
                    <div class="tit-area">
                        <h3 class="tit-area__tit">기본 정보 입력</h3>
                        <span class="essentail-txt">표시는 필수 입력 사항입니다.</span>
                    </div>
                    <div class="input-area">
                        <div class="input-list">
                            <div class="label"><span>아이디</span></div>
                            <div class="input-box">
                                <input type="text" th:field="*{userId}" placeholder="아이디를 입력해 주세요" title="아이디" readonly>
                            </div>
                        </div>
                        <div class="input-list">
                            <div class="label"><span>비밀번호 변경</span></div>
                            <div class="input-box">
                                <input type="password" th:field="*{password}" placeholder="영문+숫자+특수문자(!@#$) 포함 9~12 이내" title="비밀번호 변경">
                            </div>
                        </div>
                        <div class="input-list">
                            <div class="label"><span>비밀번호 변경 확인</span></div>
                            <div class="input-box">
                                <input type="password" id="rePassword" placeholder="영문+숫자+특수문자(!@#$) 포함 9~12 이내" title="비밀번호 변경 확인">
                            </div>
                        </div>
                        <div class="input-list">
                            <div class="label essential"><span>이름(실명)</span></div>
                            <div class="input-box">
                                <input type="text" th:field="*{userNm}"
                                       title="이름(실명)" valid="notNull"
                                       placeholder="이름(실명)을 입력해 주세요">
                            </div>
                        </div>
                        <div class="input-list">
                            <div class="label essential"><span>휴대폰</span></div>
                            <div class="input-box">
                                <input type="text" th:field="*{mbtlnum}" placeholder="휴대폰을 입력해 주세요" title="휴대폰" formatter='phoneNum'>
                            </div>
                        </div>
                        <div class="input-list">
                            <div class="label essential"><span>이메일</span></div>
                            <div class="input-box">
                                <input type="text" th:field="*{email}" placeholder="이메일을 입력해 주세요" title="이메일" formatter='email'>
                            </div>
                        </div>
                    </div>
                    <div class="tit-area">
                        <h3 class="tit-area__tit">사용자 구분 선택</h3>
                    </div>
                    <div class="input-area">
                        <div class="input-list">
                            <div class="label essential"><span>구분</span></div>
                            <div class="input-box">
                                <div class="radio-list">
                                    <label class="radio-item">
                                        <input type="radio" name="useSe" value="USESE00002" title="업체">
                                        <span>업체</span>
                                    </label>
                                    <label class="radio-item">
                                        <input type="radio" name="useSe" value="USESE00003" title="담당자">
                                        <span>담당자</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:replace="user/edit/module/repModule :: rep"></div>
                    <div th:replace="user/edit/module/empModule :: emp"></div>
                    <div class="btn-area">
                        <!--                    <a class="btn gray" href="javascript:void(0);">취소</a>-->
                        <a class="btn blue" href="javascript:void(0);" onclick="pageObj.update()" title="저장">저장</a>
                    </div>
                </div>
            </div>
            <footer th:replace="layout/footer :: footer"></footer>
        </div>
    </div>
</body>
</html>
