<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::#section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <th:block id="css">
    </th:block>

    <th:block id="script">
        <script th:src="@{/js/user/mypage/emp.js}"></script>
    </th:block>
</head>
<body id="section">
<nav th:replace="layout/nav :: nav" class="lnb"></nav>
<!--내 정보 수정(업체)-->
    <div class="main-area">
        <div class="inner">
            <div class="main-container">
                <div class="page-tit__wrap">
                    <ul class="breadcrumbs">
                        <li><img src="/images/common/home_ico.svg" alt="홈"></li>
                        <li>마이페이지</li>
                    </ul>
                    <h2 class="page-tit">마이페이지</h2>
                </div>
                <div class="content-item" th:object="${user}">
                    <div class="tit-area">
                        <h3 class="tit-area__tit">기본 정보 입력</h3>
                        <span class="essential-txt">표시는 필수 입력 사항입니다.</span>
                    </div>
                    <div class="input-area">
                        <div class="input-list">
                            <div class="label"><span>아이디</span></div>
                            <div class="input-box">
                                <input type="text" id="usid" name="usid" th:value="*{getFormattedUsid()}" placeholder="아이디를 입력해 주세요" title="아이디" readonly>
                                <input type="hidden" id="useSe" th:value="*{useSe.code}" title="아이디">
                            </div>
                        </div>
                        <div class="input-list">
                            <div class="label"><span>비밀번호 변경</span></div>
                            <div class="input-box">
                                <input type="password" th:field="*{password}" placeholder="영문+숫자+특수문자(!@#$) 포함 9~12 이내" title="비밀번호 변경">
                            </div>
                        </div>
                        <div class="input-list">
                            <div class="label"><span>비밀번호 변경 확인</span></div>
                            <div class="input-box">
                                <input type="password" id="rePassword" placeholder="영문+숫자+특수문자(!@#$) 포함 9~12 이내" title="비밀번호 변경 확인">
                            </div>
                        </div>
                        <div class="input-list">
                            <div class="label essential"><span>이름(실명)</span></div>
                            <div class="input-box">
                                <input type="text" th:field="*{userNm}"
                                       title="이름(성명)" valid="notNull"
                                       placeholder="이름(실명)을 입력해 주세요">
                            </div>
                        </div>
                        <div class="input-list">
                            <div class="label essential"><span>휴대폰</span></div>
                            <div class="input-box">
                                <input type="text" valid="phone" th:field="*{mbtlnum}" placeholder="휴대폰을 입력해 주세요" title="휴대폰" formatter='phoneNum'>
                            </div>
                        </div>
                        <div class="input-list">
                            <div class="label essential"><span>이메일</span></div>
                            <div class="input-box">
                                <input type="text" th:field="*{email}" placeholder="이메일을 입력해 주세요" title="이메일" formatter='email'>
                            </div>
                        </div>
                    </div>
                    <div class="tit-area">
                        <h3 class="tit-area__tit">담당업무 내역</h3>
                    </div>
                    <div class="input-area txt-only">
                        <div class="input-list wd1">
                            <div class="label"><span>담당 업무</span></div>
                            <div class="input-box" id="work" th:text="${hist.chrgJob}"></div>
                        </div>
                        <div class="input-list wd1">
                            <div class="label"><span>장애관리 담당 기관(학교)</span></div>
                            <div class="input-box" id="maintenance" th:text="${hist.mainList}">장기초등학교, 우성중학교</div>
                        </div>
                        <!--<div class="input-list">
                            <div class="label"><span>소모품 담당 기관(학교)</span></div>
                            <div class="input-box" id="expendables" th:text="${hist.consList}">대동고등학교</div>
                        </div>-->
                    </div>
                    <div class="tit-area">
                        <h3 class="tit-area__tit">업체 정보 입력</h3>
                    </div>
                    <div class="input-area">
                        <div class="input-list">
                            <div class="label"><span>사업자번호 조회</span></div>
                            <div class="input-box input-btn">
                                <input type="hidden" id="mntmgtChk" th:value="${mntmgtCount}" th:title="${mntmgtCount}" disabled>
                                <input type="text" id="empBizrno" name="bizrno" th:value="*{cmpny.formattedBizrno()}" title="사업자번호 조회" placeholder="사업자번호를 입력해 주세요" formatter='bizrno'>
                                <button type="button" class="btn sky" onclick="pageObj.bizrnoCheck(this)">조회</button>
                            </div>
                        </div>
                        <div class="input-list">
                            <div class="label"><span>업체명 확인</span></div>
                            <div class="input-box">
                                <input type="text" id="cmpnyNm" name="cmpnyNm" th:value="*{cmpny.cmpnyNm}" title="업체명 확인" placeholder="업체명 확인" readonly>
                            </div>
                        </div>
                        <div class="input-list">
                            <div class="label"><span>직책</span></div>
                            <div class="input-box">
                                <select id="position" name="position">
                                    <option value="">선택</option>
                                    <th:block th:if="*{rspofcSe != null}">
                                        <th:block th:each="position : ${positions}">
                                            <option th:value="${position.code}" th:text="${position.codeNm}" th:selected="${position.code} == *{rspofcSe.code}"></option>
                                        </th:block>
                                    </th:block>
                                    <th:block th:if="*{rspofcSe == null}">
                                        <th:block th:each="position : ${positions}">
                                            <option th:value="${position.code}" th:text="${position.codeNm}"></option>
                                        </th:block>
                                    </th:block>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="btn-area">
                        <!--                    <a class="btn gray" href="javascript:void(0);">취소</a>-->
                        <a class="btn blue" href="javascript:void(0);" onclick="pageObj.update()" title="저장">저장</a>
                    </div>
                </div>
            </div>
            <footer th:replace="layout/footer :: footer"></footer>
        </div>
    </div>
</body>
</html>
