<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::#section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <th:block id="css">
    </th:block>

    <th:block id="script">
        <script th:src="@{/js/user/mypage/rep.js}"></script>
    </th:block>
</head>
<body id="section">
<nav th:replace="layout/nav :: nav" class="lnb"></nav>
<!--내 정보 수정(업체)-->
    <div class="main-area">
        <div class="inner">
            <div class="main-container">
                <div class="page-tit__wrap">
                    <ul class="breadcrumbs">
                        <li><img src="/images/common/home_ico.svg" alt="홈"></li>
                        <li>마이페이지</li>
                    </ul>
                    <h2 class="page-tit">마이페이지</h2>
                </div>
                <div class="content-item" th:object="${user}">
                    <!--            <div class="help-comment top" th:if="${#authentication.principal.changeAt != null}">-->
                    <!--                아이디 <span th:text="${result.userId}"></span> 님은 기존 회원이십니다.-->
                    <!--                <br>-->
                    <!--                학교 정보화장비 장애관리시스템 개편으로 인하여 이관된 개인 정보 확인 및 추가 정보 입력이 필요합니다.-->
                    <!--                <br>-->
                    <!--                <span class="red">업체(대표) 혹은 담당자(직원) 여부를 반드시 체크하시기 바랍니다.</span>-->
                    <!--            </div>-->

                    <input type="hidden" id="authority" title="권한" th:value="${authority}">
                    <div class="tit-area">
                        <h3 class="tit-area__tit">기본 정보 입력</h3>
                        <span class="essential-txt">표시는 필수 입력 사항입니다.</span>
                    </div>
                    <div class="input-area">
                        <div class="input-list">
                            <div class="label"><span>아이디</span></div>
                            <div class="input-box">
                                <input type="text" id="usid" name="usid" th:value="*{getFormattedUsid()}" placeholder="아이디를 입력해 주세요" title="아이디" readonly>
                            </div>
                        </div>
                        <div class="input-list">
                            <div class="label"><span>비밀번호 변경</span></div>
                            <div class="input-box">
                                <input type="password" th:field="*{password}" placeholder="영문+숫자+특수문자(!@#$) 포함 9~12 이내" title="비밀번호 변경">
                            </div>
                        </div>
                        <div class="input-list">
                            <div class="label"><span>비밀번호 변경 확인</span></div>
                            <div class="input-box">
                                <input type="password" id="rePassword" placeholder="영문+숫자+특수문자(!@#$) 포함 9~12 이내" title="비밀번호 변경 확인">
                            </div>
                        </div>
                        <div class="input-list">
                            <div class="label essential"><span>이름(실명)</span></div>
                            <div class="input-box">
                                <input type="text" th:field="*{userNm}"
                                       title="이름(성명)" valid="notNull"
                                       placeholder="이름(실명)을 입력해 주세요">
                            </div>
                        </div>
                        <div class="input-list">
                            <div class="label essential"><span>휴대폰</span></div>
                            <div class="input-box">
                                <input type="text" valid="phone" th:field="*{mbtlnum}" placeholder="휴대폰을 입력해 주세요" title="휴대폰" formatter='phoneNum'>
                            </div>
                        </div>
                        <div class="input-list">
                            <div class="label essential"><span>이메일</span></div>
                            <div class="input-box">
                                <input type="text" th:field="*{email}" placeholder="이메일을 입력해 주세요" title="이메일" formatter='email'>
                            </div>
                        </div>
                    </div>

                    <div class="tit-area">
                        <h3 class="tit-area__tit">업체 정보 입력</h3>
                        <p class="tit-area__desc">업체 정보를 입력해 주세요.</p>
                    </div>
                    <form>
                        <div class="input-area">
                            <div class="input-list">
                                <div class="label essential"><span>업체명</span></div>
                                <div class="input-box">
                                    <input type="text" id="cmpnyNm" name="cmpnyNm" th:value="*{cmpny.cmpnyNm}" placeholder="업체명을 입력해 주세요" title="업체명">
                                </div>
                            </div>
                            <div class="input-list">
                                <div class="label essential"><span>사업자번호</span></div>
                                <div class="input-box input-btn">
                                    <input type="text" id="repBizrno" name="bizrno" th:value="*{cmpny.formattedBizrno()}" placeholder="를 입력해 주세요" title="사업자번호" formatter='bizrno'>
                                    <button type="button" id="bizBtn" class="btn sky" onclick="pageObj.bizrnoCheck(this)">조회</button>
                                </div>
                            </div>
                            <div class="input-list">
                                <div class="label"><span>사업자등록증</span></div>
                                <div class="input-box" id="file-container">
                                    <div class="input-file">
                                        <div class="ico"><img src="/images/common/file_upload_ico.svg" alt="사업자등록증"></div>
                                        <p>파일을 드래그하여 업로드할 수 있습니다.</p>
                                        <label for="file_input" class="btn sky file-btn">
                                            파일 업로드

                                            <!--여러개-->
                                            <!--                            <input type="file" id="file_input" class="file-input"/>-->

                                            <!-- 하나만 올릴때 -->
                                            <input type="file" id="file_input" class="only-input" title="파일"/>
                                        </label>
                                    </div>
                                    <div class="filenames upload-list">
                                        <li class="file_wraper" th:if="*{cmpny.cmpnyFile != null}">
                                            <input type="hidden" name="savedFileIds" th:value="*{cmpny.cmpnyFile.fileNo}" title="파일" />
                                            <a th:href="@{|/api/v1/files/attach/cmpny/*{cmpny.cmpnyFile.fileNo}|}" title="파일"><span th:text="*{cmpny.cmpnyFile.orignlFileNm}"></span></a>
                                            <button class="btn-remove" type="button" onclick="$files.removeFile(this)"><img th:src="@{/images/common/file_delete_ico.svg}" alt="삭제"></button>
                                        </li>
                                    </div>
                                </div>
                            </div>
                            <div class="input-list">
                                <div class="label essential"><span>주소</span></div>
                                <div class="input-box address">
                                    <div>
                                        <input type="text" id="zip" name="zip" th:value="*{cmpny.zip}" placeholder="우편번호"  title="우편번호" readonly>
                                        <button type="button" class="btn sky" onclick="$api.addressApi()">주소검색</button>
                                    </div>
                                    <div>
                                        <input type="text" id="adres" name="adres" th:field="*{cmpny.adres}" placeholder="주소" title="주소" readonly>
                                        <input type="text" id="detailAdres" name="detailAdres" th:field="*{cmpny.detailAdres}" title="상세주소" placeholder="상세주소를 입력해 주세요">
                                    </div>
                                    <div>
                                        <input type="text" id="ctprvn" name="ctprvn" th:field="*{cmpny.ctprvn}" placeholder="시도" title="시도" readonly>
                                        <input type="text" id="signgu" name="signgu" th:field="*{cmpny.signgu}" placeholder="시군구" title="시군구" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="input-list">
                                <div class="label"><span>대표 번호</span></div>
                                <div class="input-box">
                                    <input type="text" id="reprsntTelno" th:name="reprsntTelno" th:value="*{cmpny.reprsntTelno}" name="1111sasa" placeholder="대표 번호를 입력해 주세요" title="대표번호" formatter='phoneNum'>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="btn-area">
                        <!--                    <a class="btn gray" href="javascript:void(0);">취소</a>-->
                        <a class="btn blue" href="javascript:void(0);" onclick="pageObj.update()" title="저장">저장</a>
                    </div>
                </div>
            </div>
            <footer th:replace="layout/footer :: footer"></footer>
        </div>
    </div>
</body>
</html>
